Repository aws/deep-learning-containers, pull requests merged in 2021-12, with the labels that each got.

#1558 Added sagemaker training compiler to available images
  available_images.md
Labels: Size:XS

#1498 [test][sagemaker] Adding smart retry to sagemaker remote tests
  dlc_developer_config.toml
  test/sagemaker_tests/autogluon/inference/conftest.py
  test/sagemaker_tests/autogluon/training/conftest.py
  test/sagemaker_tests/huggingface/inference/conftest.py
  test/sagemaker_tests/huggingface_pytorch/training/conftest.py
  test/sagemaker_tests/huggingface_tensorflow/training/integration/conftest.py
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
  test/sagemaker_tests/pytorch/inference/conftest.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/test_utils/pytest_cache.py
  test/test_utils/sagemaker.py
  test/testrunner.py
Labels: build, test, tensorflow, Size:S, sagemaker_tests

#1561 [build][test][tensorflow] TF2.6.2 related changes for the release
  tensorflow/training/docker/2.6/py3/Dockerfile.cpu
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
  test/sagemaker_tests/tensorflow/tensorflow2_training/requirements.txt
Labels: build, test, tensorflow, Size:XS, Size:S, sagemaker_tests

#1560 [build]|[test]|[Pytorch] PT1.9.1 related changes for the release
  pytorch/training/docker/1.9/py3/Dockerfile.cpu
  pytorch/training/docker/1.9/py3/cu111/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/requirements.txt
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#1559 [graviton]pytorch 1.10.0 and tensorflow 2.7.0 release
  release_images.yml
Labels: Size:S, graviton, release

#1563 [graviton] release PT1.10 and TF2.7
  release_images.yml
Labels: Size:XS

#1565 [graviton] remove TF2.7 and PT1.10 x86 configuration from release_images.yml
  release_images.yml
Labels: Size:S

#1562 [graviton][doc]add pytorch 1.10.0 and tensorflow 2.7.0 image
  available_images.md
Labels: documentation, Size:XS, graviton

#1564 [Tensorflow][Pytorch] Release images for PT1.9.1 and TF2.6.2
  release_images.yml
Labels: Size:XS

#1556 [bug] Fix graviton skip condition for coverage doc test
  test/dlc_tests/sanity/quick_checks/test_generate_coverage_doc.py
Labels: test, sanity, Size:XS

#1566 [mxnet][test][sagamaker] Refactored mxnet SM multi-region tests
  dlc_developer_config.toml
  test/sagemaker_tests/mxnet/training/__init__.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_gluonnlp.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_horovod.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_training.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_tuning.py
Labels: test, Size:S, sagemaker_tests

#1484 [build] [TensorFlow] Studio analytics Library Version update for TF2.6
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.6/py3/Dockerfile.cpu
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_utility_installation.py
Labels: build, test, tensorflow, sanity, Size:S

#1485 [build] [PyTorch] Studio analytics Library Version update for PT1.8
  pytorch/buildspec.yml
  pytorch/training/docker/1.8/py3/Dockerfile.cpu
  pytorch/training/docker/1.8/py3/cu111/Dockerfile.gpu
Labels: build, test, pytorch, sanity, Size:XS, Size:S

#1577 Add buildspec support for Huggingface Neuron
  buildspec.yml
Labels: Size:XS

#1574 [pytorch][test][sagemaker]Add smdmp gpt2 test
  pytorch/training/docker/1.8/py3/cu111/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/integration/__init__.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/data_pipeline.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/__init__.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/fp16.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/fp16util.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/loss_scaler.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/megatron/clip_grads.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/megatron/fp16.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/fp16/megatron/grad_scaler.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/learning_rates.py
  test/sagemaker_tests/pytorch/training/resources/gpt2/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/gpt2/train_gpt_simple.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#1583 [test] fix typo
  test/dlc_tests/sanity/test_utility_installation.py
Labels: test, sanity, Size:XS

#1585 Update release images yaml
  release_images.yml
Labels: Size:XS

#1586 [canary] Add huggingface inference canaries
  test/test_utils/__init__.py
Labels: Size:XS

#1587 [canary] Temporarily unskip dependency check on canaries
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#1589 [canary] Update huggingface canary logic
  test/test_utils/__init__.py
Labels: Size:XS

#1592 [pytorch][release] pytorch 1.8 training image relase set force_release to true
  release_images.yml
Labels: Size:XS

#1593 Re-enable canary skip conditions on dependency check
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#1596 [Pytorch][release] revert force release
  release_images.yml
Labels: Size:XS

#1597 Update MMS version in HF PT1.8
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/buildspec-1-8-1.yml
  huggingface/pytorch/inference/docker/1.8/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.8/py3/cu111/Dockerfile.gpu
Labels: build, huggingface, Size:S

#1602 [huggingface][pytorch] Update MMS version to latest for HF PT 1.8
  huggingface/pytorch/inference/docker/1.8/py3/Dockerfile.cpu
Labels: build, huggingface, Size:XS

#1603 [mxnet] Update MMS version in MXNet 1.8 inference images
  mxnet/buildspec.yml
  mxnet/inference/docker/1.8/py3/Dockerfile.cpu
  mxnet/inference/docker/1.8/py3/cu110/Dockerfile.gpu
Labels: build, mxnet, Size:S

#1604 Update MMS for HF PT
  huggingface/pytorch/buildspec.yml
  huggingface/pytorch/inference/docker/1.8/py3/cu111/Dockerfile.gpu
  huggingface/pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S

#1601 Cleared release_images.yml. Moved all content into release_images_tem…
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1605 [mxnet] Release mxnet 1.8 inference containers
  release_images.yml
Labels: Size:XS

#1607 [huggingface][pytorch] Release HF pytorch 1.9.1 images
  release_images.yml
Labels: Size:XS

#1610 [pytorch][release] release pt1.8.1
  release_images.yml
Labels: Size:S

#1606 Update torchserve version 0.5.2 that ships with log4j 2.17.0
  pytorch/buildspec.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  release/resources/important_dlc_packages.yml
Labels: build, pytorch, Size:S

#1612 [pytorch][release] remove pt1.8 image from release yml
  release_images.yml
Labels: Size:S

#1614 [Fix] ignore dependency-check dependency
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#1615 [pytorch] | [graviton] | [build] | [ec2, ecs, eks, sagemaker] Use released version of TS 0.5.2 instead of building from source
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
Labels: build, pytorch, Size:XS, Size:S
