Repository aws/deep-learning-containers, pull requests merged in 2021-10, with the labels that each got.

#1402 [test] Add back safety check skip conditions
  test/dlc_tests/sanity/test_safety_check.py
Labels: bug

#1404 [pytorch] Add sample dockerfiles for PT1.9 DIY/SM
  pytorch/buildspec-1-9-diy-sm.yml
  pytorch/inference/docker/1.9/py3/.diy_sm_examples/Dockerfile.diy.cpu
  pytorch/inference/docker/1.9/py3/.diy_sm_examples/Dockerfile.sagemaker.cpu
  pytorch/inference/docker/1.9/py3/.diy_sm_examples/cu111/Dockerfile.diy.gpu
  pytorch/inference/docker/1.9/py3/.diy_sm_examples/cu111/Dockerfile.sagemaker.gpu
  pytorch/training/docker/1.9/py3/.diy_sm_examples/Dockerfile.diy.cpu
  pytorch/training/docker/1.9/py3/.diy_sm_examples/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.9/py3/.diy_sm_examples/cu111/Dockerfile.diy.gpu
  pytorch/training/docker/1.9/py3/.diy_sm_examples/cu111/Dockerfile.sagemaker.gpu
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: pytorch, diy_container, sagemaker_container

#1460 [build][pytorch] Fix PT 1.6.0 Inference DLC safety vulnerabilities
  pytorch/inference/docker/1.6.0/py3/Dockerfile.cpu
  pytorch/inference/docker/1.6.0/py3/cu101/Dockerfile.gpu
Labels: improvement, pytorch
