Repository aws/deep-learning-containers, pull requests merged in 2021-11, with the labels that each got.

#1477 [release] Add PT 1.6 inference to release images
  release_images.yml
Labels: Size:S

#1458 [pytorch] [build] [SM] PyTorch 1.10.0 Inference
  pytorch/buildspec.yml
Labels: build, pytorch, Size:S

#1455 [canary] Update canary logic to support e3 images
  test/dlc_tests/conftest.py
  test/test_utils/__init__.py
  test/testrunner.py
Labels: Size:S

#1474 [huggingface_tensorflow, huggingface_pytorch] update for Transformers to 4.12.3
  huggingface/pytorch/buildspec.yml
  huggingface/pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
  huggingface/pytorch/training/docker/1.9/py3/cu111/Dockerfile.gpu
  huggingface/tensorflow/buildspec.yml
  test/sagemaker_tests/huggingface_tensorflow/training/resources/local_scripts/train.py
  test/sagemaker_tests/huggingface_tensorflow/training/resources/scripts/train.py
Labels: build, test, huggingface, Size:S, sagemaker_tests

#1486 [pytorch] Add e3 PT1.10 images to available_images.md
  available_images.md
Labels: Size:XS

#1473 [graviton][pytorch][build] graviton pytorch 1.10
  pytorch/buildspec-graviton.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton
Labels: build, pytorch, Size:S, graviton

#1479 [mxnet][neuron][test][sagemaker] Fix neuron tests skipping fixtures
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_batch_transform.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_elastic_inference.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_gluonnlp.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_hosting.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_neuron_hosting.py
Labels: test, Size:XS, Size:S, sagemaker_tests

#1487 [huggingface][release] Prepare release_images.yml for transformers 4.12.3 release
  release_images.yml
Labels: Size:XS

#1471 [MXNET][NEURON][BUILD] - 1.8 use latest neuron rel
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.16.0/Dockerfile.neuron
  mxnet/inference/docker/artifacts/entrypoint.sh
  mxnet/inference/docker/artifacts/modelserver-neuron.sh
  mxnet/inference/docker/artifacts/neuron-entrypoint.py
  mxnet/inference/docker/artifacts/neuron-monitor.sh
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/eks/eks_manifest_templates/mxnet/inference/single_node_neuron_inference.yaml
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_check.py
  test/test_utils/__init__.py
Labels: build, test, mxnet, eks, ec2, sanity, Size:S

#1480 [pytorch][build] Update PT 1.5.1 inference dockerfile
  pytorch/inference/docker/1.5.1/py3/Dockerfile.cpu
  pytorch/inference/docker/1.5.1/py3/cu101/Dockerfile.gpu
Labels: improvement, build, pytorch, Size:XS, Size:S

#1421 [TF][NEURON][BUILD] - TF1.15 use the neuron libmode
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.16.0/Dockerfile.neuron
  tensorflow/inference/docker/build_artifacts/neuron-entrypoint.py
  tensorflow/inference/docker/build_artifacts/neuron-monitor.sh
  tensorflow/inference/docker/build_artifacts/neuron-start.sh
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:S

#1482 [pytorch] Change diy to e3 for PT1.10 dockerfiles
  pytorch/buildspec.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  pytorch/inference/docker/build_artifacts/torchserve-e3-entrypoint.py
  pytorch/training/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/training/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  pytorch/training/docker/1.10/py3/example/Dockerfile.gpu
  test/test_utils/__init__.py
Labels: build, pytorch, Size:S

#1489 [huggingface] Update available_images.md for latest huggingface transformers release
  available_images.md
Labels: Size:XS

#1491 [release] Release Neuron Images for sdk1.16.0
  release_images.yml
Labels: Size:S

#1494 [config] Fix `do_build` config option
  src/image_builder.py
  src/utils.py
Labels: src, Size:XS

#1481 [Tensorflow]Disable smmp test for TF 2.7.0 and higher
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smmodelparallel.py
Labels: test, Size:XS, sagemaker_tests

#1492 move tf1.15 images to prior list
  available_images.md
Labels: Size:XS

#1497 [graviton][pytorch][build]fix libtinfo.so.6 issue
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton
  pytorch/training/docker/1.9/py3/Dockerfile.cpu
Labels: build, pytorch, Size:XS

#1496 [release] Neuron release image to not have sm abbreviated tags
  release_images.yml
Labels: Size:XS

#1500 [release] Add PT 1.5.1 inference
  release_images.yml
Labels: Size:XS

#1495 [tensorflow][>=2.7] use local model instead of S3 for ECS/EKS test
  test/dlc_tests/eks/eks_manifest_templates/tensorflow/inference/single_node_cpu_inference.yaml
  test/dlc_tests/eks/eks_manifest_templates/tensorflow/inference/single_node_gpu_inference.yaml
  test/dlc_tests/eks/tensorflow/inference/test_eks_tensorflow_inference.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
  test/test_utils/ecs.py
Labels: build, test, tensorflow, eks, sanity, Size:S

#1472 [graviton][pytorch][test]Graviton pytorch add eks test
  test/dlc_tests/eks/eks_manifest_templates/pytorch/inference/single_node_cpu_inference.yaml
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
Labels: test, pytorch, eks, Size:XS, graviton

#1499 [NEURON][TEST} - Add neuron release 1.16.1 frameworks versions
  test/test_utils/__init__.py
Labels: Size:XS, Size:S

#1469 [graviton][mxnet][pytorch][test]add telemetry test for graviton mxnet and pytorch
  mxnet/inference/docker/1.9/py3/Dockerfile.graviton
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, mxnet, pytorch, ec2, sanity, Size:S, graviton

#1468 [Graviton][mxnet][test]Graviton mxnet add ecs test
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
Labels: build, test, mxnet, ecs, sanity, Size:XS, Size:S, graviton

#1501 [PT][NEURON] - Move to neuron sdk 1.16.1
  pytorch/buildspec-1-9-1-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.9/py3/sdk1.16.1/Dockerfile.neuron
Labels: build, pytorch, Size:XS

#1502 [TF][NEURON] - Move 2.5 TF to use neuron sdk1.16.1
  tensorflow/buildspec-neuron.yml
  tensorflow/inference/docker/2.5/py3/sdk1.16.1/Dockerfile.neuron
Labels: build, tensorflow, Size:XS

#1503 [TF][NEURON] - Move tf1.15 to use neuron sdk 1.16.1
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.16.1/Dockerfile.neuron
Labels: build, tensorflow, Size:XS

#1504 [MXNET][NEURON] - move to use sdk1.16.1
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.16.1/Dockerfile.neuron
Labels: build, mxnet, Size:XS

#1508 [NEURON][TEST] - Ignore tf1.15 vulnerability
  test/dlc_tests/sanity/test_safety_check.py
Labels: test, sanity, Size:XS

#1509 Release neuron sdk1.16.1
  release_images.yml
Labels: Size:XS

#1506 [graviton][mxnet][test]add eks test
  test/dlc_tests/eks/eks_manifest_templates/mxnet/inference/single_node_cpu_inference.yaml
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
Labels: test, eks, Size:XS

#1478 Add support for Habana DLC
  buildspec.yml
  dlc_developer_config.toml
  habana/pytorch/buildspec.yml
  habana/pytorch/training/docker/1.7/py3/example/Dockerfile.hpu
  habana/pytorch/training/docker/1.7/py3/synapseai0.15.4/Dockerfile.hpu
  habana/pytorch/training/docker/build_artifacts/__init__.py
  habana/pytorch/training/docker/build_artifacts/changehostname.c
  habana/pytorch/training/docker/build_artifacts/dockerd-entrypoint.py
  habana/pytorch/training/docker/build_artifacts/start_with_right_hostname.sh
  habana/tensorflow/buildspec.yml
  habana/tensorflow/training/docker/2.5/py3/example/Dockerfile.hpu
  habana/tensorflow/training/docker/2.5/py3/synapseai0.15.4/Dockerfile.hpu
  habana/tensorflow/training/docker/build_artifacts/__init__.py
  habana/tensorflow/training/docker/build_artifacts/dockerd-entrypoint.py
  release/resources/important_dlc_packages.yml
  src/constants.py
  src/main.py
  src/utils.py
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/benchmark/ec2/tensorflow/training/test_performance_tensorflow_training.py
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_performance_tensorflow_sm_training.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/dlc_tests/ecs/tensorflow/training/test_ecs_tensorflow_training.py
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/eks/tensorflow/inference/test_eks_tensorflow_inference.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_utility_installation.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_horovod.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/test_utils/sagemaker.py
Labels: src, build, test, tensorflow, ecs, ec2, benchmark, Size:S, habana

#1512 [graviton] fix pytest fixture
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, ecs, eks, ec2, sanity, Size:S

#1447 [build][graviton] dockerfile for TF graviton
  tensorflow/buildspec-graviton.yml
  tensorflow/inference/docker/2.7/py3/Dockerfile.graviton
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/dlc_tests/eks/tensorflow/inference/test_eks_tensorflow_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/test_utils/__init__.py
Labels: build, test, tensorflow, ecs, eks, ec2, sanity, Size:S

#1511 [NEURON][RELEASE]- Update available images for neuron
  available_images.md
Labels: Size:XS

#1466 [tensorflow][inference] add dockerfiles for tfs 2.7
  tensorflow/buildspec.yml
  tensorflow/inference/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/inference/docker/2.7/py3/Dockerfile.sagemaker.cpu
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.sagemaker.gpu
Labels: build, test, tensorflow, sanity, Size:S

#1507 [graviton][pytorch][build]Split graviton pytorch 1.10 e3 sagemaker
  pytorch/buildspec-graviton.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
  pytorch/inference/docker/build_artifacts/torchserve-e3-entrypoint.py
  pytorch/inference/docker/build_artifacts/torchserve-entrypoint.py
Labels: build, pytorch, Size:S

#1514 [graviton] remove processor categorization
  .github/PULL_REQUEST_TEMPLATE.md
  buildspec.yml
  src/constants.py
  src/start_testbuilds.py
  tensorflow/buildspec-graviton.yml
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
Labels: src, build, test, mxnet, tensorflow, ecs, ec2, sanity, Size:S

#1515 [graviton] diy/sm split for TF2.7
  tensorflow/buildspec-graviton.yml
  tensorflow/inference/docker/2.5/py3/Dockerfile.graviton
  tensorflow/inference/docker/2.7/py3/Dockerfile.graviton.e3.cpu
Labels: build, tensorflow, Size:XS, Size:S

#1493 bump up TF to 2.6.2
  tensorflow/buildspec-2-6.yml
  tensorflow/training/docker/2.6/py3/Dockerfile.cpu
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:S

#1422 [Tensorflow]|[build]|[test] add tensorflow 2.7 binaries
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/example/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/testOpenCV
  test/dlc_tests/container_tests/bin/testOpenCV.py
  test/dlc_tests/container_tests/bin/testTensorBoard
  test/dlc_tests/container_tests/bin/testTensorFlow
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
Labels: build, test, tensorflow, ec2, sanity, Size:S

#1519 [release] Prepare TF2.7 e3 release
  release_images.yml
Labels: Size:S

#1521 Tf inference 2.7 mod
  tensorflow/inference/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.e3.gpu
Labels: build, tensorflow, Size:XS, Size:S

#1525 [build] Start Embedding Safety Scan Reports
  src/image_builder.py
  test/dlc_tests/sanity/test_safety_check.py
  test/dlc_tests/sanity/test_safety_report_file.py
Labels: src, test, sanity, Size:XS

#1523 [graviton][pytorch][build]update wheel link
  pytorch/buildspec-graviton.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
Labels: build, pytorch, Size:XS

#1520 [NEURON][TEST][ECS] - Add ecs test for neuron
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/test_utils/ecs.py
Labels: test, ecs, Size:S

#1528 [bug] Fix get_root_folder_path bug
  src/utils.py
Labels: src, Size:XS

#1415 [tensorflow]|[build] [test]| rebuild TF 2.4 with upgraded SMTT Package
  tensorflow/training/docker/2.4/py3/Dockerfile.cpu
  tensorflow/training/docker/2.4/py3/cu110/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1459 [pytorch] [build] [SM] PyTorch 1.10.0 Training
  pytorch/buildspec.yml
  pytorch/training/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  test/sagemaker_tests/pytorch/training/resources/smdataparallel/smdataparallel_throughput.py
Labels: build, test, pytorch, ecs, eks, ec2, Size:S, sagemaker_tests

#1531 TF2.4 update packages
  tensorflow/training/docker/2.4/py3/Dockerfile.cpu
  tensorflow/training/docker/2.4/py3/cu110/Dockerfile.gpu
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1530 [graviton] add arm oss licenses
  mxnet/inference/docker/1.9/py3/Dockerfile.graviton.e3.cpu
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
  tensorflow/inference/docker/2.7/py3/Dockerfile.graviton.e3.cpu
Labels: build, mxnet, pytorch, tensorflow, Size:XS

#1535 Release tf2.6.2
  release_images.yml
Labels: Size:XS, Size:S

#1537 [release] Add PT 1.7.1 to release images
  release_images.yml
Labels: Size:XS

#1539 Release PT1.10 SageMaker images
  release_images.yml
Labels: Size:S

#1529 [Autogluon][build][security] Dask and GDAL security patch
  autogluon/inference/docker/0.3/py3/Dockerfile.cpu
  autogluon/training/docker/0.3/py3/Dockerfile.cpu
  autogluon/training/docker/0.3/py3/cu102/Dockerfile.gpu
Labels: build, Size:XS, autogluon

#1543 [pytorch][training] PT 1.9.1 Fix package versions
  pytorch/training/docker/1.9/py3/cu111/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#1545 [release] Release SM inference PT1.10 images
  release_images.yml
Labels: Size:XS

#1546 [release] Reset PT1.10 SM inference release yaml
  release_images.yml
Labels: Size:XS

#1547 release compatibility for architecture type
  release_buildspec.yml
  release_images.yml
Labels: Size:S

#1538 [test][sagemaker][mxnet] Changing sagemaker bucket for each session
  test/sagemaker_tests/__init__.py
  test/sagemaker_tests/mxnet/training/__init__.py
Labels: test, Size:S, sagemaker_tests

#1548 [graviton] skip generate test coverage doc for graviton
  test/dlc_tests/sanity/quick_checks/test_generate_coverage_doc.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:XS

#1550 [graviton] Add arch_type-specific env variable for graviton EC2 tests
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/eks/tensorflow/inference/test_eks_tensorflow_inference.py
  test/test_utils/ec2.py
Labels: test, eks, ec2, Size:S

#1536 [tensorflow][inference] Pin tfs to 2.6.0
  tensorflow/inference/docker/2.6/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.6/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#1518 [graviton] Support for TF graviton benchmark tests
  test/dlc_tests/benchmark/ec2/mxnet/test_performance_mxnet_inference.py
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_inference_performance.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, benchmark, Size:S

#1553 [pytorch][tensorflow] Update available images markdown file for new releases
  available_images.md
Labels: Size:XS

#1555 [docs] Reorder available_images.md
  available_images.md
Labels: Size:S

#1552 [tensorflow][training] update boken in tf2.6.2
  data/ignore_ids_safety_scan.json
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1549 [pytorch][training] Revert PT1.9 changes to earlier
  pytorch/training/docker/1.9/py3/Dockerfile.cpu
  pytorch/training/docker/1.9/py3/cu111/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests
