Repository aws/deep-learning-containers, pull requests merged in 2022-05, with the labels that each got.

#1856 [test] Fix locally missing images in canary
  test/dlc_tests/sanity/test_canary_integration.py
  test/dlc_tests/sanity/test_security_check.py
  test/test_utils/__init__.py
Labels: build, test, mxnet, sanity, Size:S

#1860 Release PT1.11 SM CPU/GPU TRAIN/INF images
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1861 Modified available images to add PT1.11 SM images
  available_images.md
Labels: Size:XS

#1862 empty release images
  release_images.yml
Labels: Size:S

#1864 [release] Add TF 2.8 inference DLCs to release
  release_images.yml
Labels: Size:XS

#1859 [NEURON][BUILD] - PT1.10, TF2.5 to sdk1.19.0 and mx1.8 to sdk1.18.0
  data/ignore_ids_safety_scan.json
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.18.0/Dockerfile.neuron
  mxnet/inference/docker/1.8/py3/sdk1.18.0/Dockerfile.neuron.os_scan_allowlist.json
  mxnet/inference/docker/1.8/py3/sdk1.18.0/apt-upgrade-list-neuron.txt
  pytorch/buildspec-1-10-2-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.10/py3/sdk1.19.0/Dockerfile.neuron
  tensorflow/buildspec-2-5-neuron.yml
  tensorflow/buildspec-neuron.yml
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.19.0/Dockerfile.neuron
  tensorflow/inference/docker/2.5/py3/sdk1.19.0/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
  test/test_utils/__init__.py
  test/test_utils/security.py
Labels: build, test, mxnet, pytorch, tensorflow, sanity, Size:S

#1868 Release neuron sdk 1.19.0. Update release images.
  release_images.yml
Labels: Size:S

#1872 Update autogluon tests to resolve pip check issue
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, sanity, Size:XS, autogluon

#1869 [pytorch][build] Undo NVIDIA GPG Key Fix
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:S

#1874 Update PT 1.10 E3 and SM images to remove repo.anaconda.com
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  pytorch/training/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/training/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
Labels: build, pytorch, Size:S

#1867 [pytorch][build][test] Fix PT1.10.2 mpi test and CW logs
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/training/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: bug, build, test, pytorch, ec2, sanity, Size:S

#1878 [test] Make the canary image pull logic scalable
  test/test_utils/__init__.py
Labels: Size:S

#1884 [test][canary] Sort the parsed canary images to prevent diff test failure
  test/test_utils/__init__.py
Labels: Size:XS

#1886 [NEURON][DOC] - Update available images
  available_images.md
Labels: Size:XS

#1885 [test][Canary] Restrict regex based python version extraction for just AutoGluon images
  test/test_utils/__init__.py
Labels: Size:S

#1887 [release] Add PT 1.10 E3 and SM DLCs to release
  release_images.yml
Labels: Size:S

#1891 [release] Fix release images
  release_images.yml
Labels: Size:XS

#1875 update PT 1.11 buildspec to prepare for release of E3 images
  pytorch/buildspec.yml
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, pytorch, sanity, Size:S

#1828 [tensorflow]|[build]|[ec2,ecs,eks] Add E3 dockerfiles for TF2.9
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.9/py3/example/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/testTFKerasHVD.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, sanity, Size:S

#1879 update huggingface PT 1.10 to remove repo.anaconda.com
  huggingface/pytorch/inference/docker/1.10/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.10/py3/cu113/Dockerfile.gpu
Labels: build, huggingface, Size:S

#1903 [release] Release configuration for TF2.9 E3 Training DLC
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1906 Add TF2.9 E3 training images to `available_images.md`
  available_images.md
Labels: Size:XS

#1893 [tensorflow] [sagemaker] Add nginx timeout
  tensorflow/inference/docker/build_artifacts/sagemaker/nginx.conf.template
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_nginx_config.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_training.py
Labels: build, test, tensorflow, sanity, Size:S, sagemaker_tests

#1908 [pytorch][build] Upgrade EFA to 1.15.2 on PT 1.10 Training DLC
  pytorch/buildspec-1-10-2.yml
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pt_s3_plugin.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#1898 Upgrade TS version to v0.6.0
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#1909 [release]Release configuration for HF PT1.10 inference DLC
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1910 [release]Release config changes for HF PT1.10 training DLC
  release_images.yml
Labels: Size:XS

#1929 [release] Release PT 1.10.2 DLCs
  release_images.yml
Labels: Size:S

#1928 [pytorch][graviton][canary] Fix graviton canary DLC pull test
  test/test_utils/__init__.py
Labels: Size:S

#1873 [test] Disable dependency checks from canaries
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_check.py
Labels: test, sanity, Size:S

#1905 fix post processing for TF benchmark
  test/dlc_tests/benchmark/ec2/tensorflow/training/test_performance_tensorflow_training.py
Labels: test, benchmark, Size:XS

#1935 [release] Add TF 2.8 DLCs to release images
  release_images.yml
Labels: Size:S

#1930 [tensorflow][build][e3] Bump TF version to 2.9.1
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#1936 [release] TF 2.9.1 release configuration
  release_images.yml
Labels: Size:S

#1940 Release Pytorch-Graviton-E3 Image
  release_images.yml
Labels: Size:XS

#1945 [test] Fix dependency check test for AG 0.3 DLCs
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, sanity, Size:XS, Size:S, autogluon

#1957 [autogluon] [test] Fix AG 0.4 dependency check test
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, sanity, Size:XS, autogluon

#1961 [autogluon] Fix protobuf version issue
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  test/sagemaker_tests/autogluon/training/requirements.txt
Labels: build, test, Size:XS, sagemaker_tests, autogluon

#1963 [Test] update conda test to exclude .github directory
  test/dlc_tests/sanity/test_anaconda.py
Labels: test, sanity, Size:XS

#1943 [release] Add AG 0.4 to release spec
  release_images.yml
Labels: Size:S

#1956 [mxnet] [build] Get mxnet docker image building.
  mxnet/buildspec.yml
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, mxnet, sanity, Size:XS, Size:S

#1964 Fix inference and security test for TF graviton
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, ec2, sanity, Size:XS, Size:S

#1966 [release] Add AG 0.3.2 to release images
  release_images.yml
Labels: Size:XS

#1965 [test] Disable anaconda test
  test/dlc_tests/sanity/test_anaconda.py
Labels: test, sanity, Size:XS

#1967 [mxnet] [build] Fix mxnet gpu inference build
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
Labels: build, mxnet, Size:XS, Size:S

#1969 TF2.7 Graviton release
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1970 [release] Add MX 1.9 to release images
  release_images.yml
Labels: Size:S

#1959 [test] Fix test failures on Neuron SDK 1.17.1 DLCs
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.17.1/Dockerfile.neuron
  mxnet/inference/docker/1.8/py3/sdk1.17.1/Dockerfile.neuron.os_scan_allowlist.json
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.10/py3/sdk1.17.1/Dockerfile.neuron
  tensorflow/buildspec-neuron.yml
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.17.1/Dockerfile.neuron
  tensorflow/inference/docker/2.5/py3/sdk1.17.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, mxnet, pytorch, tensorflow, sanity, Size:XS, Size:S

#1973 [TF][NEURON][BUILD] - For sdk 1.17.1 release use the right tf 2.5.2 version in tag
  tensorflow/buildspec-neuron.yml
Labels: build, tensorflow, Size:XS

#1955 Fix sanity test for TF2.7
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/training/docker/2.7/py3/Dockerfile.sagemaker.cpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.sagemaker.gpu
  test/dlc_tests/container_tests/bin/testTFAddons
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, ec2, sanity, Size:XS, Size:S

#1972 [release] Add Neuron SDK 1.17.1 DLCs to release images
  release_images.yml
Labels: Size:S

#1974 [release] Remove released images from release_images
  release_images.yml
Labels: Size:S

#1948 [Pytorch][Build][Test] Fix PT1.9.1 training vuls
  pytorch/training/docker/1.9/py3/Dockerfile.cpu
  pytorch/training/docker/1.9/py3/cu111/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/pytorch_tests/testPyTorchS3Plugin
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/mnist/smdataparallel_mnist.py
  test/sagemaker_tests/pytorch/training/resources/mnist/smdataparallel_smmodelparallel_mnist_script_mode.sh
Labels: build, test, pytorch, Size:S, sagemaker_tests

#1971 [Huggingface-Pytorch][Inference] Fix HF PT 1.9.1 Inference images
  huggingface/pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
  test/sagemaker_tests/huggingface/inference/integration/sagemaker/test_speech_model.py
  test/sagemaker_tests/huggingface/inference/integration/sagemaker/test_vision_model.py
Labels: build, test, huggingface, Size:S, sagemaker_tests
