Repository aws/deep-learning-containers, pull requests merged in 2022-08, with the labels that each got.

#2136 [Pytorch][build] Update SMMP and ofi-nccl
  pytorch/buildspec-1-11.yml
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:S

#2090 Nightly Release Test POC
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/release_candidate_integration/test_sm_profiler.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
  test/test_utils/imageutils.py
Labels: build, test, pytorch, ec2, sanity, Size:S, sagemaker_tests

#2139 [autogluon][build] AutoGluon 0.4.3 container
  autogluon/buildspec.yml
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
  test/sagemaker_tests/autogluon/inference/resources/model/model_0.4.2.tar.gz
  test/sagemaker_tests/autogluon/inference/resources/model/model_0.4.3.tar.gz
Labels: build, test, Size:XS, Size:S, sagemaker_tests, autogluon

#2146 Add AG 0.4.3 to release images
  release_images.yml
Labels: Size:S

#2147 Update license to include anaconda notice
  LICENSE
Labels: Size:XS

#2150 Update AG 0.4.2 to AG 0.4.3 in available_images
  available_images.md
Labels: Size:XS

#2152 Add AG 0.5.2 to release images
  release_images.yml
Labels: Size:XS

#2153 Update available_images.md with AG 0.5.2
  available_images.md
Labels: Size:S

#2091 [tensorflow][test][sagemaker] Swap order on json_request to prevant errant processing.
  tensorflow/inference/docker/build_artifacts/sagemaker/tensorflowServing.js
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_container.py
Labels: build, test, tensorflow, Size:XS, Size:S, sagemaker_tests

#2164 Correct nightly fixtures on SM tests
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
  test/sagemaker_tests/pytorch/inference/conftest.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/conftest.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
Labels: test, Size:S, sagemaker_tests

#2145 SMP PT1.12 re-release
  data/ignore_ids_safety_scan.json
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/distributed_operations.py
Labels: build, test, pytorch, sanity, Size:XS, Size:S, sagemaker_tests

#2141 [pytorch][sagemaker] Add tests for pytorchddp distribution
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
  test/sagemaker_tests/pytorch/training/resources/mnist/pytorchddp_throughput_mnist.py
Labels: build, test, pytorch, sagemaker, Size:S, sagemaker_tests

#2168 disable SM inference build for PT1.12
  pytorch/buildspec.yml
Labels: build, pytorch, Size:S

#2159 [Tensorflow][build] update Protobuf version to 1.15.0
  tensorflow/buildspec-2-7.yml
  tensorflow/inference/docker/2.7/py3/Dockerfile.ec2.cpu
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.ec2.gpu
Labels: build, test, mxnet, pytorch, tensorflow, ec2, Size:S

#2170 release PT1.12 SageMaker training DLC
  release_images.yml
Labels: Size:XS

#2165 [pytorch] | [sagemaker] SMDDP PT1.12 re-release
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#2158 [tensorflow][build]Re-release TF 2.8 inference DLC with cve fix
  tensorflow/buildspec-2-8.yml
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:S

#2149 [TensorFlow][Inference]Multi-gpu support for TF inference
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
Labels: build, tensorflow, Size:S

#2065 Update opencv to 4.6.0 for PT 1.10 Neuron sdk 1.17.0
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-1-10-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.10/py3/sdk1.17.1/Dockerfile.neuron
Labels: src, build, test, pytorch, sanity, Size:XS, Size:S

#2064 Update opencv to 4.6.0 for PT 1.10 Neuron sdk 1.19.0
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.10/py3/sdk1.19.0/Dockerfile.neuron
  test/dlc_tests/container_tests/bin/testSafety
Labels: src, build, test, pytorch, sanity, Size:XS, Size:S

#2178 [build][pytorch] PT 1.12 buildspec file changes
  pytorch/buildspec.yml
Labels: build, pytorch, Size:S

#2161 Add logic to run tests for SM Lite and SM Full DLCs in PR
  dlc_developer_config.toml
  src/config.py
  src/image_builder.py
  src/start_testbuilds.py
  test/dlc_tests/conftest.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
  test/dlc_tests/sanity/test_dlc_labels.py
  test/test_utils/__init__.py
Labels: src, build, test, pytorch, sanity, Size:S

#2171 [build][pytorch] PT 1.9 sagemaker-pytorch-inference version upgrade
  pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#2183 Re-release TF 2.7, TF 2.8 and PT 1.11
  release_images.yml
Labels: Size:S

#2174 Update available images and canaries with ec2 name change
  available_images.md
  test/test_utils/__init__.py
Labels: Size:S

#2187 [Triton] | [Documentation] | Update Triton DLC v22.07
  available_images.md
Labels: Size:XS

#2190 fixed issue with conda install failing due to invalid path
  pytorch/inference/docker/1.10/py3/sdk1.19.0/Dockerfile.neuron
Labels: build, pytorch, Size:XS

#2192 Re-release Pytorch 1.9 inference
  release_images.yml
Labels: Size:XS

#2193 Minor change in release file
  release_images.yml
Labels: Size:XS

#2173 [Tensorflow][release] re-release tf27
  release_images.yml
Labels: Size:S

#2195 [release] update release_image.yml, remove duplicate
  release_images.yml
Labels: Size:S

#2194 deep-learning-containers: Release Neuron SDK 1.19.0
  release_images.yml
Labels: Size:XS, Size:S

#2196 [tensorflow][pytorch][graviton][test] Sanity test fix
  pytorch/inference/docker/1.12/py3/Dockerfile.graviton.cpu
  testspec.yml
Labels: build, pytorch, Size:XS

#2198 [pytorch][tensorflow][graviton][build] temp disable sm-graviton
  pytorch/buildspec-graviton.yml
  tensorflow/buildspec-graviton.yml
Labels: build, pytorch, tensorflow, Size:S

#2199 [Tensorflow][Pytorch][Graviton][release] PT1.12 and TF2.9 graviton images release
  release_images.yml
Labels: Size:S

#2200 fixing type and version in release_images
  release_images.yml
Labels: Size:XS

#2203 [pytorch][tensorflow][graviton][release] graviton release fix
  release/dlc_release_information.py
  release_images.yml
Labels: Size:XS

#2204 [pytorch][tensorflow][graviton][cleanup] remove release_image entries for graviton
  release_images.yml
Labels: Size:S

#2202 Check Sanity Tests for TrComp Images
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
Labels: build, test, huggingface, ec2, sanity, Size:XS

#2205 Run Benchmark tests and other tests for fixing trcomp mainline failures
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/ec2/test_smclarify.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, huggingface, ec2, benchmark, sanity, Size:XS, Size:S

#2206 [pytorch][tensorflow][graviton]Add new graviton images to available_images
  available_images.md
Labels: Size:XS

#2201 [Pytorch] | [build] | [test] | re-release PT 1.12 SM DLCs
  pytorch/buildspec.yml
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_mnist.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#2207 Release PT-Trcomp images
  release_images.yml
Labels: Size:XS

#2160 [Tensorflow][build][graviton] update protobuf to 3.15.0
  tensorflow/buildspec-graviton-2-7.yml
  tensorflow/inference/docker/2.7/py3/Dockerfile.graviton.ec2.cpu
Labels: build, test, tensorflow, ec2, Size:XS, Size:S

#2209 Release file update for TF 2.8
  release_images.yml
Labels: Size:XS, Size:S

#2210 [Pytorch][release] re-release PT1.12 sm training images
  release_images.yml
Labels: Size:XS
