Repository aws/deep-learning-containers, pull requests merged in 2022-10, with the labels that each got.

#2285 [OS Patch] PyTorch 1.12 Training
  pytorch/training/docker/1.12/py3/Dockerfile.cpu
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/resources/gpt2/requirements.txt
Labels: build, test, pytorch, sanity, Size:S, sagemaker_tests

#2302 [release] Release PT 1.12.1 OS patches images
  release_images.yml
Labels: Size:S

#2303 Add TF 2.10 SM DLC to available_images.md
  available_images.md
Labels: Size:XS

#2304 Update release_images.yml
  release_images.yml
Labels: Size:S

#2249 [OS Patch] PyTorch 1.11
  pytorch/buildspec-1-11.yml
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, pytorch, eks, sanity, Size:S

#2275 [Tensorflow 2.8.3] Updating TF 2.8 wheels for version 2.8.3
  tensorflow/buildspec-2-8.yml
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.8/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#2239 For telemetry Add IMDSv2 along with IMDSv1
  .gitignore
  src/deep_learning_container.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/ec2.py
Labels: src, build, test, mxnet, sanity, Size:S

#2263 [OS Patch] HF PT 1.10 cve patch
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/buildspec.yml
  huggingface/pytorch/inference/docker/1.10/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.10/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.10/py3/cu113/Dockerfile.gpu
  huggingface/pytorch/inference/docker/1.10/py3/cu113/Dockerfile.gpu.os_scan_allowlist.json
  release_images.yml
Labels: build, huggingface, Size:S

#2308 Update available image ReadMe for training compiler
  available_images.md
Labels: Size:XS

#2288 [Tensorflow 2.7.4] Updating TF 2.7 wheels for version 2.7.4
  tensorflow/buildspec-2-7.yml
  tensorflow/training/docker/2.7/py3/Dockerfile.ec2.cpu
  tensorflow/training/docker/2.7/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.ec2.gpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#2309 [OS patch] build HF PT1.10 training image
  huggingface/pytorch/buildspec.yml
  huggingface/pytorch/training/docker/1.10/py3/cu113/Dockerfile.gpu.os_scan_allowlist.json
  release_images.yml
Labels: build, huggingface, Size:S

#2315 [Release Spec] PT111 TF29 Habana-TF29
  release_images.yml
Labels: Size:S

#2316 [Release Spec] TF28
  release_images.yml
Labels: Size:S

#2279 [OS patch] Mxnet 1.9 inference images CVE patch
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
  release_images.yml
Labels: build, mxnet, Size:S

#2323 Release TF2.7.4 Training EC2+SM
  release_images.yml
  tensorflow/buildspec-2-7.yml
Labels: build, tensorflow, Size:S

#2317 [OS Patch] build HF PT 1.10 training image
  huggingface/pytorch/training/docker/1.10/py3/cu113/Dockerfile.gpu
  release_images.yml
Labels: build, huggingface, Size:XS, Size:S

#2325 ReBuilding Example Image for TF2.7.4
  tensorflow/buildspec-2-7.yml
Labels: build, tensorflow, Size:S

#2282 [Graviton][build] Patch-Update PT1.12 TF2.9
  pytorch/inference/docker/1.12/py3/Dockerfile.graviton.cpu
  tensorflow/inference/docker/2.9/py3/Dockerfile.graviton.cpu
  test/test_utils/__init__.py
Labels: build, pytorch, tensorflow, Size:XS, Size:S

#2328 [TensorFlow][Build] Ignore List Addition to Example Image TF2.7.4
  tensorflow/buildspec-2-7.yml
  tensorflow/training/docker/2.7/py3/example/Dockerfile.gpu.example.os_scan_allowlist.json
Labels: build, test, tensorflow, sanity, Size:S

#2329 [Test][ECREnhancedScan] Rectify the example image allowlist extraction
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/security.py
Labels: test, sanity, Size:XS, Size:S

#2326 Release for TF2.7.4 example EC2
  release_images.yml
Labels: Size:S

#2314 [TFS 2.8] Security updates for TFS 2.8.3
  tensorflow/buildspec-2-8.yml
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2313 [TFS 2.9] Security updates for TFS 2.9.2
  tensorflow/buildspec-2-9.yml
  tensorflow/inference/docker/2.9/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2330 [autogluon][build] Updating scan configuration
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/inference/docker/0.5/py3/Dockerfile.cpu
  autogluon/inference/docker/0.5/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/0.5/py3/cu112/Dockerfile.gpu
  autogluon/inference/docker/0.5/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/0.5/py3/Dockerfile.cpu
  autogluon/training/docker/0.5/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/0.5/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.5/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  data/ignore_ids_safety_scan.json
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, sanity, Size:S, autogluon

#2333 [NEURON][PT][TRAIN] - Release of trn1 DLC image.
  available_images.md
Labels: Size:XS

#2337 add tf 2.8 and tf 2.9 inference to release images
  release_images.yml
Labels: Size:S

#2335 [autogluon][build] Updating scan configuration
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/inference/docker/0.5/py3/Dockerfile.cpu
  autogluon/inference/docker/0.5/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/0.5/py3/cu112/Dockerfile.gpu
  autogluon/inference/docker/0.5/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/0.5/py3/Dockerfile.cpu
  autogluon/training/docker/0.5/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/0.5/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.5/py3/cu112/Dockerfile.gpu.os_scan_allowlist.json
  data/ignore_ids_safety_scan.json
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, sanity, Size:S, autogluon

#2340 [autogluon][build] Updating sagemaker dependency handling
  autogluon/inference/docker/0.4/py3/Dockerfile.cpu
  autogluon/inference/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/inference/docker/0.5/py3/Dockerfile.cpu
  autogluon/inference/docker/0.5/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
  autogluon/training/docker/0.5/py3/Dockerfile.cpu
  autogluon/training/docker/0.5/py3/cu112/Dockerfile.gpu
Labels: build, Size:XS, autogluon

#2289 [doc] Add PYTHONPATH to README
  README.md
Labels: Size:XS

#2342 [AutoGluon][Release] Release for AG.5 Training + Inference
  release_images.yml
Labels: Size:S

#2343 [autogluon][build] Updating sagemaker dependency handling
  autogluon/training/docker/0.4/py3/Dockerfile.cpu
  autogluon/training/docker/0.4/py3/cu112/Dockerfile.gpu
Labels: build, Size:S, autogluon

#2345 [AutoGluon][Release] Release for AG 0.4.3 Training + Inference
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#2341 [build][test] Make Common Ignore List for Safety Scans
  data/common-safety-ignorelist.json
  src/utils.py
  test/dlc_tests/sanity/test_safety_report_file.py
Labels: src, test, sanity, Size:XS, Size:S

#2346 Expand ECR Enhanced Scanning and make it easily usable for non dlc images
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:XS, Size:S

#2318 [build] Pytorch 1.11 Inference images fix
  dlc_developer_config.toml
  pytorch/buildspec-1-11.yml
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, pytorch, sanity, Size:S

#2334 [Graviton][build] Enable Graviton SM Image build
  pytorch/buildspec-graviton.yml
  tensorflow/buildspec-graviton.yml
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/test_tfs.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, tensorflow, Size:S, sagemaker_tests

#2352 [GRAVITON] minor package update
  data/common-ecr-scan-allowlist.json
Labels: Size:XS, Size:S

#2322 [tensorflow][eia][build]Fix tf eia vulnerabilities
  tensorflow/buildspec-eia.yml
  tensorflow/inference/docker/2.3.0/py37/Dockerfile.eia
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#2353 [Graviton][SageMaker][Release] PT and TF Graviton SM
  release_images.yml
Labels: Size:S

#2354 Add schema to release EIA tensorflow image
  release_images.yml
Labels: Size:XS, Size:S

#2331 SMP v1.12.1 release
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#2358 [release][fix] Fix for graviton release information
  release/dlc_release_information.py
Labels: Size:XS

#2357 add schema to release pytorch 1.11
  release_images.yml
Labels: Size:S

#2356 Re-enable test for TrComp images
  test/dlc_tests/sanity/test_binary_visibility.py
Labels: test, sanity, Size:XS, Size:S

#2359 [Graviton] Post Release update
  available_images.md
  release_images.yml
Labels: Size:S

#2349 [Trcomp] [HuggingFace-PyTorch] fixing vulnerabilities in the HF-PT-Trcomp 1.11 container
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu.os_scan_allowlist.json
  test/dlc_tests/sanity/test_telemetry.py
Labels: build, test, huggingface, pytorch, tensorflow, sanity, Size:XS, Size:S, sagemaker_tests

#2364 remove scan exception
  data/common-ecr-scan-allowlist.json
Labels: Size:S

#2361 [NEURON][PT][BUILD] Add neuron sdk2.4.0
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-1-11-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/training/docker/1.11/py3/sdk2.4.0/Dockerfile.neuron
  pytorch/training/docker/1.11/py3/sdk2.4.0/Dockerfile.neuron.os_scan_allowlist.json
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/pytorch_tests/testNeuronMlp
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ecs/conftest.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/__init__.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_neuron.py
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/neuron/all_reduce/all_reduce.py
  test/sagemaker_tests/pytorch/training/resources/neuron/all_reduce/entrypoint.py
  test/sagemaker_tests/pytorch/training/resources/neuron/mlp/entrypoint.py
  test/sagemaker_tests/pytorch/training/resources/neuron/mlp/model.py
  test/sagemaker_tests/pytorch/training/resources/neuron/mlp/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/neuron/mlp/train_torchrun.py
  test/test_utils/__init__.py
  test/test_utils/ecs.py
Labels: build, test, pytorch, ecs, ec2, sanity, Size:S, sagemaker_tests

#2374 fix license for PT1.11 neuron DLC
  pytorch/training/docker/1.11/py3/sdk2.3.0/Dockerfile.neuron
  pytorch/training/docker/1.11/py3/sdk2.4.0/Dockerfile.neuron
Labels: build, pytorch, Size:XS

#2373 [release] neuron sdk v2.4 release
  release_images.yml
Labels: Size:XS

#2377 remove regular PT1.11 from release_images
  release_images.yml
Labels: Size:S

#2378 update available_images with neuron sdk v2.4.0
  available_images.md
Labels: Size:XS

#2371 [test][pytorch][tensorflow] wheel except
  data/ignore_ids_safety_scan.json
  pytorch/buildspec.yml
Labels: build, pytorch, tensorflow, Size:XS, Size:S
