Repository aws/deep-learning-containers, pull requests merged in 2022-11, with the labels that each got.

#2375 [djl] Release DJL DeepSpeed images
  release_images.yml
Labels: Size:XS, Size:S

#2383 Update available images for DJL Serving image
  available_images.md
Labels: Size:XS

#2387 Releasing patch for HF PT 1.11
  release_images.yml
Labels: Size:XS

#2388 Hf pt 111 allowlist update
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#2389 Fixing allowlist for HF PT 1.11 part 2
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#2390 Remove neuron sdk 2.1.1 for PT 1.10
  pytorch/training/docker/1.10/py3/sdk2.1.1/Dockerfile.neuron
Labels: build, pytorch, Size:S

#2379 HF PT1.10 Inference images with new toolkit
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/buildspec.yml
  huggingface/pytorch/inference/docker/1.10/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.10/py3/cu113/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#2376 Update safety to 2.X
  data/ignore_ids_safety_scan.json
  src/safety_report_generator.py
  src/utils.py
  test/dlc_tests/container_tests/bin/testSafety
  test/dlc_tests/sanity/test_safety_check.py
  test/dlc_tests/sanity/test_safety_report_file.py
Labels: src, test, sanity, Size:XS, Size:S

#2393 fix: Trcomp HF-pt 111 has broken package - sagemaker
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu
Labels: build, huggingface, Size:XS

#2367 [pytorch][inference][build] PyTorch 1.13.0 Inference EC2/SM
  pytorch/buildspec.yml
  pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, sanity, Size:S

#2394 [release][pytorch] Release PyTorch 1.13 EC2
  release_images.yml
Labels: Size:S

#2396 Remove training images from PT 1.13 release yaml
  release_images.yml
Labels: Size:S

#2398 Update python version for PT 1.13 canaries
  test/test_utils/__init__.py
Labels: Size:XS

#2400 [post-release] post work for PT1.13 inference release
  available_images.md
  release_images.yml
Labels: Size:XS

#2404 feat: release PT-1.13 example image
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#2401 Remove unsupported images from available images markdown
  available_images.md
Labels: Size:S

#2310 [Telemetry] Add S3 telemetry test
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/ec2.py
Labels: src, build, test, mxnet, pytorch, tensorflow, sanity, Size:S

#2412 doc: update pt-1.13 ec2 training images in markdown
  available_images.md
Labels: Size:XS

#2369 [pytorch][eia][build]Patch OS vulnerabilities for pt 1.5.1 eia
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-eia.yml
  pytorch/inference/docker/1.5.1/py38/Dockerfile.eia
Labels: build, test, pytorch, sanity, Size:XS, Size:S

#2365 Improve trcomp test coverage to include G type instances
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_trcomp.py
Labels: build, test, huggingface, Size:S, sagemaker_tests

#2405 Mxnet 1.9 patching
  mxnet/buildspec.yml
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/cu112/Dockerfile.gpu
  mxnet/training/docker/1.9/py3/example/Dockerfile.gpu
Labels: build, mxnet, Size:XS, Size:S

#2415 Release PT 1.5.1 EIA images
  release_images.yml
Labels: Size:XS

#2422 Adding exception logging line to local tests.
  test/test_utils/sagemaker.py
Labels: Size:XS

#2425 Update volume size to accomodate new AMI
  test/test_utils/ec2.py
Labels: Size:XS

#2424 [pytorch][eia][build]Patch Pillow for pt 1.5.1 eia
  pytorch/inference/docker/1.5.1/py38/Dockerfile.eia
Labels: build, pytorch, Size:XS

#2431 Temporarily reverting AMI to CUDA 11.
  test/test_utils/__init__.py
Labels: Size:XS

#2414 Releasing patched MXNet images.
  release_images.yml
Labels: Size:S

#2406 PT 1.12 Patching
  pytorch/buildspec-1-12.yml
  test/dlc_tests/container_tests/bin/pytorch_tests/testTorchdata
  test/dlc_tests/container_tests/bin/pytorch_tests/testTorchdataDev
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#2441 Updating training test and fixing inference torchdata tests
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
Labels: test, ec2, Size:XS

#2438 [pytorch][graviton][build] Patching pillow in pytorch graviton 1.12
  pytorch/inference/docker/1.12/py3/Dockerfile.graviton.cpu
  test/test_utils/sagemaker.py
Labels: build, pytorch, Size:XS

#2416 PT1.12 Training: remove pip installation of numpy/scipy
  pytorch/training/docker/1.12/py3/Dockerfile.cpu
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#2442 Releasing patched images for PT 1.12.
  release_images.yml
Labels: Size:S

#2443 Release MXNet SM images
  release_images.yml
Labels: Size:XS

#2444 Update buildspec to generate RCs for pytorch 1.12 inference images
  pytorch/buildspec-1-12-inference.yml
  pytorch/buildspec-1-12.yml
Labels: build, pytorch, Size:S

#2384 Cloudwatch logging verification & checks
  pytorch/buildspec.yml
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#2408 TF 2.10 Patching
  tensorflow/buildspec-2-10.yml
Labels: build, tensorflow, Size:S

#2446 Update release_images.yml to release PT 1.12 inference images
  release_images.yml
Labels: Size:S

#2447 Release TF EIA images
  release_images.yml
Labels: Size:XS

#2448 Update release config to release TF 2.9.1 and PT 1.12.1 graviton images
  release_images.yml
Labels: Size:S

#2449 Releasing graviton images for PT 1.12 and TF 2.9.1
  release_images.yml
Labels: Size:S

#2453 Empty release images yml file
  release_images.yml
Labels: Size:S

#2437 Install python3.9 in test AMI at runtime
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/requirements.txt
  test/sagemaker_tests/autogluon/inference/requirements.txt
  test/sagemaker_tests/autogluon/training/requirements.txt
  test/sagemaker_tests/huggingface/inference/requirements.txt
  test/sagemaker_tests/pytorch/inference/requirements.txt
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/test_utils/sagemaker.py
  test/test_utils/test_reporting.py
  test/testrunner.py
Labels: build, test, mxnet, pytorch, tensorflow, ec2, benchmark, Size:S, sagemaker_tests

#2454 Pinning version to isolate toolkit error
  tensorflow/training/docker/2.10/py3/Dockerfile.cpu
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#2457 TF 2.9 Pinning SM Toolkit version to isolate error.
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#2381 [TensorFlow] TF2.11 EC2 release
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.11/py3/Dockerfile.cpu
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.11/py3/example/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/testTF2HVD.py
  test/dlc_tests/container_tests/bin/testTFKerasHVD.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, ec2, sanity, Size:S
