Repository aws/deep-learning-containers, pull requests merged in 2022-04, with the labels that each got.

#1785 Reduced the default TRAINING_TEST for benchmark tests.
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_rn50_training_performance_hpu_synthetic
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_maskrcnn_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_rn50_training_performance_hpu_synthetic
Labels: Size:S

#1783 [pytorch] [build] PT1.11.0 - reduce PyTorch GPU Train image size
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:S

#1807 [release][pytorch] re-release PT1.10.2
  release_images.yml
Labels: Size:S

#1806 [huggingface] Enable overwritable MMS parameter
  huggingface/build_artifacts/inference/config.properties
Labels: build, huggingface, Size:XS

#1810 [test] Add tests for sagemaker environment variables
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
Labels: build, test, tensorflow, sanity, Size:S

#1814 [Doc]Update HF Trcomp image uri
  available_images.md
Labels: Size:XS

#1809 [tensorflow][inference] Add test to validate TF serving versioning
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:S

#1817 [Doc] update PT1.11 image uri in available_images
  available_images.md
Labels: Size:XS

#1800 Release sagemaker model parallel binary for HF DLC
  huggingface/pytorch/training/docker/1.10/py3/cu113/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#1819 [sanity] Update sanity tests to use separate prefixes
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:S

#1579 Graviton eks infrastructure
  eks_infrastructure/build.sh
  eks_infrastructure/build_param.json
  eks_infrastructure/build_param.template
  eks_infrastructure/eks_buildspec.yml
  eks_infrastructure/new_operation.sh
  eks_infrastructure/upgrade_operation.sh
Labels: Size:S

#1241 [build]|[test] Adds Web scraper Module and handles automations related to ECR scan.
  mxnet/buildspec-1-8.yml
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/Dockerfile.cpu
  mxnet/inference/docker/1.8/py3/Dockerfile.cpu.os_scan_allowlist.json
  mxnet/inference/docker/1.8/py3/apt-upgrade-list-cpu.txt
  mxnet/inference/docker/1.8/py3/cu110/Dockerfile.gpu
  mxnet/inference/docker/1.8/py3/cu110/Dockerfile.gpu.os_scan_allowlist.json
  mxnet/inference/docker/1.8/py3/cu110/apt-upgrade-list-gpu.txt
  mxnet/inference/docker/1.8/py3/sdk1.17.1/Dockerfile.neuron
  mxnet/inference/docker/1.8/py3/sdk1.17.1/Dockerfile.neuron.os_scan_allowlist.json
  mxnet/inference/docker/1.8/py3/sdk1.17.1/apt-upgrade-list-neuron.txt
  mxnet/training/docker/1.8/py3/Dockerfile.cpu
  mxnet/training/docker/1.8/py3/Dockerfile.cpu.os_scan_allowlist.json
  mxnet/training/docker/1.8/py3/apt-upgrade-list-cpu.txt
  mxnet/training/docker/1.8/py3/cu110/Dockerfile.gpu
  mxnet/training/docker/1.8/py3/cu110/Dockerfile.gpu.os_scan_allowlist.json
  mxnet/training/docker/1.8/py3/cu110/apt-upgrade-list-gpu.txt
  test/dlc_tests/sanity/test_security_check.py
  test/requirements.txt
  test/test_utils/__init__.py
  test/test_utils/ecr.py
  test/test_utils/security.py
  web_scraper/README.md
  web_scraper/scraper_runner.py
  web_scraper/scrapy.cfg
  web_scraper/web_scraper/__init__.py
  web_scraper/web_scraper/items.py
  web_scraper/web_scraper/middlewares.py
  web_scraper/web_scraper/pipelines.py
  web_scraper/web_scraper/settings.py
  web_scraper/web_scraper/spiders/__init__.py
  web_scraper/web_scraper/spiders/cve_spiders.py
Labels: build, test, mxnet, sanity, Size:S, sagemaker_tests

#1821 [eks] Upgrade EKS nodegroups and enable eks test for graviton
  eks_infrastructure/build_param.json
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/eks/tensorflow/inference/test_eks_tensorflow_inference.py
Labels: test, eks, Size:XS

#1822 [test] Add a common file to ignore vulnerabilities affecting all containers
  data/common-ecr-scan-allowlist.json
  test/dlc_tests/sanity/test_security_check.py
Labels: test, sanity, Size:S

#1803 [Triton][docs] Added NVIDIA Triton CPU image
  available_images.md
Labels: Size:XS

#1829 [test] Remove redundant scans on the canary
  test/dlc_tests/sanity/test_safety_check.py
  test/dlc_tests/sanity/test_safety_report_file.py
  test/dlc_tests/sanity/test_security_check.py
Labels: test, sanity, Size:S

#1801 Release sagemaker model parallel binary for DLC
  pytorch/buildspec.yml
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  test/sagemaker_tests/pytorch/training/resources/gpt2/requirements.txt
Labels: build, test, pytorch, sanity, Size:XS, Size:S, sagemaker_tests

#1832 Update available images markdown file
  available_images.md
Labels: Size:S

#1830 [test] Refactor test_security_check
  test/dlc_tests/sanity/test_security_check.py
Labels: test, sanity, Size:XS, Size:S

#1812 [test] Remove install from repo.anaconda.com for PT 1.11 (E3) images
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
  src/requirements.txt
  test/dlc_tests/sanity/test_anaconda.py
Labels: src, build, test, pytorch, sanity, Size:S

#1827 [bug] Fix bug in canary pull logic
  test/dlc_tests/sanity/test_canary_integration.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:XS

#1834 [e3] Fix e3 image adding logic
  test/test_utils/__init__.py
Labels: Size:XS

#1833 [test] Restrict image coverage for allowlist feature
  test/dlc_tests/sanity/test_security_check.py
  test/test_utils/security.py
Labels: test, sanity, Size:XS, Size:S

#1835 [canary] Update canary regex
  test/dlc_tests/sanity/test_utility_installation.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:XS, Size:S

#1836 [release] Release HF image updates from #1777
  release_images.yml
Labels: Size:S

#1842 [release] Release MXNet 1.9 E3 images
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1837 [test] Fix canary failures for gpu images
  test/dlc_tests/sanity/test_security_check.py
  test/test_utils/__init__.py
Labels: build, test, mxnet, sanity, Size:S

#1823 [huggingface_pytorch] Update MMS version for PT1.9 to enable logs again
  huggingface/pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#1854 [test] Fix sorted package order for apt-upgrade-list
  test/test_utils/security.py
Labels: Size:XS

#1799 [pytorch][build][SM] Update PyTorch 1.11.0 cuda 11.3 Dockerfiles
  pytorch/buildspec.yml
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/resources/dgl-gcn/gcn.py
Labels: build, test, pytorch, ec2, sanity, Size:S, sagemaker_tests
