Repository aws/deep-learning-containers, pull requests merged in 2022-01, with the labels that each got.

#1616 release pt-1.10.0
  release_images.yml
Labels: Size:XS, Size:S

#1578 [huggingface_pytorch][NEURON][build] Huggingface Neuron inference DLC
  huggingface/build_artifacts/inference/neuron-entrypoint.py
  huggingface/build_artifacts/inference/neuron-monitor.sh
  huggingface/pytorch/buildspec-neuron.yml
  huggingface/pytorch/inference/docker/1.9/py3/sdk1.16.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/huggingface/inference/conftest.py
  test/sagemaker_tests/huggingface/inference/integration/__init__.py
  test/sagemaker_tests/huggingface/inference/integration/sagemaker/test_neuron_hosting.py
  test/sagemaker_tests/huggingface/inference/resources/code/neuron_inference.py
  test/sagemaker_tests/huggingface/inference/resources/tiny-distilbert-sst-2/pt_neuron_model.tar.gz
  test/test_utils/__init__.py
Labels: build, test, huggingface, mxnet, sanity, Size:S, sagemaker_tests

#1618 [build][graviton][mxnet][pytorch] fix graviton image build
  mxnet/buildspec-graviton.yml
  pytorch/buildspec-graviton.yml
Labels: build, mxnet, pytorch, Size:XS

#1622 Run dependency check on HF neuron images
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#1575 [tensorflow][test][benchmark] Makeshift fix for flaky benchmark tests
  test/dlc_tests/benchmark/ec2/tensorflow/training/test_performance_tensorflow_training.py
Labels: build, test, tensorflow, benchmark, Size:S

#1532 Add support for multistage dockerfiles for e3/sagemaker
  src/image.py
  src/image_builder.py
  tensorflow/inference/docker/2.7/py3/.multistage_examples/Dockerfile.cpu
Labels: src, build, tensorflow, Size:S

#1611 Exclude dependency check library from tool
  test/dlc_tests/container_tests/bin/testDependencyCheck
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#1217 [MXNet][build][test] Release MX 1.9.0 inference & training binaries
  mxnet/buildspec-1-8.yml
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/cu112/Dockerfile.gpu
  mxnet/training/docker/1.9/py3/example/Dockerfile.gpu
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/mxnet/training/test_mxnet_training.py
  test/dlc_tests/ecs/mxnet/training/test_ecs_mxnet_training.py
  test/dlc_tests/eks/mxnet/training/test_eks_mxnet_training.py
  test/sagemaker_tests/mxnet/training/integration/local/test_keras_training.py
  test/sagemaker_tests/mxnet/training/integration/local/test_onnx.py
  test/sagemaker_tests/mxnet/training/resources/onnx/code/onnx_export.py
  test/sagemaker_tests/mxnet/training/resources/onnx/mxnet_module/model-0000.params
  test/sagemaker_tests/mxnet/training/resources/onnx/mxnet_module/model-shapes.json
  test/sagemaker_tests/mxnet/training/resources/onnx/mxnet_module/model-symbol.json
  test/test_utils/__init__.py
Labels: build, test, mxnet, ecs, eks, ec2, Size:S, sagemaker_tests

#1639 Update release images for MX1.9
  release_images.yml
Labels: Size:S

#1640 [mxnet][test][sagemaker] Run MX sagemaker benchmarks on SM images
  test/dlc_tests/benchmark/sagemaker/mxnet/training/test_performance_mxnet_sm_training.py
Labels: test, benchmark, Size:XS

#1573 [test][sagemaker]Sm remote smart retry
  test/test_utils/pytest_cache.py
  test/test_utils/sagemaker.py
  test/testrunner.py
Labels: src, build, test, tensorflow, Size:S, sagemaker_tests

#1591 DLC Available Images ReadMe Update: Added NVIDIA Triton inference containers section
  available_images.md
Labels: Size:S

#1632 [NEURON][TEST] - Update the manifest for 1.17.0 sdk version release
  test/test_utils/__init__.py
Labels: Size:XS

#1644 [neuron][huggingface] Update MMS version in HF Neuron DLCs
  huggingface/pytorch/buildspec-neuron.yml
  huggingface/pytorch/inference/docker/1.9/py3/sdk1.16.1/Dockerfile.neuron
Labels: build, huggingface, Size:XS

#1652 support py38 flag for mxnet sagemaker test
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
Labels: test, Size:XS, sagemaker_tests

#1654 Update MX 1.9 example images
  release_images.yml
Labels: Size:XS

#1657 Pin numpy to <1.20 in MX 1.9 images
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/cu112/Dockerfile.gpu
Labels: build, mxnet, Size:S
