Repository aws/deep-learning-containers, pull requests merged in 2022-02, with the labels that each got.

#1636 [NEURON][BUILD][MX] - update to sdk1.17.0
  data/ignore_ids_safety_scan.json
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.17.0/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_neuron_hosting.py
Labels: build, test, mxnet, sanity, Size:XS, Size:S, sagemaker_tests

#1662 Release MX inference images for MXNet 1.9
  release_images.yml
Labels: Size:S

#1655 update available_images.md for MX1.9
  available_images.md
Labels: Size:XS

#1668 [NEURON][RELEASE] - Update yml file to add PT1.10.1 and TF2.5.2
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1642 [NEURON][BUILD][TF] - Upgrade tf1.15.5 to use the neuron sdk 1.17.0
  data/ignore_ids_safety_scan.json
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.17.0/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1673 Release neuron sdk1.17.0 version of tf1.15.5 dlc
  release_images.yml
Labels: Size:S

#1647 Add e3 dockerfiles for tensorflow 2.8
  data/ignore_ids_safety_scan.json
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.8/py3/Dockerfile.e3.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.8/py3/example/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:S

#1666 use js_import instead of js_include for TF serving nginx configuration
  tensorflow/buildspec-2-7.yml
  tensorflow/inference/docker/build_artifacts/sagemaker/multi_model_utils.py
  tensorflow/inference/docker/build_artifacts/sagemaker/nginx.conf.template
  tensorflow/inference/docker/build_artifacts/sagemaker/python_service.py
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
  tensorflow/inference/docker/build_artifacts/sagemaker/tensorflowServing.js
  tensorflow/inference/docker/build_artifacts/sagemaker/tfs_utils.py
Labels: build, tensorflow, Size:S

#1676 [Tensorflow][release] add TF2.8 in release images
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1681 Release neuron sdk 1.17.0 tf1.15.5
  release_images.yml
Labels: Size:S

#1672 Add support for sagemaker-like E3 tag
  test/test_utils/__init__.py
Labels: Size:S

#1682 [canary] Update python versions for TF canaries
  test/test_utils/__init__.py
Labels: Size:XS

#1684 [bug fix] fix TF tests issues
  test/dlc_tests/container_tests/bin/testTF2HVD
  test/dlc_tests/container_tests/bin/testTensorFlow
Labels: Size:XS

#1567 Habana DLC Perf/TestSuite TF/PT tests -- gaudi test suite
  habana/pytorch/training/docker/1.10/py3/synapseai1.2.0/Dockerfile.hpu
  habana/tensorflow/training/docker/2.7/py3/synapseai1.2.0/Dockerfile.hpu
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/benchmark/ec2/tensorflow/training/test_performance_tensorflow_training.py
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_rn50_training_performance_hpu_synthetic
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_maskrcnn_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_rn50_training_performance_hpu_synthetic
  test/dlc_tests/container_tests/bin/testHabanaPTSuite
  test/dlc_tests/container_tests/bin/testHabanaTFSuite
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/testrunner.py
  testspec.yml
Labels: src, build, test, ec2, benchmark, sanity, Size:S, habana

#1688 change cudnn version for tf2.8 for compatibility with p2 instances
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.e3.gpu
Labels: build, test, tensorflow, ec2, Size:XS, Size:S

#1687 Habana release v1.2 images for TF and PT
  release_images.yml
Labels: Size:S

#1669 [NEURON][BUILD][HF] - move hf neuron dlc to use latest sdk
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/buildspec-neuron.yml
  huggingface/pytorch/inference/docker/1.9/py3/sdk1.17.0/Dockerfile.neuron
Labels: build, huggingface, Size:XS, Size:S

#1700 [NEURON][BUILD][HF] - use ubuntu18
  huggingface/pytorch/buildspec-neuron.yml
  huggingface/pytorch/inference/docker/1.9/py3/sdk1.17.0/Dockerfile.neuron
Labels: build, huggingface, Size:XS

#1696 [NEURON][BUILD][TF] - Move tf2.5.2 neuron to sdk 1.17.1
  data/ignore_ids_safety_scan.json
  tensorflow/buildspec-2-5-neuron.yml
  tensorflow/buildspec-neuron.yml
  tensorflow/inference/docker/2.5/py3/sdk1.17.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
  test/test_utils/__init__.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1698 [NEURON][BUILD][MX] - Move to neuron sdk1.17.1
  data/ignore_ids_safety_scan.json
  mxnet/buildspec-neuron.yml
  mxnet/inference/docker/1.8/py3/sdk1.17.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, mxnet, sanity, Size:XS, Size:S

#1699 [NEURON][BUILD][PT] - Move to neuron sdk1.17.1
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-1-10-1-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/inference/docker/1.10/py3/sdk1.17.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, pytorch, sanity, Size:S

#1697 [NEURON][BUILD][TF] - Move tf1.15.5 to use neuron sdk 1.17.1
  data/ignore_ids_safety_scan.json
  tensorflow/buildspec-tf1-neuron.yml
  tensorflow/inference/docker/1.15/py3/sdk1.17.1/Dockerfile.neuron
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#1702 Release neuron sdk 1.17.1 version
  release_images.yml
Labels: Size:S

#1703 Update available images for neuron sdk release 1.17.1
  available_images.md
Labels: Size:XS

#1694 Add release images definition for HF PyTorch Neuron
  huggingface/pytorch/buildspec-neuron.yml
  huggingface/pytorch/inference/docker/1.9/py3/sdk1.17.1/Dockerfile.neuron
  release_images.yml
Labels: build, huggingface, Size:S

#1683 [PyTorch E3] PT 1.10.2 DLC release
  data/ignore_ids_safety_scan.json
  pytorch/buildspec.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/training/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  test/dlc_tests/container_tests/bin/dgl_tests/testPyTorchDGL
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
Labels: build, test, pytorch, ecs, eks, ec2, sanity, Size:S, sagemaker_tests

#1628 Add tf2.7 training sagemaker dockerfiles
  tensorflow/training/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/training/docker/2.7/py3/Dockerfile.sagemaker.cpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.sagemaker.gpu
  test/dlc_tests/container_tests/bin/testSmdebug
  test/dlc_tests/container_tests/bin/testSmprofiler
Labels: build, test, tensorflow, sanity, Size:S

#1706 pt1.10.2 release images
  release_images.yml
Labels: Size:S

#1693 TF2.8: Clean up dockerfiles, update HVD test
  tensorflow/buildspec.yml
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.sagemaker.gpu
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/examples/Horovod/tensorflow2_synthetic_benchmark.py
  test/dlc_tests/container_tests/bin/examples/Horovod/tf2_train_imagenet_resnet_hvd.py
  test/dlc_tests/container_tests/bin/testTF2HVDHelper
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
Labels: build, test, tensorflow, ec2, Size:S

#1707 update pt1.10.2 release images
  release_images.yml
Labels: Size:XS

#1710 [Build][tensorflow] fix TF27 GPU CVE-2022-24407
  tensorflow/inference/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.e3.gpu
Labels: build, tensorflow, Size:XS, Size:S

#1714 [release][tensorflow] add TF27 release images
  release_images.yml
  tensorflow/buildspec-2-7.yml
Labels: build, tensorflow, Size:S

#1715 [Tensorflow] add comment on py39 installation on TF 2.8 dockerfiles
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#1716 Release TF2.8 e3 images
  release_images.yml
Labels: Size:S

#1704 [Tensorflow][Test][ec2] Fix Habana Tensorflow EC2 tests
  test/test_utils/ec2.py
Labels: build, Size:XS, Size:S, habana

#1717 bug fix
  tensorflow/training/docker/2.7/py3/Dockerfile.sagemaker.cpu
Labels: build, tensorflow, Size:XS

#1720 [Tensorflow] re-releas TF27 sagemaker cpu training
  release_images.yml
Labels: Size:S
