Repository aws/deep-learning-containers, pull requests merged in 2022-03, with the labels that each got.

#1619 [build][pytorch] pt1.10 add openssh support
  pytorch/training/docker/1.10/py3/Dockerfile.e3.cpu
  test/dlc_tests/container_tests/bin/pytorch_tests/testPyTorchGloo
  test/dlc_tests/container_tests/bin/pytorch_tests/testPyTorchMpi
  test/dlc_tests/container_tests/bin/testSmprofiler
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/test_utils/eks.py
Labels: build, test, pytorch, ec2, Size:S

#1723 [tensorflow] Bug fixes to TF2.8 E3 images
  tensorflow/inference/docker/2.8/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.8/py3/example/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#1724 [Habana] [test] [ec2, sagemaker] Fix to skip SM tests for Habana and modify async testing API
  test/test_utils/ec2.py
  test/testrunner.py
Labels: Size:XS, Size:S, habana

#1726 TF 2.8: Move sasl to upgrade instead of install
  tensorflow/inference/docker/2.8/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#1727 Add dependabot config file to scan Dockerfiles
  .github/dependabot.yml
Labels: Size:XS

#1709 [PyTorch] PyTorch 1.10.2 SageMaker DLC
  pytorch/buildspec.yml
  pytorch/training/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
  test/sagemaker_tests/pytorch/training/resources/gpt2/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/mnist/smdataparallel_mnist.py
  test/sagemaker_tests/pytorch/training/resources/mnist/smdataparallel_smmodelparallel_mnist_script_mode.sh
  test/sagemaker_tests/pytorch/training/resources/smdataparallel/smdataparallel_throughput.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/smmodelparallel/smdataparallel_smmodelparallel_mnist_script_mode.sh
Labels: build, test, pytorch, tensorflow, ec2, Size:S, sagemaker_tests

#1685 [tensorflow] Add dockerfiles for TF2.8
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/testSmdebug
  test/dlc_tests/release_candidate_integration/test_sm_profiler.py
Labels: build, tensorflow, Size:S

#1741 Update available images for TF2.7 SM and TF2.8 E3
  available_images.md
Labels: Size:S

#1750 [tensorflow][build][sagemaker] enhance gunicorn logging
  tensorflow/inference/docker/build_artifacts/sagemaker/python_service.py
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
  tensorflow/inference/docker/build_artifacts/sagemaker/tfs_utils.py
Labels: build, tensorflow, Size:S

#1734 [autogluon][build] AutoGluon 0.3.1 container patching
  autogluon/buildspec.yml
  autogluon/inference/docker/0.3/py3/Dockerfile.cpu
  autogluon/training/docker/0.3/py3/Dockerfile.cpu
  autogluon/training/docker/0.3/py3/cu112/Dockerfile.gpu
  data/ignore_ids_safety_scan.json
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/autogluon/inference/integration/local/test_serving.py
  test/sagemaker_tests/autogluon/training/integration/local/ag_tools.py
Labels: build, test, sanity, Size:S, sagemaker_tests, autogluon

#1755 [release] Add TF 2.8 SM DLCs to release images
  release_images.yml
Labels: Size:XS

#1754 [doc] Update available images
  available_images.md
Labels: Size:S

#1711 [Tensorflow][Test][benchmark][ec2] Invoke all the Habana benchmark tests using async execution
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_rn50_training_performance_hpu_synthetic
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_bert_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_maskrcnn_training_performance_hpu
  test/dlc_tests/container_tests/bin/benchmark/run_tensorflow_rn50_training_performance_hpu_synthetic
  test/test_utils/ec2.py
Labels: build, test, benchmark, Size:XS, Size:S, habana

#1756 [tensorflow][build][test] Fix test failures for TF 2.6 dockerfiles
  tensorflow/inference/docker/2.6/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.6/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.6/py3/Dockerfile.cpu
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_check.py
  test/dlc_tests/sanity/test_safety_report_file.py
Labels: build, test, tensorflow, sanity, Size:S

#1758 [release] Remove customer_type from AG spec
  release_images.yml
Labels: Size:XS

#1760 [autogluon][test][sagemaker] Add support for py38 version in tests
  test/sagemaker_tests/autogluon/inference/conftest.py
  test/sagemaker_tests/autogluon/training/conftest.py
Labels: test, Size:XS, sagemaker_tests

#1742 [Habana]|[Build]|[Test] Fix Habana PT benchmark issues due to framework version regex match
  src/deep_learning_container.py
Labels: src, Size:XS

#1762 [pytorch] [build] [E3] Scope multistage ARGs globally in PyTorch 1.11.0
  pytorch/buildspec-1-10-2.yml
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, test, pytorch, ecs, eks, ec2, sanity, Size:S, sagemaker_tests

#1767 Re-release TF2.7 inference images as TF2.7.1
  release_images.yml
Labels: Size:S

#1772 [ec2][test] Fix PT 1.11 test issues
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/test_utils/__init__.py
Labels: bug, test, ec2, Size:S

#1771 [huggingface_tensorflow][build] Fix TF 2.6.3 binary source in dockerfile
  huggingface/tensorflow/inference/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: bug, build, test, huggingface, sanity, Size:XS, Size:S

#1775 [Release][Tensorflow] release HF TF 2.6.3
  release_images.yml
Labels: Size:S

#1776 [release] Add PT 1.11.0 to release_images
  release_images.yml
Labels: Size:S

#1778 [Habana] Get commit using env variables
  test/test_utils/ec2.py
Labels: Size:XS

#1781 [Habana] Fixing license file for Tensorflow
  habana/tensorflow/training/docker/2.8/py3/synapseai1.3.0/Dockerfile.hpu
  test/testrunner.py
Labels: build, Size:XS, habana

#1784 Habana PT1.10.1 and TF2.8.0 release
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1779 upgrade ts to torchserve-nightly==2022.3.23.post in PT1.10
  pytorch/inference/docker/1.10/py3/Dockerfile.e3.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
Labels: build, pytorch, Size:XS, Size:S

#1773 [mxnet][build] Update mx1.9.0 cpu binaries
  data/ignore_ids_safety_scan.json
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
Labels: build, mxnet, Size:S

#1789 [Autogluon][doc] AutoGluon 0.4.0 available images update
  available_images.md
Labels: Size:XS, Size:S

#1792 Add MXNet 1.9 CPU to release images
  release_images.yml
Labels: Size:S

#1788 [eks][test] EKS cleanup workflow
  eks_infrastructure/eks_cleanup/Dockerfile
  eks_infrastructure/eks_cleanup/eks_cleanup_job.py
  eks_infrastructure/eks_cleanup/eks_cleanup_job_buildspec.yml
Labels: Size:S

#1793 [eks] fix import for logging on eks cleanup workflow
  eks_infrastructure/eks_cleanup/eks_cleanup_job.py
Labels: Size:XS

#1774 [pytorch][1.10][training] fix typo in mpirun path
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.e3.gpu
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
Labels: build, test, pytorch, ecs, eks, ec2, Size:S, sagemaker_tests

#1798 [test] disable incompatible test in testSmprofiler for PT>=1.7
  test/dlc_tests/container_tests/bin/testSmprofiler
Labels: Size:XS

#1797 [PyTorch][1.10] Fix SM Local tests
  test/sagemaker_tests/pytorch/training/integration/local/test_single_machine_training.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests
