Repository aws/deep-learning-containers, pull requests merged in 2022-06, with the labels that each got.

#1978 [huggingface_pytorch] Fix HF PT1.9 pipeline sm local test failures
  test/sagemaker_tests/huggingface/inference/requirements.txt
Labels: build, test, huggingface, Size:XS, Size:S, sagemaker_tests

#1980 [Release][huggingface_pytorch] Release huggingface_pytorch 1.9.1 inference images
  release_images.yml
Labels: Size:XS

#1981 skip safety failure for TF estimator
  data/ignore_ids_safety_scan.json
  test/dlc_tests/sanity/test_safety_check.py
Labels: test, sanity, Size:XS

#1982 [pytorch][graviton][build] Upgrade torchserve to 0.5.3
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
Labels: build, pytorch, Size:XS

#1989 [Release][PyTorch][Graviton] upgrade torchserve to 0.5.3
  release_images.yml
Labels: Size:XS

#1988 Release TF 2.7 e3 and sagemaker images
  release_images.yml
Labels: Size:S

#1952 [Habana][Pytorch] Fix Habana SynAI1.2 PT1.10.0
  data/ignore_ids_safety_scan.json
  habana/pytorch/buildspec-1-10-syai-1-2.yml
  habana/pytorch/buildspec-1-7-syai-0-15.yml
  habana/pytorch/training/docker/1.10/py3/synapseai1.2.0/Dockerfile.hpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, sanity, Size:XS, Size:S, habana

#1950 [Tensorflow-Habana][Build][Test] Fix Habana SynAI1.2 TF2.7 images
  habana/tensorflow/buildspec-2-5-syai-0-15.yml
  habana/tensorflow/buildspec-2-7-syai-1-2.yml
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, sanity, Size:XS, Size:S, habana

#1976 [Pytorch][test] Fixing Pt-1.9 SM failures
  test/sagemaker_tests/pytorch/training/resources/smdataparallel/smdataparallel_throughput.py
  test/sagemaker_tests/pytorch/training/resources/smdataparallel/smdataparallel_throughput_post_ptbackend.py
  test/sagemaker_tests/pytorch/training/resources/smdataparallel/smdataparallel_throughput_pre_ptbackend.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#1993 [Pytorch][Release] Release PT1.9.1 training images
  release_images.yml
Labels: Size:S

#1991 [pytorch][graviton][test][build] fix pt-graviton conda build failure
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.e3.cpu
Labels: build, pytorch, Size:XS

#1994 [release] Add AG 0.4.2 to release_images
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#1995 [release] Add TF 2.6 to release_images
  release_images.yml
Labels: Size:S

#1987 [Pytorch][Inference] Fix PT 1.11 Inference Images
  pytorch/buildspec.yml
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
  test/test_utils/__init__.py
Labels: build, pytorch, Size:S

#1997 [Autogluon][doc] AutoGluon 0.4.2 available images update
  available_images.md
Labels: Size:XS

#1858 [tensorflow]|[build]|[sagemaker] Add Sagemaker builds for Tensorflow 2.9
  .github/CODEOWNERS
  src/benchmark_metrics.py
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_performance_optimized_sm_training.py
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_trcomp_performance.py
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: src, build, test, tensorflow, benchmark, sanity, Size:S, sagemaker_tests

#2005 Fix typo in available_images markdown file
  available_images.md
Labels: Size:XS

#2003 [Tensorflow-Habana][Build][Test] Fix Habana SynAI1.2 TF2.7 images
  data/ignore_ids_safety_scan.json
Labels: build, Size:XS, habana

#1996 Pytorch 1.11 inference buildspec file changes
  data/ignore_ids_safety_scan.json
  pytorch/buildspec.yml
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:S

#2004 [release][habana] release habana synai1.2 PT1.10 and TF2.7 images
  release_images.yml
Labels: Size:S

#2007 [release] update Habana SynAI1.2 release pipeline pytorch version
  release_images.yml
Labels: Size:XS

#2008 release TF2.9 SM training images
  release_images.yml
Labels: Size:S

#1986 [build][Tensorflow] HF TF2.6 GPU training init build
  data/ignore_ids_safety_scan.json
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, huggingface, sanity, Size:XS, Size:S

#2010 Release Pt 1.11 inference
  release_images.yml
Labels: Size:S

#2009 update available_images.md with TF2.9.1 training images
  available_images.md
Labels: Size:XS

#2011 update available_images.md with TF2.9.1 trcomp training images
  available_images.md
Labels: Size:XS

#1985 [build][Tensorflow] Hf TF26 cpu gpu inference
  data/ignore_ids_safety_scan.json
  huggingface/tensorflow/inference/docker/2.6/py3/Dockerfile.cpu
  huggingface/tensorflow/inference/docker/2.6/py3/cu112/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S

#1958 [tensorflow] [build] Fix TF 2.5 docker image build.
  src/image_builder.py
  tensorflow/buildspec-2-5.yml
  tensorflow/inference/docker/2.5/py3/cu112/Dockerfile.diy.gpu
  tensorflow/inference/docker/2.5/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.5/py3/Dockerfile.cpu
  tensorflow/training/docker/2.5/py3/cu112/Dockerfile.diy.gpu
  tensorflow/training/docker/2.5/py3/cu112/Dockerfile.gpu
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_utility_installation.py
  test/test_utils/sagemaker.py
Labels: src, build, test, tensorflow, ec2, sanity, Size:S

#1941 [pytorch] [test] [sagemaker] Fix failing test by setting mp start method.
  pytorch/buildspec.yml
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/resources/resnet18/main.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#2016 release TF2.5.3 training and TF2.5.1 inference
  release_images.yml
Labels: Size:S

#2020 fix intendation in release_images.yml
  release_images.yml
Labels: Size:XS

#1888 [pytorch][build] Upgrade EFA to 1.15.2 on PT 1.11 Training GPU DLC
  pytorch/buildspec-1-11-0.yml
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, test, pytorch, Size:S, sagemaker_tests

#2019 [release][huggingface][tensorflow] release HF tf2.6
  .release_templates/tensorflow2_release_images.yml
  release_images.yml
Labels: Size:S

#1939 [build] Allow buildspec override from config
  buildspec.yml
  dlc_developer_config.toml
  huggingface/pytorch/buildspec-1-7.yml
  huggingface/pytorch/buildspec-1-8.yml
  huggingface/pytorch/buildspec-1-9.yml
  mxnet/buildspec-eia-1-5.yml
  pytorch/buildspec-1-10-neuron.yml
  pytorch/buildspec-1-10.yml
  pytorch/buildspec-1-11-cu115.yml
  pytorch/buildspec-1-3-eia.yml
  pytorch/buildspec-1-5-1.yml
  pytorch/buildspec-1-5-eia.yml
  pytorch/buildspec-1-5-neuron.yml
  pytorch/buildspec-1-5.yml
  pytorch/buildspec-1-7-neuron.yml
  pytorch/buildspec-1-7.yml
  pytorch/buildspec-1-8-1.yml
  pytorch/buildspec-1-8-neuron.yml
  pytorch/buildspec-1-8.yml
  pytorch/buildspec-1-9-neuron.yml
  pytorch/buildspec-1-9.yml
  src/codebuild_environment.py
  src/common_stage_image.py
  src/config.py
  src/image_builder.py
  src/main.py
  src/send_status.py
  src/utils.py
  test/dlc_tests/conftest.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
Labels: src, build, test, huggingface, mxnet, pytorch, sanity, Size:S

#1999 [pytorch][test][build] Fix for PT 1.10 SM GPU Inference
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.e3.gpu
Labels: build, pytorch, Size:XS, Size:S

#1954 [Huggingface][Build][Test][Tensorflow] HF Tensorflow 2.5 CPU/GPU inference
  huggingface/tensorflow/inference/docker/2.5/py3/Dockerfile.cpu
  huggingface/tensorflow/inference/docker/2.5/py3/cu112/Dockerfile.gpu
  test/sagemaker_tests/huggingface/inference/integration/sagemaker/test_vision_model.py
Labels: build, test, huggingface, sanity, Size:XS, Size:S, sagemaker_tests

#2024 [release] Fix release buildspec testing after src config changes
  release_buildspec.yml
Labels: Size:XS

#2022 [build][pytorch][inference] Update PT 1.11 inference opencv version
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#2015 fix: Logic error in SageMaker Training Compiler tests
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_trcomp_performance.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: test, benchmark, Size:XS, sagemaker_tests

#1962 [Huggingface][Build][Test][Tensorflow] update HF tf2.5 images
  huggingface/tensorflow/buildspec-2-5.yml
  huggingface/tensorflow/inference/docker/2.5/py3/Dockerfile.cpu
  huggingface/tensorflow/inference/docker/2.5/py3/cu112/Dockerfile.gpu
  huggingface/tensorflow/training/docker/2.5/py3/cu112/Dockerfile.gpu
  release_images.yml
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, huggingface, sanity, Size:XS, Size:S

#2023 [tensorflow][build]: Add TF2.9 Inference Dockerfiles
  tensorflow/buildspec.yml
  tensorflow/inference/docker/2.9/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:S

#1882 Fetch ami-id dynamically for tests
  mxnet/buildspec.yml
  test/test_utils/__init__.py
Labels: build, mxnet, Size:S

#2034 release TF2.9.1 inference and PT1.11 E3/SM images
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#2035 Fix assert statements in TFS test
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#2037 [build] TF2.9.0 Inference DLC
  release_images.yml
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:XS

#2038 update available_images.md with TF2.9.0 inference DLC
  available_images.md
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:S

#2027 [pytorch] [trcomp] [huggingface] add trcomp 1.9 dockerfile with latest CVE fixes
  huggingface/pytorch/buildspec-trcomp-1-9.yml
  huggingface/pytorch/training/docker/1.9/py3/cu111/Dockerfile.trcomp.gpu
  test/dlc_tests/conftest.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, huggingface, sanity, Size:S

#2030 [build][tensorflow]TF 2.6 training for CVE fixes
  tensorflow/buildspec-2-6.yml
  tensorflow/training/docker/2.6/py3/Dockerfile.cpu
  tensorflow/training/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, sanity, Size:S

#2043 Release hf pytorch trcomp 1.9 images
  release_images.yml
Labels: Size:XS

#1975 Build PT1.9 inference
  pytorch/buildspec-1-9.yml
  pytorch/inference/docker/1.9/py3/Dockerfile.cpu
  pytorch/inference/docker/1.9/py3/cu111/Dockerfile.gpu
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
Labels: build, test, pytorch, ec2, Size:S

#2045 Release PT 1.9 inference images
  release_images.yml
Labels: Size:XS

#2046 TF2.6 buildspec update
  tensorflow/buildspec-2-6.yml
Labels: build, tensorflow, Size:XS

#2051 Release mxnet 1.9 training for cve patching
  release_images.yml
Labels: Size:S

#2036 [build][tensorflow]TF 2.7 training for CVE fixes
  tensorflow/buildspec-2-7.yml
  tensorflow/training/docker/2.7/py3/Dockerfile.e3.cpu
  tensorflow/training/docker/2.7/py3/Dockerfile.sagemaker.cpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.e3.gpu
  tensorflow/training/docker/2.7/py3/cu112/Dockerfile.sagemaker.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2054 Release autogluon 0.4 for cve patching
  release_images.yml
Labels: Size:S

#2055 Release TF 2.6 training and inference
  release_images.yml
Labels: Size:S

#2056 [Habana] Release Habana SynAI 1.4.1 PT and TF
  release_images.yml
Labels: Size:S

#2039 [build][tensorflow]TF 2.8 training for CVE fixes
  tensorflow/training/docker/2.8/py3/Dockerfile.cpu
  tensorflow/training/docker/2.8/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2059 remove training images for TF2.6 from release_images.yml
  release_images.yml
Labels: Size:XS

#2057 TF2.7 buildspec file change to build training images
  tensorflow/buildspec-2-7.yml
Labels: build, tensorflow, Size:S

#2060 remove TF2.6 example image configuration
  release_images.yml
Labels: Size:XS

#2061 Release TF2.7 training
  release_images.yml
Labels: Size:S

#2063 Add buildspec-2-6.yml file for huggingface
  huggingface/tensorflow/buildspec-2-6.yml
Labels: build, huggingface, Size:S

#2042 [test] Revert Disable anaconda test
  test/dlc_tests/sanity/test_anaconda.py
Labels: test, sanity, Size:XS

#2067 Release HF PT Neuron 1.10 images
  release_images.yml
Labels: Size:S

#1998 [huggingface][tensorflow] Removal of repo.anaconda.com for HF TF 2.6 inference
  huggingface/tensorflow/inference/docker/2.6/py3/Dockerfile.cpu
  huggingface/tensorflow/inference/docker/2.6/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, huggingface, sanity, Size:S

#2072 Fix image_baseline_size for HF TF 2.6
  huggingface/tensorflow/buildspec-2-6.yml
  huggingface/tensorflow/buildspec.yml
Labels: build, huggingface, Size:XS

#2070 Add HF PT Neuron 1.10.2 to available images markdown
  available_images.md
Labels: Size:XS

#2076 [Pytorch][build] update PT1.12 GPU Training image OFI Nccl from 1.2.0 to 1.3.0
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, pytorch, sanity, Size:XS

#2074 Add Habana SynAI1.4.1 to available_images.md
  available_images.md
Labels: Size:XS
