Repository aws/deep-learning-containers, pull requests merged in 2022-09, with the labels that each got.

#2214 [release][tensorflow][graviton] re-release TF2.7 graviton cpu inference
  release_images.yml
Labels: Size:S

#2211 Add trcomp images to available_images.yml
  available_images.md
Labels: Size:XS

#2179 [pytorch][eia][build]Handling Pytorch 1.5.1 eia vulnerabilities
  pytorch/buildspec-eia.yml
  pytorch/inference/docker/1.5.1/py38/Dockerfile.eia
  test/dlc_tests/sanity/test_dlc_labels.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, sanity, Size:S

#2189 [pytorch][build][ec2] PyTorch 1.12.1 EC2 release
  pytorch/buildspec.yml
  pytorch/inference/docker/1.12/py3/Dockerfile.cpu
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/Dockerfile.cpu
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
Labels: build, test, pytorch, eks, Size:S

#2222 add eia container to avaiable_image list
  available_images.md
Labels: Size:XS

#2163 Add ec2 dockerfiles for Tensorflow 2.10
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.10/py3/Dockerfile.cpu
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.10/py3/example/Dockerfile.gpu
  test/dlc_tests/container_tests/bin/testTensorflow2Standalone
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, sanity, Size:S

#2188 [pytorch][build][sagemaker] PyTorch 1.12.1 SageMaker release
  pytorch/buildspec.yml
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/Dockerfile.cpu
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
Labels: build, test, pytorch, eks, Size:S

#2228 Add TF 2.10 EC2 to release images
  release_images.yml
Labels: Size:S

#2230 Fix variable name for TF 2.10 release
  release_images.yml
Labels: Size:XS

#2231 Remove example cpu image for TF 2.10 release
  release_images.yml
Labels: Size:XS

#2232 Create separate inference buildspec for PT 1.12
  pytorch/buildspec-1-12-inference.yml
  pytorch/buildspec.yml
Labels: build, pytorch, Size:S

#2233 Update available_images with TF 2.10 EC2 release
  available_images.md
Labels: Size:XS

#2166 Add nightly release docker files
  pytorch/buildspec-sagemaker-lite-1-13.yml
  pytorch/training/docker/1.13/py3/Dockerfile.sagemaker.full.cpu
  pytorch/training/docker/1.13/py3/Dockerfile.sagemaker.lite.cpu
  pytorch/training/docker/1.13/py3/cu113/Dockerfile.sagemaker.full.gpu
  pytorch/training/docker/1.13/py3/cu113/Dockerfile.sagemaker.lite.gpu
  pytorch/training/docker/1.13/py3/cu116/Dockerfile.sagemaker.full.gpu
  pytorch/training/docker/1.13/py3/cu116/Dockerfile.sagemaker.lite.gpu
  src/image_builder.py
  src/main.py
  src/utils.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_pt_s3.py
  test/dlc_tests/sanity/test_telemetry.py
  test/dlc_tests/sanity/test_torchvision.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pt_s3_plugin.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/pytorch/training/utils/__init__.py
  test/sagemaker_tests/pytorch/training/utils/image_utils.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
  test/test_utils/__init__.py
  test/test_utils/imageutils.py
  test/test_utils/sagemaker.py
  test/testrunner.py
Labels: src, build, test, pytorch, tensorflow, ecs, eks, ec2, sanity, Size:S, sagemaker_tests

#2220 [pytorch][build][sagemaker] PyTorch 1.11.0 SM training re-release, fixing perf degradation
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  test/dlc_tests/release_candidate_integration/test_sm_profiler.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#2238 [Pytorch] Re-Release PT1.11
  release_images.yml
Labels: Size:S

#2219 [pytorch][build][sagemaker] PyTorch 1.10.2 SM training re-release, fixing smdebug perf degradation
  pytorch/buildspec-1-10.yml
  pytorch/training/docker/1.10/py3/Dockerfile.ec2.cpu
  pytorch/training/docker/1.10/py3/Dockerfile.sagemaker.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.ec2.gpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.sagemaker.gpu
Labels: build, pytorch, Size:XS, Size:S

#2241 Change release images for 1.10.2 re-release
  .release_images_template.yml
  release_images.yml
Labels: Size:S

#2245 Updated PT1.10 to Build SM Inference
  pytorch/inference/docker/1.10/py3/Dockerfile.ec2.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.ec2.gpu
Labels: build, pytorch, Size:XS, Size:S

#2256 [Pytorch] PT1.10 Pip List Failure Fix
  release/dlc_release_information.py
  release_images.yml
Labels: Size:XS

#2208 [graviton][sagemaker][test] SageMaker "Local" tests update for Graviton
  test/dlc_tests/benchmark/ec2/mxnet/test_performance_mxnet_inference.py
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/sagemaker_tests/pytorch/inference/requirements.txt
  test/test_utils/__init__.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, tensorflow, ec2, benchmark, sanity, Size:S, sagemaker_tests

#2257 Enhanced Scan Test consistency with scanners
  test/test_utils/security.py
Labels: Size:XS

#2268 [Bug Fix] Fix key name generation
  test/dlc_tests/conftest.py
Labels: Size:XS

#2267 Fix Unit tests related to Enhanced Scanning Class
  test/dlc_tests/sanity/resources/allowlist1.json
  test/dlc_tests/sanity/resources/allowlist2.json
  test/dlc_tests/sanity/resources/allowlist_one_minus_two.json
  test/dlc_tests/sanity/resources/allowlist_summation_result.json
  test/dlc_tests/sanity/resources/allowlist_to_read.json
  test/dlc_tests/sanity/resources/allowlist_two_minus_one.json
Labels: test, sanity, Size:XS, Size:S

#2270 Fix key pair gen
  test/dlc_tests/conftest.py
Labels: Size:XS

#2243 [build][mxnet, tensorflow] Build MX 1.9 and TF 2.10 Training from hardened base
  data/ignore_ids_safety_scan.json
  mxnet/buildspec.yml
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
  mxnet/training/docker/1.9/py3/Dockerfile.cpu
  mxnet/training/docker/1.9/py3/cu112/Dockerfile.gpu
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.10/py3/Dockerfile.cpu
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.gpu
Labels: build, mxnet, tensorflow, Size:S

#2261 [OS Patch] TF210 cve patch
  tensorflow/inference/docker/2.10/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.10/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:S

#2262 [OS Patch] mxnet 1.9 cve patch
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
Labels: build, mxnet, Size:S

#2251 [OS Patch] Habana TensorFlow 2.9
  dlc_developer_config.toml
  habana/tensorflow/buildspec-2-9-syai-1-5.yml
  habana/tensorflow/buildspec.yml
  habana/tensorflow/training/docker/2.9/py3/synapseai1.5.0/Dockerfile.hpu
  habana/tensorflow/training/docker/2.9/py3/synapseai1.6.0/Dockerfile.hpu
  tensorflow/inference/docker/2.9/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.9/py3/Dockerfile.graviton.cpu
  tensorflow/inference/docker/2.9/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:S, habana

#2259 [OS Patch] Habana PyTorch 1.11
  data/ignore_ids_safety_scan.json
  habana/pytorch/training/docker/1.11/py3/synapseai1.5.0/Dockerfile.hpu
Labels: build, Size:S, habana

#2277 [pytorch][build] Fix Habana PT 1.11 protobuf version
  dlc_developer_config.toml
  habana/pytorch/buildspec.yml
  habana/pytorch/training/docker/1.11/py3/synapseai1.5.0/Dockerfile.hpu
Labels: build, Size:XS, Size:S, habana

#2280 [mxnet][build] Skip MX 1.9 inf DLC build
  mxnet/buildspec.yml
Labels: build, mxnet, Size:S

#2281 [OS Patch] PT 1.10 Training
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-1-10.yml
  pytorch/training/docker/1.10/py3/Dockerfile.ec2.cpu
  pytorch/training/docker/1.10/py3/cu113/Dockerfile.ec2.gpu
Labels: build, pytorch, Size:S

#2286 [release] Add MX 1.9 EC2 and SM Training to release_images and remove TF 2.10
  release_images.yml
Labels: Size:XS, Size:S

#2271 [Graviton][build] CVE-2015-20107 fix
  pytorch/inference/docker/1.10/py3/Dockerfile.graviton.ec2.cpu
  tensorflow/inference/docker/2.7/py3/Dockerfile.graviton.ec2.cpu
Labels: build, test, mxnet, pytorch, tensorflow, sanity, Size:XS, Size:S

#2273 [Tensorflow 2.9.2] Updating TF 2.9 wheels for version 2.9.2
  tensorflow/buildspec-2-9.yml
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2284 [OS Patch] PyTorch 1.10 Inference
  pytorch/buildspec-1-10.yml
  pytorch/inference/docker/1.10/py3/Dockerfile.ec2.cpu
  pytorch/inference/docker/1.10/py3/cu113/Dockerfile.ec2.gpu
Labels: build, pytorch, Size:S

#2287 [release] Add Habana PT 1.11 to release_images
  release_images.yml
Labels: Size:S

#2290 Pt110 tf27 graviton CVE release
  release_images.yml
Labels: Size:S

#2250 [OS Patch] TensorFlow 2.9
  README.md
  data/ignore_ids_safety_scan.json
  dlc_developer_config.toml
  tensorflow/inference/docker/2.9/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.9/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_safety_check.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#2292 Release Images File for PT1.10 SM+EC2 Release
  release_images.yml
Labels: Size:S

#2298 [release][graviton] fix tf2.7 graviton release
  release_images.yml
Labels: Size:XS

#2291 Add TF 2.10 SM to release images
  release_images.yml
Labels: Size:S

#2294 [release] Fix Habana PT 1.5 release configuration
  release_images.yml
Labels: Size:XS

#2293 Fix Allowlist functionality for ECR enhanced scans
  test/dlc_tests/sanity/test_ecr_scan.py
  test/dlc_tests/sanity/test_scan_vulnerability_class_functionality.py
  test/test_utils/security.py
Labels: test, sanity, Size:S

#2300 Add DXB region to available_images.md file
  available_images.md
Labels: Size:XS

#2258 [OS Patch] PyTorch 1.12 Inference
  pytorch/inference/docker/1.12/py3/Dockerfile.cpu
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.gpu
  test/dlc_tests/sanity/test_dlc_labels.py
Labels: build, test, pytorch, sanity, Size:S

#2301 Add GPT-2 for TF2.9 Benchmark Metrics
  src/benchmark_metrics.py
Labels: src, Size:XS
