Repository aws/deep-learning-containers, pull requests merged in 2023-01, with the labels that each got.

#2539 [Tensorflow] [Inference]TF 2.9.3 release
  tensorflow/buildspec-2-9.yml
  tensorflow/inference/docker/2.9/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.9/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, tensorflow, sanity, Size:S

#2531 [TensorFlow] TF2.11 SM Training Release
  tensorflow/buildspec.yml
  tensorflow/training/docker/2.11/py3/Dockerfile.cpu
  tensorflow/training/docker/2.11/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.11/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/mlm/requirements.txt
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/mnist/mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/mnist/mnist_custom.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/smtrcomp/tensorflow_issue_58135.py
Labels: build, test, tensorflow, Size:S, sagemaker_tests

#2556 [Tensorflow] 2.9.3 release images
  release_images.yml
Labels: Size:S

#2558 [Triton] | [Documentation] Update Triton container available images
  available_images.md
Labels: Size:XS

#2546 Release PT 1.11 ec2 and sagemaker images
  release_images.yml
Labels: Size:S

#2562 Add inference specific canary logic
  test/dlc_tests/sanity/test_canary_integration.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:S

#2559 [tensorflow] [2.11] [benchmark] fix issues with trcomp benchmarks
  src/benchmark_metrics.py
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_trcomp_performance.py
Labels: src, test, benchmark, Size:XS, Size:S

#2565 [Tensorflow] [Inference] updating available images for TF 2.9.3
  available_images.md
Labels: Size:XS

#2560 [Re-release][PT-1.12.1] smdebug hooks fix, smdebugger fix with numpy deprecation
  pytorch/training/docker/1.12/py3/Dockerfile.cpu
  pytorch/training/docker/1.12/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.12/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/1.12/py3/cu116/Dockerfile.gpu
  pytorch/training/docker/1.12/py3/example/Dockerfile.gpu.example.os_scan_allowlist.json
  test/dlc_tests/container_tests/bin/testDependencyCheck
Labels: build, pytorch, Size:XS, Size:S

#2554 [Re-release][PT-1.11.0] patch the torch eval() code injection CVE
  pytorch/build_artifacts/pin_git_modules.py
  pytorch/buildspec-1-11.yml
  pytorch/training/docker/1.11/py3/Dockerfile.cpu
  pytorch/training/docker/1.11/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.11/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/1.11/py3/cu115/Dockerfile.gpu
  pytorch/training/docker/1.11/py3/example/Dockerfile.gpu.example.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2536 [NEURON][PT][BUILD] - PT1.12 on SDK2.6.0
  data/ignore_ids_safety_scan.json
  pytorch/buildspec-1-12-neuron.yml
  pytorch/buildspec-neuron.yml
  pytorch/training/docker/1.12/py3/sdk2.6.0/Dockerfile.neuron
  pytorch/training/docker/1.12/py3/sdk2.6.0/Dockerfile.neuron.os_scan_allowlist.json
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_check.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_neuron.py
  test/sagemaker_tests/pytorch/training/resources/neuron/mlp/requirements.txt
  test/test_utils/__init__.py
Labels: build, test, pytorch, ec2, sanity, Size:S, sagemaker_tests

#2571 Update PT 1.11 inference images
  pytorch/buildspec-1-11.yml
Labels: build, pytorch, Size:S

#2566 [TensorFlow][2.11] SMDebugger Update Tag Version
  tensorflow/training/docker/2.11/py3/Dockerfile.cpu
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S

#2574 [TensorFlow][2.11] Increase TF2.11 Build Image Baseline
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:XS

#2569 Release PT-1.11.0, PT-1.12.1 training image
  .release_images_template.yml
  release_images.yml
Labels: build, pytorch, Size:S

#2543 Release neuron sdk 2.6.0 PT 1.12 training image
  release_images.yml
Labels: Size:XS

#2575 Update the neuron sdk2.6.0 image in available images.
  available_images.md
Labels: Size:XS

#2578 [TensorFlow][Release] Release for TF2.11 SM Training
  release_images.yml
Labels: Size:S

#2582 [tensorflow][graviton] re-release TF 2.9.1 Graviton
  release_images.yml
Labels: Size:S

#2580 [pytorch][test] Re-Release work PT 1.13 Inference EC2/SM
  pytorch/buildspec.yml
  pytorch/inference/docker/1.13/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2583 Add DJL release definitions
  release_images.yml
Labels: Size:S

#2579 [TensorFlow] Updated Available images for TF2.11
  available_images.md
Labels: Size:XS

#2584 [pytorch][release] PT 1.13.1 EC2/SM CPU/GPU release
  release_images.yml
Labels: Size:S

#2581 [graviton][pytorch] update ignore lists
  pytorch/inference/docker/1.12/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2577 Rebuild PT 1.11 inference images
  pytorch/inference/docker/1.11/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.ec2.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS, Size:S

#2589 Update release images yml for PT 1.11 inference release
  release_images.yml
Labels: Size:S

#2587 Patch Tensorflow 2.11 images
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:XS, Size:S

#2576 Patch PyTorch 1.12 - add changes to initiate PR tests
  pytorch/buildspec-1-12.yml
  pytorch/inference/docker/1.12/py3/Dockerfile.cpu
  pytorch/inference/docker/1.12/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.gpu
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS, Size:S

#2585 [TensorFlow] Removed Kernel Installed by Spark Magic in TF2.11
  tensorflow/training/docker/2.11/py3/Dockerfile.cpu
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.gpu
  test/dlc_tests/sanity/test_utility_installation.py
Labels: build, test, tensorflow, sanity, Size:XS, Size:S

#2591 Update release_images and available_images
  available_images.md
  release_images.yml
Labels: Size:S

#2602 Remove dependency check tests. ECR enhanced scanning covers Java pack…
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:S

#2601 Update LD_LIBRARY_PATH in PT 1.11 containers
  pytorch/inference/docker/1.11/py3/Dockerfile.cpu
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.gpu
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#2594 [TensorFlow] Re-Release TF2.11 SM/EC2
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:S

#2588 [autogluon][build] AutoGluon 0.6.1 training containers - security updates
  autogluon/buildspec.yml
  autogluon/training/docker/0.6/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/0.6/py3/cu113/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, Size:S, autogluon

#2604 [pt 1.11] Update future package allowlist
  pytorch/inference/docker/1.11/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.11/py3/cu115/Dockerfile.ec2.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2605 Updating PT 1.12 allowlists with vulnerability sets
  pytorch/inference/docker/1.12/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu113/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/cu116/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2607 Adding release schema for TF 2.8
  release_images.yml
Labels: Size:S

#2606 [Release] Release TF2.11 + AG 0.6.1
  release_images.yml
Labels: Size:S

#2610 Update configuration for re-release of PT 1.12
  release_images.yml
Labels: Size:S

#2612 [tensorflow][graviton] re-release TensorFlow 2.9.1 graviton for patching
  release_images.yml
Labels: Size:S

#2609 [pytorch][graviton] Patch update
  pytorch/inference/docker/1.12/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.12/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2613 [pytorch] PyTorch 1.13.1 prep for re-release
  pytorch/inference/docker/1.13/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#2614 Add DJL 0.19.0 and 0.20.0 release definitions
  release_images.yml
Labels: Size:S

#2615 [pytorch] Re-Release PyTorch 1.12.1-graviton and PyTorch 1.13.1
  release_images.yml
Labels: Size:S

#2608 [MxNet][Inference] Patch MxNet1.9 Inference DLCs
  mxnet/inference/docker/1.9/py3/Dockerfile.cpu
  mxnet/inference/docker/1.9/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  mxnet/inference/docker/1.9/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  mxnet/inference/docker/1.9/py3/cu112/Dockerfile.gpu
  test/test_utils/__init__.py
Labels: build, mxnet, Size:XS, Size:S

#2592 [Tensorflow] [Inference] Release 2.9.3
  tensorflow/inference/docker/2.9/py3/Dockerfile.graviton.cpu
Labels: build, tensorflow, Size:XS

#2593 [tensorflow][2.10.1]Release 2.10.1
  tensorflow/inference/docker/2.10/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.10/py3/cu112/Dockerfile.gpu
Labels: build, tensorflow, Size:XS

#2616 2.9.3 release images
  release_images.yml
Labels: Size:S

#2603 [TensorFlow][ReRelease] TF2.9 Re-Release
  tensorflow/buildspec-2-9.yml
  tensorflow/training/buildspec-2-9.yml
  tensorflow/training/docker/2.9/py3/Dockerfile.cpu
  tensorflow/training/docker/2.9/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.9/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.9/py3/cu112/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.9/py3/example/Dockerfile.gpu.example.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#2621 [TensorFlow][Training] TRComp TF2.9 Fix for Benchmark Tests
  tensorflow/buildspec-2-9.yml
  tensorflow/training/buildspec-2-9.yml
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_trcomp_performance.py
Labels: build, test, tensorflow, benchmark, Size:XS, Size:S

#2620 [TensorFlow][Training] Release TF2.9.3
  release_images.yml
Labels: Size:S

#2622 Update buildspec and run PR tests for tensorflow 2.11
  tensorflow/buildspec.yml
Labels: build, tensorflow, Size:S

#2624 Update buildspec and run PR test for tensorflow 2.8
  tensorflow/buildspec-2-8.yml
Labels: build, tensorflow, Size:S

#2626 Update release image configuration
  release_images.yml
Labels: Size:S

#2596 [trcomp][pytorch] CVE related updates for PT 1.11 HF Trcomp DLC
  huggingface/pytorch/buildspec-trcomp.yml
  huggingface/pytorch/training/docker/1.11/py3/cu113/Dockerfile.trcomp.gpu.os_scan_allowlist.json
  test/test_utils/__init__.py
Labels: build, huggingface, pytorch, Size:S

#2629 Reorder habana buildspec files
  habana/pytorch/training/buildspec-1-10-syai-1-2.yml
  habana/pytorch/training/buildspec-1-10-syai-1-3.yml
  habana/pytorch/training/buildspec-1-10-syai-1-4.yml
  habana/pytorch/training/buildspec-1-11-syai-1-5.yml
  habana/pytorch/training/buildspec-1-7-syai-0-15.yml
  habana/pytorch/training/buildspec.yml
  habana/tensorflow/training/buildspec-2-5-syai-0-15.yml
  habana/tensorflow/training/buildspec-2-7-syai-1-2.yml
  habana/tensorflow/training/buildspec-2-8-syai-1-3.yml
  habana/tensorflow/training/buildspec-2-8-syai-1-4.yml
  habana/tensorflow/training/buildspec-2-9-syai-1-5.yml
  habana/tensorflow/training/buildspec-2-9-syai-1-6.yml
  habana/tensorflow/training/buildspec.yml
Labels: build, Size:S, habana

#2630 Nest training buildspecs under AG/training directory
  autogluon/training/buildspec-0-2.yml
  autogluon/training/buildspec-0-3-1.yml
  autogluon/training/buildspec-0-3-2.yml
  autogluon/training/buildspec-0-4-3.yml
  autogluon/training/buildspec.yml
  autogluon/training/buildspec_0_5_2.yml
Labels: build, Size:S, autogluon

#2434 Split MXNet inference buildspecs
  mxnet/buildspec-1-6.yml
  mxnet/buildspec-1-7.yml
  mxnet/buildspec-1-8.yml
  mxnet/buildspec-eia-1-5.yml
  mxnet/inference/buildspec-eia.yml
  mxnet/inference/buildspec-graviton.yml
  mxnet/inference/buildspec-neuron.yml
  mxnet/inference/buildspec.yml
  mxnet/training/buildspec.yml
Labels: build, mxnet, Size:S

#2632 Update release_images.yml
  release_images.yml
Labels: Size:S

#2631 Split training and inference TF buildspecs
  tensorflow/buildspec-2-0-eia.yml
  tensorflow/buildspec-2-0.yml
  tensorflow/buildspec-2-1.yml
  tensorflow/buildspec-2-10.yml
  tensorflow/buildspec-2-2.yml
  tensorflow/buildspec-2-3.yml
  tensorflow/buildspec-2-4.yml
  tensorflow/buildspec-2-5.yml
  tensorflow/buildspec-2-6.yml
  tensorflow/buildspec-2-7.yml
  tensorflow/buildspec-2-8.yml
  tensorflow/buildspec-graviton-2-7.yml
  tensorflow/buildspec-tf1-eia.yml
  tensorflow/buildspec-tf1.yml
  tensorflow/inference/buildspec-2-10.yml
  tensorflow/inference/buildspec-2-5-neuron.yml
  tensorflow/inference/buildspec-2-8-neuron.yml
  tensorflow/inference/buildspec-2-8.yml
  tensorflow/inference/buildspec-2-9.yml
  tensorflow/inference/buildspec-eia.yml
  tensorflow/inference/buildspec-graviton.yml
  tensorflow/inference/buildspec-neuron.yml
  tensorflow/inference/buildspec-tf1-neuron.yml
  tensorflow/inference/buildspec.yml
  tensorflow/training/buildspec-2-10.yml
  tensorflow/training/buildspec-2-8.yml
  tensorflow/training/buildspec-2-9.yml
  tensorflow/training/buildspec.yml
Labels: build, tensorflow, Size:S

#2635 Update README to reflect new buildspec location
  README.md
Labels: Size:XS

#2637 Support new training/inference PR builds
  .github/PULL_REQUEST_TEMPLATE.md
  autogluon/buildspec.yml
  dlc_developer_config.toml
  habana/pytorch/buildspec.yml
  habana/tensorflow/buildspec.yml
  huggingface/pytorch/buildspec.yml
  huggingface/tensorflow/buildspec.yml
  mxnet/buildspec.yml
  pytorch/buildspec.yml
  pytorch/inference/buildspec-sagemaker-lite-1-13.yml
  pytorch/training/buildspec-sagemaker-lite-1-13.yml
  src/main.py
  src/utils.py
  tensorflow/buildspec.yml
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
  test/test_utils/__init__.py
Labels: src, build, test, huggingface, mxnet, pytorch, tensorflow, sanity, Size:S, habana, autogluon

#2639 [quick_checks] Add test to ensure buildspecs have job type
  mxnet/.buildspec_templates/eia_buildspec_template.yml
  mxnet/.buildspec_templates/neuron_buildspec_template.yml
  mxnet/.buildspec_templates/std_buildspec_template.yml
  pytorch/.buildspec_templates/eia_buildspec_template.yml
  pytorch/.buildspec_templates/neuron_buildspec_template.yml
  pytorch/.buildspec_templates/std_buildspec_template.yml
  src/main.py
  tensorflow/.buildspec_templates/eia_buildspec_template.yml
  tensorflow/.buildspec_templates/neuron_buildspec_template.yml
  tensorflow/.buildspec_templates/std_buildspec_template.yml
  test/dlc_tests/sanity/quick_checks/test_buildspecs.py
Labels: src, build, test, mxnet, pytorch, tensorflow, sanity, Size:S

#2628 chore: release pytorch 1.13.1 sm
  pytorch/training/buildspec.yml
  release_images.yml
Labels: build, pytorch, Size:XS, Size:S

#2648 fix: add py39 version for sm
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: test, Size:XS, sagemaker_tests

#2650 [src] Remove changeset logic for test running
  src/utils.py
Labels: src, Size:S

#2651 Release image
  available_images.md
Labels: Size:XS

#2646 [TensorFlow][Training] TF2.10 Re-Release
  tensorflow/training/buildspec-2-10.yml
  tensorflow/training/docker/2.10/py3/Dockerfile.cpu
  tensorflow/training/docker/2.10/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.10/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.gpu
  tensorflow/training/docker/2.10/py3/cu112/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:XS, Size:S

#2552 [tensorflow]Updating available images list
  available_images.md
Labels: Size:XS

#2652 [Triton] | [Documentation] Add 22.12 to the list of available images
  available_images.md
Labels: Size:XS

#2640 [release_images] Split release_images yml, add simple test to validate yaml configuration
  post_release_buildspec.yml
  release_buildspec.yml
  release_images.yml
  release_images_inference.yml
  release_images_training.yml
  test/dlc_tests/sanity/quick_checks/test_yml_config.py
Labels: test, sanity, Size:S

#2665 Make quick checks tests PR-only
  test/dlc_tests/sanity/quick_checks/test_buildspecs.py
Labels: test, sanity, Size:XS

#2668 Update canary test logic to poll training/inference separately
  test/test_utils/__init__.py
  test/test_utils/ecr.py
Labels: Size:XS

#2649 [Telemetry] Use imdsv2 first and then imdsv1
  src/deep_learning_container.py
Labels: blocked, src, build, mxnet, pytorch, tensorflow, Size:XS, Size:S
