Repository aws/deep-learning-containers, pull requests merged in 2023-10, with the labels that each got.

#3369 Remove Neuron released images from ymls and update available_images
  available_images.md
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#3374 build EC2 GPU cu118 PT 2.0 training images
  pytorch/training/buildspec.yml
Labels: build, pytorch, Size:S

#3378 [pytorch][release] Patch release PT 1.13 Inference x86_64
  release_images_inference.yml
Labels: Size:S

#3375 [pytorch] patch run for PT 2.0.1 Inference
  test/dlc_tests/sanity/test_health_check.py
Labels: test, sanity, Size:XS, Size:S

#3380 [pytorch][release] PT 2.0.1 INF patch release
  release_images_inference.yml
Labels: Size:S

#3381 [djl-serving] Release DJL 0.24.0 neuronx container
  release_images_inference.yml
Labels: Size:XS

#3382 Release Pytorch Neuron 2.14.1 inference
  release_images_inference.yml
Labels: Size:XS

#3385 Add Torch Neuron 2.14.1 Inference to available images
  available_images.md
  release_images_inference.yml
Labels: Size:XS

#3388 [MXNET][EKS] Remove MXNet EKS Clusters
  eks_infrastructure/build_param.json
Labels: Size:XS

#3361 Re-release cu118 ec2 images
  release_images_training.yml
Labels: Size:XS

#3392 Empty release images yml file
  release_images_training.yml
Labels: Size:XS

#3354 Make TE tests transformerengine version agnostic
  test/dlc_tests/container_tests/bin/transformerengine/testPTTransformerEngine
  test/dlc_tests/ec2/test_transformerengine.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S, sagemaker_tests

#3393 [PyTorch][Inference] Minor fixes for PT 2.1 inference
  pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
Labels: build, test, pytorch, ec2, Size:XS

#3398 [PyTorch][Inference][x86_64][EC2,SM] PT 2.1 Release Images
  release_images_inference.yml
Labels: Size:XS

#3399 [djl-serving] Release DJL 0.24.0 deepspeed container
  release_images_inference.yml
Labels: Size:XS

#3400 [djl-serving] Release DJL 0.24.0 fastettransformer container
  release_images_inference.yml
Labels: Size:XS

#3401 [djl-serving] Release DJL 0.24.0 CPU container
  release_images_inference.yml
Labels: Size:XS

#3403 [PyTorch][Training][EC2] revert gdrcopy and transformer engine versions
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/cu118/Dockerfile.gpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#3412 [djl-serving] Update available images for DJL 0.24.0
  available_images.md
Labels: Size:XS

#3397 Add smppy binary pt113 tf211
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  tensorflow/training/docker/2.11/py3/cu112/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/__init__.py
  test/sagemaker_tests/pytorch/training/integration/local/test_smppy_local.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smppy.py
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/sagemaker_tests/pytorch/training/resources/mnist/smppy_mnist.py
  test/sagemaker_tests/pytorch/training/utils/__init__.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_smppy_local.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smppy.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/requirements.txt
  test/sagemaker_tests/tensorflow/tensorflow2_training/resources/mnist/mnist_smppy.py
Labels: build, test, pytorch, tensorflow, Size:S, sagemaker_tests

#3420 [PyTorch][Training][EC2] minor fix dlc major version
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/cu118/Dockerfile.gpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, test, pytorch, ec2, Size:S

#3429 [pytorch][build] Split Training and Inference buildspecs for PT 2.0 into ec2 sm specific
  pytorch/inference/buildspec-2-0-ec2.yml
  pytorch/inference/buildspec-2-0-sm.yml
  pytorch/training/buildspec-2-0-ec2.yml
  pytorch/training/buildspec-2-0-sm.yml
  pytorch/training/buildspec-2-0.yml
Labels: build, pytorch, Size:S

#3427 Remove Habana, EIA and MXNet from supported images
  available_images.md
Labels: Size:S

#3431 [PyTorch][Training][EC2]Release pt 2.1 ec2 training
  release_images_training.yml
Labels: Size:XS

#3435 [PyTorch][Inference][Training][EC2] update available_images.md
  available_images.md
Labels: Size:S

#3411 [graviton] update PyTorch 2.1 buildspec to use the latest torchserve and sagemaker toolkit
  pytorch/inference/buildspec-graviton.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.graviton.cpu
Labels: build, pytorch, Size:XS

#3439 [djl-serving] Patch 0.24.0 neuronx container
  release_images_inference.yml
Labels: Size:XS

#3413 [smclarify] Add team marker for smclarify
  test/dlc_tests/ec2/test_smclarify.py
Labels: test, ec2, Size:XS

#3416 [smmodelparallel] Add team marker for smmodelparallel test
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smmodelparallel.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: test, Size:XS, sagemaker_tests

#3438 Update version of SageMaker PyTorch Inference toolkit in x86 and Graviton PyTorch DLCs
  pytorch/inference/buildspec-graviton.yml
  pytorch/inference/buildspec.yml
Labels: build, pytorch, Size:XS, Size:S

#3406 [SM local Inference] Add team marker for SM Local Inference test
  test/sagemaker_tests/mxnet/inference/integration/local/test_default_model_fn.py
  test/sagemaker_tests/mxnet/inference/integration/local/test_gluon_hosting.py
  test/sagemaker_tests/mxnet/inference/integration/local/test_hosting.py
  test/sagemaker_tests/mxnet/inference/integration/local/test_onnx.py
  test/sagemaker_tests/pytorch/inference/integration/local/test_serving.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_container.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_multi_model_endpoint.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_multi_tfs.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_nginx_config.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing_mme1.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing_mme2.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing_mme3.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing_mme4.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_tfs_batching.py
Labels: test, Size:S, sagemaker_tests

#3448 [PyTorch][Inference] fix urllib3 version pin
  pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#3415 [smdataparallel] Add team marker for smdataparallel test
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_gdrcopy.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: test, Size:XS, sagemaker_tests

#3442 [pytorch] | [sagemaker] SMDDP PT2.0 re-release
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#3449 [PyTorch][Inference][Graviton] release graviton PT 2.1
  release_images_inference.yml
Labels: Size:XS

#3434 [build,test][pytorch] Fix security issues in PT 2.0 SM DLCs
  pytorch/inference/docker/2.0/py3/Dockerfile.cpu
  pytorch/inference/docker/2.0/py3/cu118/Dockerfile.gpu
  pytorch/training/buildspec-2-0-sm.yml
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/integration/local/test_smppy_local.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/__init__.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_smppy_local.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#3452 [build][pytorch] Update PT 2.0 CPU Training dockerfile
  pytorch/training/docker/2.0/py3/Dockerfile.cpu
Labels: build, test, pytorch, Size:S, sagemaker_tests

#3456 [TGI] Update available images for TGI 1.1.0
  available_images.md
Labels: Size:XS

#3405 [pytorch] Add team marker for pytorch tests
  .github/CODEOWNERS
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/test_efa.py
  test/dlc_tests/ec2/test_gdrcopy.py
  test/dlc_tests/ec2/test_transformerengine.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_gdrcopy.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pt_s3_plugin.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
Labels: test, ecs, eks, ec2, benchmark, Size:S, sagemaker_tests

#3418 [neuron] Add team marker for neuron test
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/dlc_tests/eks/mxnet/inference/test_eks_mxnet_inference.py
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/sagemaker_tests/mxnet/inference/integration/sagemaker/test_neuron_hosting.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_neuron_hosting.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_neuron.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/test_tfs.py
Labels: test, ecs, eks, ec2, Size:S, sagemaker_tests

#3457 Add PT2.1 graviton to available images + minor fixes
  available_images.md
Labels: Size:XS

#3417 [autogluon] Add team marker for autogluon test
  test/sagemaker_tests/autogluon/inference/integration/local/test_serving.py
  test/sagemaker_tests/autogluon/inference/integration/sagemaker/test_serving.py
  test/sagemaker_tests/autogluon/training/integration/local/test_single_machine_training.py
  test/sagemaker_tests/autogluon/training/integration/sagemaker/test_training.py
Labels: test, Size:XS, sagemaker_tests

#3460 [release] Add PT 2.0.1 SM Training to release_images
  release_images_training.yml
Labels: Size:XS

#3433 Update docs to reflect Triton v23.08
  available_images.md
Labels: Size:XS

#3458 [test][pytorch] Fix SM Training test retry bug
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/__init__.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_gdrcopy.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pt_s3_plugin.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smppy.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
Labels: test, Size:S, sagemaker_tests

#3303 [PyTorch2.0.1][SM] Add p5 support
  pytorch/training/buildspec-2-0-sm.yml
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/dlc_tests/sanity/test_health_check.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/__init__.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/pytorch/training/resources/mnist/mnist.py
  test/sagemaker_tests/pytorch/training/resources/mnist/pytorchddp_throughput_mnist.py
  test/test_utils/ec2.py
Labels: build, test, pytorch, ecs, eks, ec2, benchmark, sanity, Size:S, sagemaker_tests

#3461 [PYTORCH][NEURON][NEURONX][BUILD] Add Pytorch Neuron SDK 2.15.0 images
  pytorch/inference/buildspec-1-13-neuron.yml
  pytorch/inference/buildspec-1-13-neuronx.yml
  pytorch/inference/buildspec-neuron.yml
  pytorch/inference/buildspec-neuronx.yml
  pytorch/inference/docker/1.13/py3/sdk2.15.0/Dockerfile.neuron
  pytorch/inference/docker/1.13/py3/sdk2.15.0/Dockerfile.neuron.os_scan_allowlist.json
  pytorch/inference/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx
  pytorch/inference/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx.os_scan_allowlist.json
  pytorch/training/buildspec-1-13-neuronx.yml
  pytorch/training/buildspec-neuronx.yml
  pytorch/training/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx
  pytorch/training/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#3469 Update codeowners for SAI and HF
  .github/CODEOWNERS
Labels: Size:XS

#3455 [trcomp] Add team marker for trcomp/inductor tests
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/benchmark/sagemaker/pytorch/training/test_performance_inductor.py
  test/dlc_tests/benchmark/sagemaker/tensorflow/training/test_trcomp_performance.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/sagemaker_tests/huggingface_pytorch/training/integration/local/test_trcomp.py
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_trcomp.py
  test/sagemaker_tests/huggingface_tensorflow/training/integration/sagemaker/test_trcomp.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_mnist_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: test, ec2, benchmark, Size:S, sagemaker_tests

#3474 [PyTorch][SageMaker][Inference] update PT2.1.0 SM inference available_images.md
  available_images.md
Labels: Size:XS

#3475 Release SDK 2.15.0 NeuronX Pytorch training image
  release_images_training.yml
Labels: Size:XS

#3414 [smdebug] Add team marker for smdebug test
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/release_candidate_integration/test_sm_profiler.py
  test/sagemaker_tests/mxnet/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smtrcomp.py
Labels: test, ec2, Size:XS, sagemaker_tests

#3432 [PyTorch][Training][SM] PT2.1 SM Currency (cpu/cu121)
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
  test/dlc_tests/sanity/test_health_check.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_training_smdebug.py
Labels: build, test, pytorch, ecs, eks, ec2, sanity, Size:S, sagemaker_tests
