Repository aws/deep-learning-containers, pull requests merged in 2024-03, with the labels that each got.

#3741 [release] Add PT 2.1 to release images
  release_images_training.yml
Labels: Size:XS

#3740 [test] Revert "Temporarily force EKS tests to fail"
  test/testrunner.py
Labels: Size:XS

#3742 Release PyTorch 2.2.0 Inference SageMaker DLC
  release_images_inference.yml
Labels: Size:XS

#3743 Process test data only if team marker is present
  src/send_test_notification.py
Labels: src, Size:S

#3744 Update available_images.md for pt 2.2.0 inference sm dlc
  available_images.md
Labels: Size:XS

#3732 Onboard PyTorch EC2/SM Training and EC2 Inference DLCs to autopatching.
  pytorch/inference/buildspec.yml
  pytorch/inference/docker/2.2/py3/Dockerfile.cpu
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.gpu
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.2/py3/Dockerfile.cpu
  pytorch/training/docker/2.2/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.2/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S

#3736 PT 2.2: Reduce test instance scaling by grouping multiple test cases per instance
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/pytorch_tests/testPyTorchHelper
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_2.py
  test/dlc_tests/ec2/smclarify_cases.py
  test/dlc_tests/ec2/test_smclarify.py
  test/dlc_tests/ec2/test_transformerengine.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/testrunner.py
Labels: build, test, pytorch, ec2, Size:S

#3752 [fix] Modify instance launch priorities
  test/dlc_tests/conftest.py
  test/test_utils/ec2.py
Labels: test, ec2, Size:S

#3756 Look at all available reservations
  test/dlc_tests/conftest.py
  test/test_utils/ec2.py
Labels: Size:S

#3745 Fix skip_p5_tests logic
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#3759 [PyTorch] Fix PT2.1.1 Neuronx image tags in available_images.md
  available_images.md
Labels: Size:XS

#3757 Add CRs to ECS and SM local mode as well
  test/dlc_tests/ecs/conftest.py
  test/dlc_tests/ecs/mxnet/inference/test_ecs_mxnet_inference.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/ecs/tensorflow/inference/test_ecs_tensorflow_inference.py
  test/test_utils/ec2.py
  test/test_utils/ecs.py
  test/test_utils/sagemaker.py
Labels: test, ecs, Size:S

#3761 Re-release PT 2.2 ec2 images
  release_images_training.yml
Labels: Size:XS

#3765 [doc] Add TF 2.14.1 DLCs to available_images
  available_images.md
Labels: Size:S

#3766 Add PT 2.2 EC2 inference images to release yaml
  release_images_inference.yml
Labels: Size:XS

#3735 Allow build override in PR from existing image
  pytorch/training/buildspec.yml
  src/config.py
  src/image.py
  src/image_builder.py
  test/dlc_tests/sanity/quick_checks/test_buildspecs.py
Labels: src, build, test, pytorch, sanity, Size:S

#3754 [Build][Test] Handle cases for ECR Scanning tests
  src/patch_helper.py
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/security.py
Labels: src, test, sanity, Size:S

#3771 Release PT2.0.1 Cu121 SM GPU images with SM Profiler
  release_images_training.yml
Labels: Size:XS

#3773 Release PT2.0.1 SM GPU Cu118 images
  release_images_training.yml
Labels: Size:XS

#3760 Update DLAMI BASE AMI Logic to switch between OSS and Proprietary Nvidia Driver AMI
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.gpu
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/efa/testEFASanity
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_2.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/test_gdrcopy.py
  test/dlc_tests/ec2/test_smdebug.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, ec2, benchmark, Size:S

#3772 Switch from C4 to C5
  scheduler/job_requester/requester.py
  scheduler/log_return/__init__.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/ec2/test_smclarify.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/ecs/conftest.py
  test/dlc_tests/ecs/mxnet/training/test_ecs_mxnet_training.py
  test/dlc_tests/sanity/test_telemetry.py
  test/sagemaker_tests/huggingface_tensorflow/training/integration/conftest.py
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_mnist_inductor.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smart_sifting.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/test_utils/sagemaker.py
Labels: build, test, tensorflow, ecs, ec2, sanity, Size:S, sagemaker_tests

#3781 Update pyarrow
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx
  huggingface/pytorch/training/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3782 Add additional ignores
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:XS, Size:S

#3783 Add additional ignores
  data/ignore_ids_safety_scan.json
Labels: Size:XS

#3785 Add additional ignores
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:XS, Size:S

#3786 Fix build dependencies
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  release_images_training.yml
Labels: build, huggingface, Size:XS

#3787 Set huggingface_pytorch disable_sm_tag to True for neuronx training
  release_images_training.yml
Labels: Size:XS

#3789 Add additional ignores
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3790 Add diffusers support to PT 1.13 Training DLC
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, huggingface, Size:S

#3791 Revert Update Transformers version to 4.28.1 for PyTorch 1.13 Trainin…
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/buildspec-1-13.yml
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#3792 Resolve build failures
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/buildspec-1-13.yml
Labels: build, huggingface, Size:XS

#3768 Launch efa instances from heterogenous reservations
  test/dlc_tests/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
  test/test_utils/ec2.py
Labels: src, build, test, pytorch, ec2, Size:S, sagemaker_tests

#3793 Check ml instance type for skip condition
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
Labels: test, Size:XS, sagemaker_tests

#3795 Add additional ignores
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3796 Add additional ignores
  data/ignore_ids_safety_scan.json
Labels: Size:XS

#3799 Release HF PT 1.13 patches
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#3800 [release] Add TF 2.14 graviton to release images inference
  release_images_inference.yml
Labels: Size:S
