Repository aws/deep-learning-containers, pull requests merged in 2024-07, with the labels that each got.

#4025 Add dlc env helper script to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Size:XS, Size:S

#4032 Update pull request documentation to separate commit/push options
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Size:XS

#4016 [PyTorch][Inference][Graviton] PT2.3 Inference Currency for Graviton ec2/sm
  pytorch/inference/buildspec-graviton-2-3.yml
  pytorch/inference/buildspec-graviton.yml
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#4034 Add PT 2.3 Graviton to release_images_patches
  release_images_patches.yml
Labels: Size:S

#4033 [AutoGluon]Update Notes for v1.1.1
  available_images.md
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#4035 Re-enable retries in deep canary
  test/dlc_tests/sanity/test_canary_integration.py
  test/testrunner.py
Labels: test, sanity, Size:XS

#4031 tensorflow 2.16 graviton inference containers
  tensorflow/inference/buildspec-2-16-graviton.yml
  tensorflow/inference/buildspec-graviton.yml
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.graviton.cpu
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#4037 Add PT 2.3 Graviton to available_images
  available_images.md
Labels: Size:XS

#4040 [PyTorch] Add Neuron(X) SDK 2.19.0 images to available_images.md
  available_images.md
Labels: Size:XS

#4043 Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Size:XS

#4038 Onboard PT 2.3 Inference images to autopatch
  pytorch/inference/buildspec-2-3-ec2.yml
  pytorch/inference/buildspec-2-3-sm.yml
  pytorch/inference/buildspec-graviton-2-3.yml
  pytorch/inference/docker/2.3/py3/Dockerfile.cpu
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4044 [Graviton][TF] Fix os scan allowlist
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#4045 [Graviton][TF][Inf] fix os allowlist
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#4041 [Build][Test] TF 2.16.1 Inference SM/EC2 Image release
  release_images_patches.yml
  tensorflow/inference/buildspec-2-16-ec2.yml
  tensorflow/inference/buildspec-2-16-sm.yml
  tensorflow/inference/buildspec.yml
  tensorflow/inference/docker/2.16/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.gpu
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/container_tests/bin/tensorflow_serving/example/create_tensorrt_model.py
Labels: build, test, tensorflow, ec2, Size:S

#4042 Update TF 2.14 inference deep canaries
  tensorflow/inference/buildspec-2-14-sm.yml
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
Labels: build, test, tensorflow, ec2, Size:XS, Size:S

#4048 Clean up unused imports in gdrcopy test
  test/dlc_tests/ec2/test_gdrcopy.py
Labels: test, ec2, Size:XS

#4076 [Autopatch] enable autopatch for tf 2.16 inf
  tensorflow/inference/buildspec-2-16-ec2.yml
  tensorflow/inference/buildspec-2-16-graviton.yml
  tensorflow/inference/buildspec-2-16-sm.yml
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S

#4077 update available images tf 216 inf
  available_images.md
Labels: Size:XS

#4036 Add currency command to dlc env helper script
  src/prepare_dlc_dev_environment.py
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: src, test, sanity, Size:S

#4080 chore: empty commit to trigger build to upgrade git
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#4082 Fix tensorflow-serving-api installation for deep canary
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
Labels: build, test, tensorflow, ec2, Size:XS, Size:S

#4084 update currency to pre-populate TOML file using new buildspec created
  src/prepare_dlc_dev_environment.py
Labels: src, build, pytorch, Size:S

#4086 add more allowlisting
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4088 Remove TF 2.13 from available_images
  available_images.md
Labels: Size:XS

#4091 fix endpoint failures for HF pytorch image
  test/sagemaker_tests/huggingface/inference/requirements.txt
Labels: test, Size:XS, sagemaker_tests

#4093 [djl-serving] 0.29.0 lmi release
  release_images_inference.yml
Labels: Size:XS

#4095 Release Triton v24.05
  release_images_inference.yml
Labels: Size:XS

#4094 create docker file paths from currency
  src/prepare_dlc_dev_environment.py
Labels: src, Size:S

#4097 Fix TF inference tensorrt test, TF training t32x failures
  tensorflow/inference/buildspec-2-14-ec2.yml
  tensorflow/inference/buildspec-2-14-sm.yml
  tensorflow/inference/buildspec-2-16-ec2.yml
  tensorflow/training/buildspec-2-14-ec2.yml
  test/dlc_tests/container_tests/bin/tensorflow_serving/example/create_tensorrt_model.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/test_utils/ec2.py
Labels: build, test, tensorflow, ec2, Size:S

#4096 Add MPI import test and move mpi installation from conda to pip for PT training
  miscellaneous_scripts/dockerfile_patch_script.sh
  test/dlc_tests/sanity/test_utility_installation.py
Labels: build, test, pytorch, sanity, Size:XS, Size:S

#4099 Patch 2024 07 24
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4103 [PyTorch] Add Neuron(X) SDK 2.19.1 images to available_images.md
  available_images.md
Labels: Size:XS

#4101 Fix PT 1.13 EC2 DLC Vulnerbilities allowlist
  pytorch/training/docker/1.13/py3/Dockerfile.cpu
  pytorch/training/docker/1.13/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/1.13/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, test, pytorch, eks, Size:S

#4106 Patch AutoGluon 1.1.1 Training Images
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu121/Dockerfile.gpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu121/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, Size:XS, Size:S, autogluon

#4104 Fix PT 1.13 SM DLC Vulnerabilities allowlist
  pytorch/training/docker/1.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/1.13/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4105 2024 07 25
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4087 chore: fix HF pytorch inference neuronx build
  huggingface/pytorch/inference/buildspec-1-13-1-neuronx.yml
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.py_scan_allowlist.json
Labels: build, test, huggingface, sanity, Size:XS, Size:S

#4111 Deprecate S3 Plugin eks test
  test/dlc_tests/eks/pytorch/training/test_eks_pytorch_training.py
Labels: test, eks, Size:S

#4107 Re-enable autopatch for 1.13 EC2 Training
  pytorch/training/buildspec-1-13-ec2.yml
Labels: build, test, pytorch, eks, Size:XS

#4109 2024 07 29
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, huggingface, Size:XS, Size:S

#4110 Re-enable autopatch for 1.13 SM Training
  pytorch/training/buildspec-1-13-sm.yml
Labels: build, pytorch, Size:XS, Size:S

#4116 2024 07 31 hf pt train
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, huggingface, Size:S

#4117 [huggingface][pytorch-training] patch
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#4118 [djl-serving] 0.29.0 tnx release
  release_images_inference.yml
Labels: Size:XS
