Repository aws/deep-learning-containers, pull requests merged in 2024-09, with the labels that each got.

#4189 Upgrade sagemaker-training package
  miscellaneous_scripts/dockerfile_patch_script.sh
  test/test_utils/__init__.py
Labels: Size:XS, Size:S

#4199 Remove image after pull test to avoid resource constraints
  test/dlc_tests/sanity/test_canary_integration.py
Labels: test, sanity, Size:XS

#4205 Increase Autopatch Size check from 0.5MB to 0.7MB
  src/patch_helper.py
Labels: src, Size:XS, Size:S

#4207 [djl-serving] 0.29.0 lmi patch
  release_images_inference.yml
Labels: Size:XS

#4208 Revert "Bump transformers (#3817)"
  test/sagemaker_tests/pytorch/training/resources/gpt2/requirements.txt
Labels: test, Size:XS, sagemaker_tests

#4209 Remove canary pullable tests
  test/dlc_tests/sanity/test_canary_integration.py
Labels: test, sanity, Size:S

#4206 Chore: patch libgssapi-krb5-2 vulnerability for CVE-2024-37371
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S, autogluon

#4211 Chore: Patching for huggingface-pytorch-inference-neuronx image
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4203 Chore: Patch CVE-2024-42228 for huggingface-pytorch-inference-neuronx image
  huggingface/pytorch/inference/buildspec-1-13-1-neuronx.yml
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4213 Disable Auto-Release on non-benchmark tagged images
  release_images_patches.yml
Labels: Size:S

#4230 chore: patch libgssapi-krb5-2 CVE-2024-37371 for HF neuronx training image
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4232 Remove TF 2.14 EC2 Training from Autorelease
  release_images_patches.yml
Labels: Size:S

#4234 chore: patch neuronx training image CVE-2024-37371
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4231 Split pipeline for PT1.13 Inference images
  pytorch/inference/buildspec-1-13-ec2.yml
  pytorch/inference/buildspec-1-13-sm.yml
Labels: build, pytorch, Size:S

#4236 Update autopatch storage account in ecr test
  test/dlc_tests/sanity/test_ecr_scan.py
Labels: test, sanity, Size:XS, Size:S

#4237 chore: patch multiple HF-pytorch CVEs
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4239 Release PT113 Inf SM Images
  release_images_patches.yml
Labels: Size:S

#4212 chore: patch container vulnerabilities
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
Labels: build, test, huggingface, pytorch, sanity, Size:XS, Size:S

#4241 fix: patch huggingface pytorch training vuln on expat and libexpat1
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4242 fix: huggingface pytorch inference image vulnerabilities
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4192 [PyTorch][Training][EC2] PyTorch 2.4.0 Currency Release
  pytorch/training/buildspec-2-4-ec2.yml
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/efa/testEFA
  test/dlc_tests/container_tests/bin/pytorch_tests/installOSSPyTorch
  test/dlc_tests/container_tests/bin/transformerengine/testPTTransformerEngine
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_4.py
  test/dlc_tests/ec2/test_efa.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: build, test, pytorch, ec2, sanity, Size:S, sagemaker_tests

#4244 fix: Add to py scan for HF pytorch inference image
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.py_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.py_scan_allowlist.json
Labels: build, huggingface, Size:XS

#4245 Fix License files for PT 2.4 Training DLC
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
Labels: build, pytorch, Size:S

#4210 [PyTorch][Inference][Graviton] PT 2.4.0 Currency CPU + New Graviton GPU Image
  pytorch/inference/buildspec-2-3-ec2.yml
  pytorch/inference/buildspec-graviton-2-4-ec2.yml
  pytorch/inference/buildspec-graviton-2-4-sm.yml
  pytorch/inference/buildspec-graviton.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.graviton.gpu
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
  test/dlc_tests/ecs/pytorch/inference/test_ecs_pytorch_inference.py
  test/dlc_tests/eks/eks_manifest_templates/pytorch/inference/single_node_cpu_inference.yaml
  test/dlc_tests/eks/eks_manifest_templates/pytorch/inference/single_node_gpu_inference.yaml
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
  test/test_utils/ecs.py
  test/test_utils/test_reporting.py
Labels: build, test, pytorch, ecs, eks, ec2, sanity, Size:S

#4250 [PyTorch][Inference][Graviton] Add linux vulns to allowlist
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4252 [PyTorch][Inference][Graviton] Remove trailing commas
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS

#4251 [Test] Troubleshoot canary test failures
  test/test_utils/__init__.py
Labels: Size:XS, Size:S

#4255 [Test] Troubleshoot graviton canary issues
  test/test_utils/__init__.py
Labels: Size:XS

#4254 Update disable auth token in EKS tests
  test/dlc_tests/eks/eks_manifest_templates/pytorch/inference/single_node_cpu_inference.yaml
  test/dlc_tests/eks/eks_manifest_templates/pytorch/inference/single_node_gpu_inference.yaml
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
Labels: build, test, pytorch, eks, Size:S

#4256 Update prepare_dlc_dev_environment tests
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: test, sanity, Size:S

#4253 [PyTorch] Add Neuron(X) SDK 2.20.0 images to available_images.md
  available_images.md
Labels: Size:XS

#4257 [PyTorch][Inference][Graviton] Fix allowlists for PT 2.4 Graviton
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#4258 [PyTorch][Inference][Graviton] Add nvgpu to graviton gpu image
  pytorch/inference/docker/2.4/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.graviton.gpu
Labels: build, pytorch, Size:XS

#4246 [PyTorch][Training][SageMaker] PyTorch 2.4.0 Currency Release
  pytorch/training/buildspec-2-4-sm.yml
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smppy.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#4262 Cleanup: Add back images to patches, comment out autoPR queue calls
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.gpu
  release_images_patches.yml
  src/autopr_caller.py
Labels: src, build, pytorch, Size:S

#4266 Update GPU graviton license file, add back PT 1.13/2.1/2.2 inf ec2
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.graviton.gpu
  release_images_patches.yml
Labels: build, pytorch, Size:S

#4269 fix PT 2.4 EC2 Training CVE
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4271 Refresh capacity reservations in standalone EC2 launch cmd
  test/test_utils/ec2.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#4272 Disable TE onnx export test
  test/dlc_tests/container_tests/bin/transformerengine/testPTTransformerEngine
Labels: Size:XS

#4273 Release PyTorch 2.4.0 Training DLC
  release_images_training.yml
Labels: Size:S

#4249 Add signal handler to reap zombie process.
  pytorch/inference/docker/build_artifacts/torchserve-entrypoint.py
Labels: build, pytorch, Size:S

#4247 [PyTorch][Inference][EC2] PyTorch 2.4.0 Currency Release
  pytorch/inference/buildspec-2-4-ec2.yml
  pytorch/inference/buildspec.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.cpu
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.gpu
  test/dlc_tests/eks/pytorch/inference/test_eks_pytorch_inference.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, ecs, eks, Size:S

#4276 Update PT 2.4 Training Available Images
  available_images.md
Labels: Size:XS

#4279 Add more images back to release yaml file
  release_images_patches.yml
Labels: Size:S

#4283 Release PyTorch 2.4 Inf EC2 DLC
  release_images_inference.yml
Labels: Size:XS

#4285 Add PT 2.4 Graviton EC2 CPU to release_images_patches
  release_images_patches.yml
Labels: Size:S

#4278 Update expat for pytorch training 1.13 cu117
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4275 [PyTorch][Inference][SageMaker]PyTorch 2.4.0 Currency Release
  pytorch/inference/buildspec-2-4-sm.yml
  pytorch/inference/buildspec.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  pytorch/inference/docker/build_artifacts/torchserve-entrypoint.py
  test/sagemaker_tests/pytorch/inference/integration/__init__.py
  test/sagemaker_tests/pytorch/inference/integration/local/test_serving.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist_inductor.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#4284 Move PT 2.4 entries to release_patches.yml
  release_images_inference.yml
  release_images_patches.yml
  release_images_training.yml
Labels: Size:S

#4290 [djl] cpu image patches for 0.26.0, 0.27.0, 0.28.0, 0.29.0
  release_images_inference.yml
Labels: Size:S

#4291 [djl] deepspeed image patches for 0.26.0, 0.27.0
  release_images_inference.yml
Labels: Size:S

#4277 Add PT 2.4 Graviton SM CPU to release_images_patches
  release_images_patches.yml
Labels: Size:XS, Size:S

#4294 [djl] lmi patches for 0.28.0, 0.29.0
  release_images_inference.yml
Labels: Size:S

#4296 [djl] neuronx patch releases for 0.26.0, 0.27.0, 0.28.0, 0.29.0
  release_images_inference.yml
Labels: Size:S

#4297 [djl] fix typo in numbering for neuron path 0.29.0
  release_images_inference.yml
Labels: Size:XS

#4299 Add PyTorch 2.4 Inference on SageMaker to release.yml
  release_images_patches.yml
Labels: Size:S

#4298 Remove TF 2.14 from available_images
  available_images.md
Labels: Size:XS

#4287 chore: huggingface pipeline scan improvements
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/__init__.py
  test/test_utils/security.py
Labels: test, sanity, Size:XS, Size:S

#4300 Add PT 2.4 OS Allowlist entries for re-release of updated torchaudio
  pytorch/inference/buildspec-2-4-ec2.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/buildspec-2-4-ec2.yml
  pytorch/training/buildspec-2-4-sm.yml
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S
