Repository aws/deep-learning-containers, pull requests merged in 2024-06, with the labels that each got.

#3977 Onboard PyTorch 2.3 Training EC2 DLC to Autopatch
  pytorch/training/buildspec-2-3-ec2.yml
  pytorch/training/docker/2.3/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
Labels: build, pytorch, Size:S

#3978 Onboard PyTorch 2.3 Training SM DLC to Autopatch
  pytorch/training/buildspec-2-3-sm.yml
  pytorch/training/docker/2.3/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S

#3990 [0.28.0] TensorRT-LLM DLC release
  release_images_inference.yml
Labels: Size:XS

#3991 [0.28.0] tnx dlc release
  release_images_inference.yml
Labels: Size:XS

#3992 [0.28.0] cpu dlc release
  release_images_inference.yml
Labels: Size:XS

#3993 [djl-serving] 0.28.0 lmi release
  release_images_inference.yml
Labels: Size:XS

#3986 PyTorch 2.1 SM Inference Update inference toolkit to 2.0.24
  pytorch/inference/buildspec-2-1-sm.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#3987 PyTorch 2.1 Graviton SM Inference Update inference toolkit to 2.0.24
  pytorch/inference/buildspec-graviton-2-1.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, pytorch, Size:XS, Size:S

#3985 PyTorch 2.2 Graviton SM Inference Update inference toolkit to 2.0.24
  pytorch/inference/buildspec-graviton-2-2.yml
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, pytorch, Size:XS, Size:S

#3984 PyTorch 2.2 SM Inference Update inference toolkit to 2.0.24
  pytorch/inference/buildspec-2-2-sm.yml
  pytorch/inference/docker/2.2/py3/Dockerfile.cpu
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.gpu
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS, Size:S

#3982 [PyTorch][Inference] PT2.3 Inference Currency for x86 cpu/gpu ec2/sm
  dlc_developer_config.toml
  pytorch/inference/buildspec-2-3-ec2.yml
  pytorch/inference/buildspec-2-3-sm.yml
  pytorch/inference/buildspec.yml
  pytorch/inference/docker/2.3/py3/Dockerfile.cpu
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.gpu
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  test/sagemaker_tests/pytorch/inference/integration/local/test_serving.py
  test/sagemaker_tests/pytorch/inference/resources/mnist/model_cpu/1d/code/mnist_1d.py
  test/sagemaker_tests/pytorch/inference/resources/mnist/model_cpu/1d/model.tar.gz
Labels: build, test, pytorch, Size:S, sagemaker_tests

#3995 [AutoGluon] Remove ray update from AG 1.1
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu118/Dockerfile.gpu
  autogluon/inference/docker/1.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu118/Dockerfile.gpu
  autogluon/training/docker/1.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, Size:XS, Size:S, autogluon

#3997 [doc][djl-serving] update available images doc with 0.28.0 release im…
  available_images.md
Labels: Size:XS

#4000 Add PT2.3 Inference to release_images_patches.yml
  release_images_patches.yml
Labels: Size:S

#3999 [Pytorch][Inference][Test] New tar file for PT Inference SM local test mnist_1d
  pytorch/inference/buildspec-2-3-ec2.yml
  pytorch/inference/buildspec-2-3-sm.yml
  test/sagemaker_tests/pytorch/inference/integration/local/test_serving.py
  test/sagemaker_tests/pytorch/inference/resources/mnist/model_cpu/1d/model.tar.gz
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#4002 [Test][PyTorch][Inference] Add 311 to valid python versions
  test/sagemaker_tests/pytorch/inference/conftest.py
Labels: test, Size:XS, sagemaker_tests

#3998 Enable autopatch for PT 2.2/2.1 x86/graviton inference DLCs
  pytorch/inference/buildspec-2-1-sm.yml
  pytorch/inference/buildspec-2-2-sm.yml
  pytorch/inference/buildspec-graviton-2-1.yml
  pytorch/inference/buildspec-graviton-2-2.yml
Labels: build, pytorch, Size:XS

#4003 Add PT2.3 Inference x86 to available_images.md
  available_images.md
Labels: Size:XS

#3988 PyTorch 1.13 SM Inference Update inference toolkit to 2.0.24
  pytorch/inference/buildspec-1-13.yml
  pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  pytorch/inference/docker/1.13/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.core_packages.json
  test/test_utils/__init__.py
Labels: build, pytorch, Size:S

#4004 Enable autopatch for PT 1.13 x86 inference DLCs
  pytorch/inference/buildspec-1-13.yml
Labels: build, pytorch, Size:XS

#3974 Add prepare_dlc_dev_environment script to assist in preparation of dev toml
  src/prepare_dlc_dev_environment.py
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: src, test, sanity, Size:XS, Size:S

#4011 [0.28.0] Tensorrt-llm dlc patch release
  release_images_inference.yml
Labels: Size:XS

#4012 [0.28.0] tnx dlc patch release
  release_images_inference.yml
Labels: Size:XS

#4013 [0.28.0] djl cpu release
  release_images_inference.yml
Labels: Size:XS

#4009 Add "--buildspecs" feature to src/prepare_dlc_dev_environment.py
  src/prepare_dlc_dev_environment.py
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: src, test, sanity, Size:S

#4008 GPG/PGP key update
  miscellaneous_scripts/dockerfile_patch_script.sh
  src/patch_helper.py
Labels: src, Size:XS

#4014 Add restore feature to revert the toml file to original state
  src/prepare_dlc_dev_environment.py
Labels: src, Size:S

#4017 Add Urllib3 for upstream handling to ecr data
  data/ecr_scan_vulnerabilities.json
Labels: Size:XS

#4006 Add ECR report allowlist uploading to image-data-storage bucket
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/__init__.py
Labels: test, sanity, Size:XS, Size:S

#4018 [Build][Test] Remediation for PT and TF image build and tests
  data/ecr_scan_vulnerabilities.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.14/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.14/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:XS, Size:S

#4019 fix: apt-get update linux-libc-dev in HF PT image
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
Labels: build, huggingface, Size:XS

#4020 fix: remove trailing comma
  data/ignore_ids_safety_scan.json
Labels: Size:XS

#4021 [djl-serving] 0.28.0 lmi patch
  release_images_inference.yml
Labels: Size:XS

#4015 Add commit and push options to dev env script
  src/prepare_dlc_dev_environment.py
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: src, test, sanity, Size:S

#4022 Add functional tests for EC2 deep canaries
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
Labels: test, ec2, Size:XS, Size:S, sagemaker_tests

#4023 [0.28.0] tensorrt llm dlc patch release
  release_images_inference.yml
Labels: Size:XS

#4024 [0.28.0] lmi dlc patch release
  release_images_inference.yml
Labels: Size:XS

#4005 Deprecate S3 Plugin tests
  pytorch/training/buildspec-1-13-ec2.yml
  pytorch/training/buildspec-1-13-sm.yml
  pytorch/training/buildspec-2-1-sm.yml
  pytorch/training/buildspec-2-2-ec2.yml
  pytorch/training/buildspec-2-2-sm.yml
  pytorch/training/buildspec-2-3-ec2.yml
  pytorch/training/buildspec-2-3-sm.yml
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/pytorch_tests/testPyTorchS3Plugin
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ecs/pytorch/training/test_ecs_pytorch_training.py
  test/dlc_tests/sanity/test_pt_s3.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/__init__.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pt_s3_plugin.py
  test/sagemaker_tests/pytorch/training/resources/resnet18/main.py
Labels: build, test, pytorch, ecs, eks, ec2, sanity, Size:S, sagemaker_tests

#4027 deep_canary: temp remove rerun argument
  test/testrunner.py
Labels: Size:XS
