Repository aws/deep-learning-containers, pull requests merged in 2024-08, with the labels that each got.

#4120 [huggingface][pytorch-training] Patch 2024 08 01
  data/ignore_ids_safety_scan.json
Labels: build, huggingface, Size:XS

#4123 [Build] EC2 image build analysis
  miscellaneous_scripts/dockerfile_patch_script.sh
Labels: build, pytorch, Size:XS, Size:S

#4119 HuggingFace PyTorch Training 2.1.0 GPU Test Fix
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_smdp.py
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_smmp.py
Labels: build, test, huggingface, Size:XS, Size:S, sagemaker_tests

#4046 [Build][Test] TF 2.16.2 Training SM/EC2 Image release
  tensorflow/training/buildspec-2-16-ec2.yml
  tensorflow/training/buildspec-2-16-sm.yml
  tensorflow/training/buildspec.yml
  tensorflow/training/docker/2.16/py3/Dockerfile.cpu
  tensorflow/training/docker/2.16/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.gpu
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_training.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_pipemode.py
Labels: build, test, tensorflow, ec2, sanity, Size:S, sagemaker_tests

#4115 Add override & restore buildspec file command
  src/prepare_dlc_dev_environment.py
Labels: src, build, pytorch, Size:S

#4129 [0.29.0] djl cpu release
  release_images_inference.yml
Labels: Size:XS

#4128 [djl-serving] 0.29.0 tensorrt llm release
  release_images_inference.yml
Labels: Size:XS

#4130 [djl-serving] 0.29.0 lmi release
  release_images_inference.yml
Labels: Size:XS

#4131 [doc][djl-serving] update available images doc with 0.29.0 release im…
  available_images.md
Labels: Size:S

#4133 Patch hf pt train latest 2024 08 06
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/requirements.txt
Labels: build, test, huggingface, Size:S, sagemaker_tests

#4135 [huggingface][pytorch][training][patch] Ignore non critical OS vulns.
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4137 [djl-serving] 0.29.0 tensorrt llm patch release
  release_images_inference.yml
Labels: Size:XS

#4132 [Build][Test] TF2.16 handling pipeline tests
  tensorflow/training/docker/2.16/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#4124 Re-release PyTorch 2.1 Training DLC
  pytorch/training/buildspec-2-1-ec2.yml
  pytorch/training/buildspec-2-1-sm.yml
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  pytorch/training/docker/2.3/py3/Dockerfile.cpu
Labels: build, pytorch, Size:S

#4136 chore: adding huggingface_pytorch 2.1.0 4.36.0 gpu train to release i…
  release_images_training.yml
Labels: Size:XS

#4092 Add core packages uploading
  test/dlc_tests/sanity/test_ecr_scan.py
Labels: test, sanity, Size:S

#4140 Fix PT 2.1 Training Vulnerbilities
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4138 Patch Dockerfile directory creation
  src/prepare_dlc_dev_environment.py
  test/dlc_tests/sanity/quick_checks/test_prepare_dev_env.py
Labels: src, build, test, pytorch, sanity, Size:S

#4141 Update triton container version
  available_images.md
Labels: Size:XS

#4142 Fix PT 2.1 Duplicate CVE
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4143 [huggingface][pytorch][training] Fix smdp failing test case.
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu.os_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_smdp.py
Labels: build, test, huggingface, Size:S, sagemaker_tests

#4144 TF2.16 image handling sanity tests for pipelines
  tensorflow/training/docker/2.16/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#4152 Release TF2.16 Training SM/EC2 images
  release_images_patches.yml
Labels: Size:S

#4153 fix: Fix neuronx buildRC pipeline sanity check failure
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#4154 fix: allowlist HIGH vulnerabilities to fix HF PT inference neuronx buildRC pipeline
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.py_scan_allowlist.json
Labels: build, huggingface, Size:S

#4155 Add TF2.16.2 training images to available images
  available_images.md
Labels: Size:XS

#4158 [djl-serving] 0.29.0 lmi patch release
  release_images_inference.yml
Labels: Size:XS

#4159 [djl-serving] 0.29.0 tnx patch release
  release_images_inference.yml
Labels: Size:XS

#4156 [Test] PT2.3 training image - Handle pip check that raises exception due to platform not-supported check introduced with latest pip
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS

#4160 [djl-serving] 0.28.0 tensorrt llm patch release
  release_images_inference.yml
Labels: Size:XS

#4161 [djl-serving] 0.28.0 lmi patch release
  release_images_inference.yml
Labels: Size:XS

#4162 [djl-serving] 0.28.0 tnx patch release
  release_images_inference.yml
Labels: Size:XS

#4149 [Huggingface][Neuronx] Training - update for Optimum-Neuron 0.0.24 - Neuron sdk 2.19.1 - Transformers to 4.41.1
  huggingface/pytorch/training/buildspec-neuronx.yml
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.py_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_neuronx.py
Labels: build, test, huggingface, Size:S, sagemaker_tests

#4164 [djl-serving] 0.29.0 lmi patch
  release_images_inference.yml
Labels: Size:XS

#4166 Ignore CVE-2024-42154 to unblock the pipeline
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4170 Update EKS create cluster script
  eks_infrastructure/create_cluster.sh
Labels: Size:XS

#4171 chore: add release config for new HF Neuronx images
  release_images_inference.yml
  release_images_training.yml
Labels: Size:XS

#4169 Ignore CVE-2024-39495 to unblock pipeline
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:XS, Size:S

#4172 chore: ignore safety scan from a non-critical vulnerability
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4173 Shorten initiator name for HF builds
  src/image_builder.py
Labels: src, Size:XS

#4174 chore: update safety scan ignore list for HF inference neuronx
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4175 chore: add vulnerbility scans from a different release to ignore list
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4176 fix: ignore another vulnerability with same CVE but different release
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4177 chore: add one more vuln scan to ignore for neuronx image
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4179 Use pip list instead of pkg_resources to get package json output
  test/test_utils/__init__.py
Labels: Size:XS, Size:S

#4180 [djl-serving] 0.29.0 tensorrt llm patch release
  release_images_inference.yml
Labels: Size:XS

#4181 [djl-serving] 0.29.0 tnx patch release
  release_images_inference.yml
Labels: Size:XS

#4127 [Build][Test] Add autopatch builds for tensorflow
  tensorflow/training/buildspec-2-16-ec2.yml
  tensorflow/training/buildspec-2-16-sm.yml
  tensorflow/training/docker/2.16/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S

#4182 Add pip disputed vulnerability to common allowlist
  data/common-ecr-scan-allowlist.json
Labels: Size:S

#4167 [Build][Test] PT2.1 onboarding to AutoPatch
  data/common-ecr-scan-allowlist.json
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/training/buildspec-2-1-ec2.yml
  pytorch/training/buildspec-2-1-sm.yml
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: src, build, pytorch, Size:XS, Size:S

#4183 [Test] Add logic to read common ecr allowlist file
  data/common-ecr-scan-allowlist.json
  test/dlc_tests/sanity/test_ecr_scan.py
Labels: build, test, pytorch, sanity, Size:S

#4184 [djl-serving] 0.29.0 lmi patch
  release_images_inference.yml
Labels: Size:XS

#4185 [Test] Handle diff in filepath for ECR Scans
  test/test_utils/security.py
Labels: Size:XS

#4187 Update build params on EKS infra
  eks_infrastructure/build_param.json
Labels: Size:XS

#4190 Setup Graviton EKS infrastructure
  eks_infrastructure/build_param.json
Labels: Size:XS

#4196 chore: add CVE-2024-36978 and CVE-2024-39487 to os_scan_allowlist.json
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4197 Add rerun markers for telemetry
  test/dlc_tests/sanity/test_telemetry.py
Labels: build, test, pytorch, sanity, Size:XS, Size:S

#4198 [djl-serving] 0.28.0 tensorrt-llm patch
  release_images_inference.yml
Labels: Size:XS

#4194 Patch 2024 08 28
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, huggingface, Size:S
