Repository aws/deep-learning-containers, pull requests merged in 2024-02, with the labels that each got.

#3661 [huggingface][pytorch][training][fix] Patch integ tests for hf pt 2.0 training image
  huggingface/pytorch/training/buildspec-2-0.yml
  huggingface/pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/integration/__init__.py
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_smmp.py
  test/sagemaker_tests/huggingface_pytorch/training/resources/scripts/train.py
  test/sagemaker_tests/huggingface_pytorch/training/resources/scripts/train_torch_compiled.py
Labels: build, test, huggingface, Size:XS, Size:S, sagemaker_tests

#3668 ignore another pillow high vuln
  huggingface/pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3669 Yet another pillow high vuln
  huggingface/pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3649 [TensorFlow] Upgrade SM TensorFlow to 1.19.1 TF2.13, 1.18.1 for TF2.12
  tensorflow/training/docker/2.12/py3/Dockerfile.cpu
  tensorflow/training/docker/2.12/py3/cu118/Dockerfile.gpu
  tensorflow/training/docker/2.13/py3/Dockerfile.cpu
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.gpu
Labels: build, test, tensorflow, sanity, Size:XS, Size:S, sagemaker_tests

#3671 fix pyarrow critical vuln
  huggingface/pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#3674 [TensorFlow] Re-Release for TF2.12 and TF2.13 SM Images (CPU/GPU)
  release_images_training.yml
Labels: Size:S

#3675 fix pytorch installation between ec2 and sm
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#3676 Revert aws-ofi-nccl to aws-ofi-nccl-dlc
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#3266 Support test notification
  data/test-exception-allowlist.json
  dlc_developer_config.toml
  src/codebuild_environment.py
  src/config.py
  src/send_test_notification.py
  test/dlc_tests/conftest.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
  test/sagemaker_tests/autogluon/inference/conftest.py
  test/sagemaker_tests/autogluon/training/conftest.py
  test/sagemaker_tests/huggingface/inference/conftest.py
  test/sagemaker_tests/huggingface_pytorch/training/conftest.py
  test/sagemaker_tests/huggingface_tensorflow/training/integration/conftest.py
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
  test/sagemaker_tests/pytorch/inference/conftest.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/conftest.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  testspec.yml
Labels: src, test, sanity, Size:S, sagemaker_tests

#3679 enable test notification system
  testspec.yml
Labels: Size:XS

#3645 [pytorch][sagemaker] SMDDP release for PyTorch 2.1.0 + CUDA 12.1
  dlc_developer_config.toml
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
  test/sagemaker_tests/pytorch/training/resources/mnist/smdataparallel_mnist.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#3681 Update Triton v24.01
  release_images_inference.yml
Labels: Size:XS

#3684 [AutoGluon-1.0] Address new Linux risks detected
  autogluon/inference/docker/1.0/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/1.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/1.0/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/1.0/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, Size:S, autogluon

#3685 Allowed availability zones to include us-east-1d
  test/dlc_tests/conftest.py
Labels: Size:XS

#3686 [AutoGluon] update paramiko to a secure version that fixes vulnerability id 65193
  autogluon/inference/docker/1.0/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/inference/docker/1.0/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
  autogluon/training/docker/1.0/py3/Dockerfile.cpu
  autogluon/training/docker/1.0/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/training/docker/1.0/py3/cu118/Dockerfile.gpu
  autogluon/training/docker/1.0/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, Size:XS, Size:S, autogluon

#3687 [AutoGluon] Release AutoGluon 1.0.0
  release_images_inference.yml
  release_images_training.yml
Labels: build, Size:S, autogluon

#3689 [AutoGluon] Fix typo in training release images
  release_images_training.yml
Labels: Size:XS

#3691 [AutoGluon] Added python 3.10 support in test
  test/sagemaker_tests/autogluon/inference/conftest.py
  test/sagemaker_tests/autogluon/training/conftest.py
Labels: test, Size:XS, sagemaker_tests

#3692 [AutoGluon] Post AutoGluon 1.0.0 Release Clean Up
  available_images.md
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#3694 [tensorflow] Add TF 2.14 inference enhanced scan allowlist
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#3695 [test] Fix bug that caused SM CI test jobs to always run
  src/start_testbuilds.py
Labels: src, Size:XS

#3697 [test] Fix remote caching failures for pytest tests
  pyproject.toml
Labels: Size:XS

#3696 [test] Fix EC2 p3dn AZ selection
  test/dlc_tests/conftest.py
Labels: Size:XS

#3698 release pt2.2 inference ec2 dlc
  release_images_inference.yml
Labels: Size:XS

#3699 fix allowlist description for PT2.2.0 Training DLC EC2
  pytorch/training/docker/2.2/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS

#3703 [tensorflow] Fix TF 2.14 inference allowlist
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:XS

#3704 [tensorflow] Create EC2 and SM specific buildspecs for TF 2.13
  tensorflow/inference/buildspec-2-13-ec2.yml
  tensorflow/inference/buildspec-2-13-sm.yml
  tensorflow/training/buildspec-2-13-ec2.yml
  tensorflow/training/buildspec-2-13-sm.yml
Labels: build, tensorflow, Size:S

#3705 release hf pt 1.13.1-transformer4.36.2-sdk2.16.1
  release_images_inference.yml
Labels: Size:XS

#3700 release pt 2.2 ec2 training dlc
  release_images_training.yml
Labels: Size:XS, Size:S

#3709 [release] Add TF 2.14.1 Training DLCs to release_images
  release_images_training.yml
Labels: Size:S

#3706 [PyTorch] Add Neuron(X) SDK 2.17 images to release_images.md
  available_images.md
Labels: Size:S

#3713 Fix/dlc optimum 0.0.18
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S

#3712 update available_images.md for PyTorch 2.2.0 EC2 DLC
  available_images.md
Labels: Size:XS

#3693 [Build][Test] Modifications to Patch builds
  pytorch/inference/buildspec-1-13.yml
  pytorch/inference/docker/1.13/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.core_packages.json
  src/autopr_caller.py
  src/config.py
  src/image_builder.py
  src/safety_report_generator.py
  src/start_testbuilds.py
  src/utils.py
  tensorflow/inference/buildspec-2-12.yml
Labels: src, build, pytorch, tensorflow, Size:XS, Size:S

#3710 [NEURON][NEURONX][TENSORFLOW][INFERENCE] Add TF Neuron(x) 2.17 inference images
  tensorflow/inference/buildspec-2-10-neuron.yml
  tensorflow/inference/buildspec-2-10-neuronx.yml
  tensorflow/inference/buildspec-neuron.yml
  tensorflow/inference/buildspec-neuronx.yml
  tensorflow/inference/docker/2.10/py3/sdk2.17.0/Dockerfile.neuron
  tensorflow/inference/docker/2.10/py3/sdk2.17.0/Dockerfile.neuron.os_scan_allowlist.json
  tensorflow/inference/docker/2.10/py3/sdk2.17.0/Dockerfile.neuronx
  tensorflow/inference/docker/2.10/py3/sdk2.17.0/Dockerfile.neuronx.os_scan_allowlist.json
Labels: build, tensorflow, Size:S

#3708 [test][tensorflow] Use TF 2.13 training image with TF 2.14 inference tensorrt test
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
Labels: build, test, tensorflow, ec2, Size:S

#3683 Test increasing region options for p4de capacity
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/ec2/test_efa.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#3714 Add TF Neuron(X) 2.17 release to release_images_inference.yml
  release_images_inference.yml
Labels: Size:S

#3715 [release] Add TF 2.14 configs to release_images_inference
  release_images_inference.yml
Labels: Size:S

#3717 Add TF Neuron(X) 2.17 release to available_images.md
  available_images.md
  release_images_inference.yml
Labels: Size:S

#3716 Updating conda channel dependencies
  pytorch/training/docker/2.0/py3/Dockerfile.cpu
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.1/py3/Dockerfile.cpu
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, pytorch, Size:S

#3720 Updating CVE json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS

#3721 Fix updated CVE issues
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:XS

#3722 Skip smddp/smdmp integration test
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smdataparallel.py
Labels: test, Size:XS, sagemaker_tests

#3723 Release PT2.2.0 SM Training DLC
  release_images_training.yml
Labels: Size:XS

#3725 Update PT 2.2.0 SM Training DLC available_images.md
  available_images.md
Labels: Size:XS

#3726 Updating pytorchddp test
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
Labels: test, Size:XS, sagemaker_tests

#3727 Update PR template with expands
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Size:S

#3729 Revert "Updating pytorchddp test"
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
Labels: test, Size:XS, sagemaker_tests

#3731 Ensure _validate_pytorch_framework_version() only checks for pytorch
  test/dlc_tests/conftest.py
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: test, Size:S, sagemaker_tests

#3724 PT2.0 image build with Patching
  miscellaneous_dockerfiles/Dockerfile.autopatch
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/training/buildspec-2-0-sm.yml
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
  src/image_builder.py
  src/patch_helper.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_smart_sifting.py
Labels: src, build, test, pytorch, ec2, Size:S, sagemaker_tests

#3733 Remove datetime tag config option
  dlc_developer_config.toml
  src/image_builder.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
Labels: src, test, sanity, Size:XS, Size:S

#3730 Skip smdataparallel p5 tests
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_pytorchddp_inductor.py
Labels: test, Size:XS, Size:S, sagemaker_tests

#3737 [test] Temporarily force EKS tests to fail
  test/testrunner.py
Labels: Size:XS

#3739 Adding new CVE for PT2.0
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.0/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S
