Repository aws/deep-learning-containers, pull requests merged in 2024-05, with the labels that each got.

#3874 [djl] patch Neuron LMI 2.18.1
  release_images_inference.yml
Labels: Size:XS

#3868 Patch CVE-2022-48522
  huggingface/pytorch/training/docker/1.13/py3/sdk2.15.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#3876 patch deepspeed 0.26.0
  release_images_inference.yml
Labels: Size:XS

#3877 patch trt-llm 0.26.0
  release_images_inference.yml
Labels: Size:XS

#3865 remove RDMA flag
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#3882 [Hot-fix] Pinning DLAMIs to prevent failures due to nvidia-docker deprecation
  test/test_utils/__init__.py
Labels: build, pytorch, Size:XS, Size:S

#3881 Fix `nvidia-docker` run to use `--runtime=nvidia --gpus all`.
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/dlc_tests/container_tests/bin/benchmark/tf1_serving_perf.py
  test/dlc_tests/container_tests/bin/benchmark/tf2_serving_perf.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/smclarify_cases.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/ec2/test_efa.py
  test/dlc_tests/ec2/test_smclarify.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/sanity/test_health_check.py
  test/dlc_tests/sanity/test_telemetry.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
Labels: build, test, pytorch, ec2, benchmark, sanity, Size:S

#3866 Onboard TF 2.13 EC2/SM image to Autopatch
  src/utils.py
  tensorflow/inference/buildspec-2-13-ec2.yml
  tensorflow/inference/buildspec-2-13-sm.yml
  tensorflow/inference/docker/2.13/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/inference/docker/2.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.13/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/inference/docker/2.13/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/buildspec-2-13-ec2.yml
  tensorflow/training/buildspec-2-13-sm.yml
  tensorflow/training/docker/2.13/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.13/py3/example/Dockerfile.gpu.example.core_packages.json
Labels: src, build, test, tensorflow, ec2, Size:XS, Size:S

#3888 Add TF2.13 images to release yml
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#3891 Update ARM DLAMI for EC2 functional tests
  pytorch/inference/buildspec-graviton.yml
  src/image_builder.py
  tensorflow/inference/buildspec-graviton.yml
  test/test_utils/__init__.py
Labels: src, build, test, pytorch, tensorflow, benchmark, Size:XS, Size:S

#3893 Disable Graviton benchmark tests
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/benchmark/ec2/tensorflow/inference/test_performance_tensorflow_inference.py
  test/test_utils/__init__.py
Labels: test, benchmark, Size:S

#3883 Onboard TF 2.14 Graviton image to Autopatch
  tensorflow/inference/buildspec-graviton.yml
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.14/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, tensorflow, Size:XS, Size:S

#3880 Onboard TF 2.13 Graviton image to Autopatch
  tensorflow/inference/buildspec-2-13-graviton.yml
  tensorflow/inference/docker/2.13/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.13/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  tensorflow/inference/docker/2.13/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  tensorflow/inference/docker/2.13/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, tensorflow, Size:XS, Size:S

#3894 Pin pytest to < 8.1 to preserve caching behavior
  test/requirements.txt
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#3896 [hotfix] Add unique identifier to pytest cache to prevent key clashes
  test/testrunner.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#3855 Release PyTorch 2.1 Training Autopatch
  release_images_training.yml
Labels: Size:S

#3900 [djl-serving] 0.27.0 deepspeed patch release
  release_images_inference.yml
Labels: Size:XS

#3899 Release tensorflow 2.13 graviton autopatch
  release_images_inference.yml
Labels: Size:S

#3898 Update sagemaker requirements to pin pytest
  test/sagemaker_tests/pytorch/inference/requirements.txt
  test/sagemaker_tests/pytorch/training/requirements.txt
  test/sagemaker_tests/tensorflow/inference/requirements.txt
  test/sagemaker_tests/tensorflow/tensorflow2_training/requirements.txt
Labels: test, Size:XS, sagemaker_tests

#3824 [Huggingface][Neuronx] Training - update for Optimum-Neuron 0.0.21 - Neuron sdk 2.18.0 - Transformers to 4.36.2
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/buildspec-neuronx.yml
  huggingface/pytorch/training/docker/1.13/py3/sdk2.18.0/Dockerfile.neuronx
  huggingface/pytorch/training/docker/1.13/py3/sdk2.18.0/Dockerfile.neuronx.os_scan_allowlist.json
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_neuronx.py
Labels: build, test, huggingface, Size:S, sagemaker_tests

#3904 release HF Pytorch2.1.2 NeuronX
  release_images_inference.yml
Labels: Size:XS

#3905 Add Pytorch 1.13.1 NeuronX Training release
  release_images_training.yml
Labels: Size:XS, Size:S

#3907 fix: release_training_image version
  release_images_training.yml
Labels: Size:XS

#3901 [djl-serving] 0.27.0 trtllm patch release
  release_images_inference.yml
Labels: Size:XS

#3910 [djl-serving] 0.27.0 neuronx-sdk patch release
  release_images_inference.yml
Labels: Size:XS

#3911 [djl-serving] 0.27.0 cpu patch release
  release_images_inference.yml
Labels: Size:XS

#3912 fix: remove second release config for HF pytorch training
  release_images_training.yml
Labels: Size:XS

#3913 [AutoGluon] AutoGluon v1.1 Fix CPU training and release
  autogluon/training/docker/1.1/py3/Dockerfile.cpu
  release_images_inference.yml
  release_images_training.yml
Labels: build, Size:S, autogluon

#3915 Add patch release yaml file
  release_images_inference.yml
  release_images_patches.yml
  release_images_training.yml
  test/dlc_tests/sanity/quick_checks/test_yml_config.py
Labels: test, sanity, Size:S

#3914 Release PT 1.13.1 training
  release_images_training.yml
Labels: Size:S

#3917 Update PT Inference config.properties for TS 0.11.0
  pytorch/inference/docker/build_artifacts/config.properties
  test/test_utils/__init__.py
Labels: build, pytorch, Size:XS

#3924 Onboard TF 2.14 to patches release yaml
  release_images_inference.yml
  release_images_patches.yml
  release_images_training.yml
Labels: Size:S

#3928 Adding packages to PT1.13 training images
  pytorch/training/docker/1.13/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/1.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS

#3933 force release HF Training Neuronx image
  release_images_training.yml
Labels: Size:XS

#3934 Revert: force release HF Pytorch training image
  release_images_training.yml
Labels: Size:XS

#3923 [Build][Test] Updating Torchserve for PT1.13 inference images
  pytorch/inference/buildspec-1-13.yml
  pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  pytorch/inference/docker/1.13/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
  pytorch/inference/docker/1.13/py3/cu117/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS, Size:S

#3927 Add CVE-2019-8341 to allowlisting
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
  huggingface/pytorch/training/buildspec.yml
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: src, build, huggingface, pytorch, Size:XS, Size:S

#3879 Re-release 2.2 DLC with license file, removed RMDAV flag, and TS 0.11.0
  pytorch/inference/buildspec.yml
  pytorch/inference/docker/2.2/py3/Dockerfile.cpu
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.gpu
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  pytorch/training/buildspec-2-2-ec2.yml
  pytorch/training/buildspec-2-2-sm.yml
  pytorch/training/docker/2.2/py3/Dockerfile.cpu
  pytorch/training/docker/2.2/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.2/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.2/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.2/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.2/py3/cu121/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, test, pytorch, ec2, benchmark, Size:S, sagemaker_tests

#3929 [PT2.1][EC2][X86] torchserve 0.11.0 update
  pytorch/inference/buildspec-2-1-ec2.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#3940 Fix SM Endpoint Error
  pytorch/inference/buildspec.yml
  test/sagemaker_tests/pytorch/inference/requirements.txt
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#3943 Patch uncategorized packages
  data/ecr_scan_vulnerabilities.json
Labels: Size:S

#3944 Cleanup unused tensorflow buildspecs
  tensorflow/inference/buildspec-2-14-sm.yml
  tensorflow/inference/buildspec-sm.yml
  tensorflow/training/buildspec-2-14-sm.yml
Labels: build, tensorflow, Size:S

#3942 Adding packages to PT2.1 training images
  pytorch/training/docker/2.1/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.1/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.1/py3/cu121/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS, Size:S

#3945 Fix PT 2.3 canary tests
  test/test_utils/__init__.py
Labels: Size:XS

#3932 update documentation for recent releases
  available_images.md
Labels: Size:XS

#3930 [PT2.1][SageMaker][X86] torchserve 0.11.0 update
  pytorch/inference/buildspec-2-1-sm.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests

#3926 Upgrade torchserve to 0.11.0 in PT 2.1 and 2.2 graviton
  pytorch/inference/buildspec-graviton-2-1.yml
  pytorch/inference/buildspec-graviton.yml
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.graviton.cpu
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#3949 Allowlist requests 2.31.0 safety finding
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.1/py3/cu118/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.ec2.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/Dockerfile.sagemaker.graviton.cpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.ec2.gpu.py_scan_allowlist.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#3947 Fix PT 2.1 TE Test
  pytorch/training/buildspec-2-1-ec2.yml
  test/dlc_tests/container_tests/bin/transformerengine/testPTTransformerEngine
Labels: build, test, pytorch, ec2, Size:XS, Size:S

#3954 fix triton version in pt2.2 inference gpu images
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.gpu
  pytorch/inference/docker/2.2/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS, Size:S

#3939 resolve triton import error
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#3938 [Build][Test] Re-enable AutoPatching for PT1.13 images
  pytorch/inference/buildspec-1-13.yml
Labels: build, pytorch, Size:XS, Size:S

#3955 [AutoGluon] Patch AutoGluon v1.1 - TS
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/inference/docker/1.1/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu118/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/1.1/py3/cu118/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, Size:XS, Size:S, autogluon

#3956 Update PT 2.3.0 EC2 Training DLC to Available_images.md
  available_images.md
Labels: Size:XS

#3957 Clean up available images and extraneous buildspec warnings
  available_images.md
  src/buildspec.py
Labels: src, Size:S

#3935 [PyTorch][SageMaker][Training] PyTorch 2.3.0 Currency Release
  pytorch/training/buildspec-2-3-sm.yml
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.3/py3/Dockerfile.cpu
  pytorch/training/docker/2.3/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.gpu
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
  release_images_patches.yml
  test/sagemaker_tests/pytorch/training/conftest.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#3960 [djl-serving] 0.27.0 trtllm patch release
  release_images_inference.yml
Labels: Size:XS

#3961 [djl-serving] 0.27.0 deepspeed patch release
  release_images_inference.yml
Labels: Size:XS

#3959 Update release yaml, add numbering test
  release_images_inference.yml
  release_images_patches.yml
  release_images_training.yml
  test/dlc_tests/sanity/quick_checks/test_yml_config.py
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:S

#3962 add jinja2 to core pkgs
  tensorflow/training/docker/2.13/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.13/py3/example/Dockerfile.gpu.example.core_packages.json
  tensorflow/training/docker/2.14/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.14/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.14/py3/cu118/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S

#3950 EC2 Instance retirement for P2 and M4 instances
  scheduler/job_requester/requester.py
  scheduler/log_return/__init__.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/test_smdebug.py
  test/dlc_tests/ecs/conftest.py
  test/dlc_tests/ecs/mxnet/training/test_ecs_mxnet_training.py
  test/sagemaker_tests/mxnet/inference/conftest.py
  test/sagemaker_tests/mxnet/training/conftest.py
  test/sagemaker_tests/pytorch/inference/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_dgl.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow1_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/test_utils/__init__.py
Labels: build, test, pytorch, ecs, ec2, Size:S, sagemaker_tests

#3963 Update PT 2.3.0 SM Training DLC to available_images.md
  available_images.md
Labels: Size:XS

#3973 Set sagemaker test to true by default
  dlc_developer_config.toml
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
Labels: test, sanity, Size:XS

#3975 Re-enable autopatch on PT 2.2 sm training
  pytorch/training/buildspec-2-2-sm.yml
Labels: build, pytorch, Size:XS

#3979 Remove jinja from tf213 tf214 ec2 core packages
  tensorflow/training/docker/2.13/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.13/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.14/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.14/py3/cu118/Dockerfile.ec2.gpu.core_packages.json
Labels: build, tensorflow, Size:XS

#3976 Remove hard coded instance types from inductor tests
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
Labels: test, ec2, Size:XS

#3980 Adding data to scan vulns for ECR
  data/ecr_scan_vulnerabilities.json
Labels: Size:XS
