Repository aws/deep-learning-containers, pull requests merged in 2024-12, with the labels that each got.

#4451 Update available_images.md with PT 2.5 ARM64 DLCs and name change info
  available_images.md
Labels: Size:S

#4452 update available_images.md with LMI 0.31.0 container
  available_images.md
Labels: Size:S

#4449 test tensorflow efa
  tensorflow/training/buildspec-2-16-ec2.yml
  test/dlc_tests/container_tests/bin/efa/testEFA
  test/dlc_tests/container_tests/bin/pytorch_tests/setupPyTorchBackendTest
Labels: build, test, pytorch, tensorflow, ec2, Size:XS, Size:S

#4454 [PyTorch][Inference] Onboard PT 2.5 ARM64 to autopatch
  pytorch/inference/buildspec-arm64-2-5-ec2.yml
  pytorch/inference/buildspec-arm64-2-5-sm.yml
  pytorch/inference/docker/2.5/py3/Dockerfile.ec2.arm64.cpu.core_packages.json
  pytorch/inference/docker/2.5/py3/Dockerfile.sagemaker.arm64.cpu.core_packages.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.ec2.arm64.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4455 [PyTorch][Inference][ARM64] Add GPU deep canary tests + minor fixes
  available_images.md
  dlc_developer_config.toml
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
Labels: test, ec2, Size:XS, Size:S

#4458 Remove whitespace
  release_images_training.yml
Labels: Size:XS

#4459 [djl] patch update for 0.27.0 deepspeed container
  release_images_inference.yml
Labels: Size:XS

#4457 Patch PT 2.4 Training SM DLC
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4460 [djl] patch releases for djl-tensorrt-llm container 0.27.0, 0.28.0, 0…
  release_images_inference.yml
Labels: Size:S

#4461 [fix] add cu125 suffix to 0.30.0 tensorrt-llm tag
  available_images.md
Labels: Size:XS

#4465 skip hf_pt-inference-latest-dlc-sagemaker-local-test temporarily for HF PT Inference latest image
  test/sagemaker_tests/huggingface/inference/integration/local/test_serving.py
Labels: test, Size:XS, sagemaker_tests

#4464 Fix vulnerabilities AutoGluon v1.2
  autogluon/inference/docker/1.2/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/inference/docker/1.2/py3/cu124/Dockerfile.gpu.os_scan_allowlist.json
  autogluon/training/docker/1.2/py3/Dockerfile.cpu.os_scan_allowlist.json
  autogluon/training/docker/1.2/py3/cu124/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, Size:XS, Size:S, autogluon

#4462 Enable PT 2.4 Training Autopatch
  pytorch/training/buildspec-2-4-sm.yml
Labels: build, pytorch, Size:XS, Size:S

#4467 add HF PT 2.3 Inf release configs
  release_images_inference.yml
Labels: Size:S

#4466 Patch huggingface pytorch inference 2.1.0 linux-libc-dev
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
Labels: build, huggingface, Size:XS, Size:S

#4463 Release AutoGluon v1.2
  available_images.md
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S

#4469 add python 3.11 support to HF INF conftest file
  test/sagemaker_tests/huggingface/inference/conftest.py
Labels: test, Size:XS, sagemaker_tests

#4471 neuron dlc update 2.21
  available_images.md
Labels: Size:XS

#4472 Update Docs AutoGluon v1.2
  available_images.md
Labels: Size:XS

#4473 Patch libgstreamer1.0-0 and libgstreamer-plugins-base1.0-0 CVEs
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S

#4474 Patch CVEs for huggingface pytorch training neuronx 2.1.2
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S

#4475 Patch CVE
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S
