Repository aws/deep-learning-containers, pull requests merged in 2024-10, with the labels that each got.

#4302 Fix vuln class operations test
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  test/test_utils/__init__.py
Labels: build, test, pytorch, sanity, Size:XS, Size:S

#4304 Fix builds that do not have buildspec env
  test/test_utils/__init__.py
Labels: Size:XS

#4305 Update PT 2.4 graviton available images
  available_images.md
Labels: Size:XS

#4309 Fix PT 2.4 inf ec2 / tr sm allowlist
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4292 [PyTorch][Inference][SageMaker] Replace torchserve-entrypoint.py during autopatch
  miscellaneous_dockerfiles/Dockerfile.autopatch
  miscellaneous_scripts/dockerfile_patch_script.sh
  src/patch_helper.py
Labels: src, Size:S

#4310 fix: pt 2.1 training scan allowlist
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu.os_scan_allowlist.json
Labels: build, huggingface, Size:S

#4311 Upgrade mamba version due to ImportError: cannot import name generate_parser from conda.cli.main
  pytorch/inference/docker/2.4/py3/Dockerfile.cpu
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
Labels: build, pytorch, Size:XS, Size:S

#4313 Fix PT 2.4 inf ec2 allowlist invalid
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
Labels: build, test, pytorch, sanity, Size:S

#4321 patch apparmor vulnerability
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4322 patch apparmor vulnerability
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4315 fix: sanity-test on huggingface images
  test/dlc_tests/sanity/test_scan_vulnerability_class_functionality.py
  test/test_utils/security.py
Labels: test, sanity, Size:XS, Size:S

#4324 Add PT2.4 Inference on EC2 and SageMaker
  available_images.md
Labels: Size:XS

#4327 Remove PT 2.1 CPU/GPU/Graviton images from available images
  available_images.md
Labels: Size:XS

#4316 Autopatch PT2.4 ec2 Inference
  pytorch/inference/buildspec-2-4-ec2.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4325 [PyTorch][Graviton][Inference] Onboard PT 2.4 Graviton EC2 and SM to Autopatch
  pytorch/inference/buildspec-graviton-2-4-ec2.yml
  pytorch/inference/buildspec-graviton-2-4-sm.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4336 Allow EKS upgrade operations to continue after a nodegroup failed
  eks_infrastructure/upgrade_operation.sh
Labels: Size:XS

#4312 chore: patch apparmor on hf-pt-inf-2-1
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.cpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/Dockerfile.gpu.os_scan_allowlist.json
  huggingface/pytorch/inference/docker/2.1/py3/cu118/Dockerfile.gpu
Labels: build, test, huggingface, sanity, Size:S

#4319 chore: fix vulns on hf pt inference 1.13
  huggingface/pytorch/inference/docker/1.13/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#4341 fix: pin libneuronxla version for hf pt inf neuron
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4342 fix recursive error.
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
Labels: build, tensorflow, Size:XS

#4314 Patch PT 2.4 Training SM with new torchaudio
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, pytorch, Size:S

#4343 disable TF 2.16 inference on SM autopatch
  tensorflow/inference/buildspec-2-16-graviton.yml
  tensorflow/inference/buildspec-2-16-sm.yml
  tensorflow/inference/docker/2.16/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/inference/docker/2.16/py3/cu122/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:XS, Size:S

#4348 patch libarchive13 for HF PT Inference neuronx
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4349 patch libarchive13 for HF PT Inference neuronx
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4350 Add codeowners back, remove PT 2.1 and TF 2.14 from yaml
  .github/CODEOWNERS
  release_images_patches.yml
Labels: Size:S

#4351 patch libarchive13 for HF PT Inference neuronx
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4352 Patch critical vulnerabilites in HF PT 1.13 GPU Training image
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#4354 Re-enable TF 2.16 graviton images
  release_images_patches.yml
Labels: Size:S

#4355 Re-enable TF 2.16 SM images
  release_images_patches.yml
Labels: Size:S

#4356 Re-enable TF 2.16 inference EC2
  release_images_patches.yml
Labels: Size:S

#4359 fix: patch HF PT Inference neuronx latest
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4344 Patch PT 2.4 Training EC2 with new torchaudio
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S

#4360 Release Triton v24.09
  release_images_inference.yml
Labels: Size:XS

#4353 test upload files to s3 bucket
  test/sagemaker_tests/tensorflow/inference/test/data/python-with-requirements_greater_than_equal_to_26.tar.gz
  test/sagemaker_tests/tensorflow/inference/test/data/tfs-model_greater_than_equal_to_tf26.tar.gz
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/test_tfs.py
  test/sagemaker_tests/tensorflow/inference/test/integration/sagemaker/util.py
Labels: test, Size:XS, Size:S, sagemaker_tests

#4363 patch HF PR Inference 1.13 neuronx
  huggingface/pytorch/inference/docker/1.13/py3/sdk2.16.1/Dockerfile.neuronx
Labels: build, huggingface, Size:XS

#4357 Patch HF PT Training latest(2.1) for packages expat, libarchive13, apparmor, gevent
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:XS

#4364 Fix fixture addition from PR #4200
  tensorflow/training/buildspec-2-16-sm.yml
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
Labels: build, test, tensorflow, Size:XS, Size:S, sagemaker_tests

#4370 [djl] patch release for tensorrtllm 0.28.0 container
  release_images_inference.yml
Labels: Size:S

#4369 Add triton v24.09 DLC version to available images
  available_images.md
Labels: Size:XS

#4361 [Patch] AutoGluon v1.1.1 images
  autogluon/inference/docker/1.1/py3/Dockerfile.cpu
  autogluon/inference/docker/1.1/py3/cu121/Dockerfile.gpu
  autogluon/training/docker/1.1/py3/Dockerfile.cpu
  autogluon/training/docker/1.1/py3/cu121/Dockerfile.gpu
  test/sagemaker_tests/autogluon/inference/resources/model/model_1.1.1.tar.gz
Labels: build, test, Size:XS, Size:S, sagemaker_tests, autogluon

#4374 Upgrade TS and toolkit in PT 2.4 graviton SM images
  pytorch/inference/buildspec-graviton-2-4-sm.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.core_packages.json
  test/sagemaker_tests/pytorch/inference/integration/__init__.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#4375 Upgrade TS and toolkit version for PT 2.4 inference
  pytorch/inference/buildspec-2-4-sm.yml
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  test/sagemaker_tests/pytorch/inference/requirements.txt
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, Size:S, sagemaker_tests

#4367 patch HF PR Training latest neuronx vulnerabilities for apparmor and libarchive13
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.19.1/Dockerfile.neuronx
Labels: build, huggingface, Size:S

#4381 Removing sifting references
  pytorch/training/docker/2.0/py3/Dockerfile.cpu
  pytorch/training/docker/2.0/py3/cu118/Dockerfile.gpu
Labels: build, pytorch, Size:XS

#4383 [djl] lmi patch releases for 0.28.0 and 0.29.0, initial release for 0…
  release_images_inference.yml
Labels: Size:S

#4382 chore: add neuronx 0.0.25 release config
  release_images_inference.yml
Labels: Size:XS

#4380 skip test_single_machine_training.py for HF PT images
  huggingface/pytorch/training/docker/2.1/py3/cu121/Dockerfile.gpu
  test/sagemaker_tests/huggingface_pytorch/training/integration/local/test_single_machine_training.py
Labels: build, test, huggingface, Size:XS, Size:S, sagemaker_tests

#4384 Add back autopatch for PT 2.4 inference SM
  pytorch/inference/buildspec-2-4-sm.yml
Labels: build, pytorch, Size:XS, Size:S

#4386 Patch: hf-pt-train-1.13 for gevent and deepseed
  huggingface/pytorch/training/docker/1.13/py3/cu117/Dockerfile.gpu
  test/sagemaker_tests/huggingface_pytorch/training/integration/local/test_single_machine_training.py
  test/sagemaker_tests/huggingface_pytorch/training/integration/sagemaker/test_smdp.py
Labels: build, test, huggingface, Size:XS, sagemaker_tests

#4377 Allow EKS upgrade operations to continue after a cluster failed
  eks_infrastructure/helper.sh
  eks_infrastructure/upgrade_operation.sh
Labels: Size:XS, Size:S

#4379 Onboard PT 2.4 EC2 Training to Autopatch
  pytorch/training/buildspec-2-4-ec2.yml
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4389 Re-enable TF 2.16 graviton autopatch
  tensorflow/inference/buildspec-2-16-graviton.yml
Labels: build, tensorflow, Size:XS, Size:S

#4378 Onboard PT 2.4 SM Training to Autopatch
  pytorch/training/buildspec-2-4-sm.yml
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S

#4391 [PyTorch] Add Neuron SDK 2.20.1 images to release_images.md
  available_images.md
Labels: Size:XS

#4388 Re-enable TF 2.16 inference SM autopatch
  tensorflow/inference/buildspec-2-16-sm.yml
Labels: build, tensorflow, Size:XS, Size:S

#4396 [djl][v12] add v12 release to available images
  available_images.md
Labels: Size:XS

#4397 [Tensorflow][Inference][Sagemaker] Move gevent monkey patching fix for recursion error
  tensorflow/inference/buildspec-2-16-sm.yml
  tensorflow/inference/docker/build_artifacts/sagemaker/python_service.py
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
Labels: build, tensorflow, Size:XS, Size:S

#4399 Add ca-west-1 to available image regions
  available_images.md
Labels: Size:XS

#4400 Re-enable TF 2.16 inference SM autopatch
  tensorflow/inference/buildspec-2-16-sm.yml
  tensorflow/inference/docker/build_artifacts/sagemaker/serve.py
Labels: build, tensorflow, Size:XS, Size:S
