Repository aws/deep-learning-containers, pull requests merged in 2025-04, with the labels that each got.

#4680 Patching Huggingface Pytorch Training 2.3.0
  huggingface/pytorch/training/docker/2.3/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S, authorized

#4687 Huggingface pytorch training latest
  huggingface/pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S, authorized

#4686 Huggingface pytorch inference latest
  huggingface/pytorch/inference/docker/2.6/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.6/py3/cu124/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S, authorized

#4693 [neuron-dlc] Update Neuron DLC versions to 2.22.0
  available_images.md
Labels: Size:XS, authorized

#4691 feat: adding new image releases for huggingface pytorch inference
  release_images_inference.yml
Labels: Size:S, authorized

#4695 add cuda version for gpu
  release_images_inference.yml
  test/sagemaker_tests/huggingface/inference/conftest.py
Labels: test, Size:XS, sagemaker_tests, authorized

#4684 Patch 2025 04 02 hf pt inference
  huggingface/pytorch/inference/docker/2.3/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.3/py3/cu121/Dockerfile.gpu
  huggingface/pytorch/inference/docker/2.6/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.6/py3/cu124/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S, authorized

#4688 Huggingface pytorch training latest
  huggingface/pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu
  huggingface/pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu.os_scan_allowlist.json
  test/dlc_tests/sanity/test_ecr_scan.py
  test/test_utils/security.py
Labels: build, test, huggingface, sanity, Size:S, authorized

#4698 chore: releasing huggingface pytorch training version
  release_images_training.yml
Labels: Size:XS, authorized

#4701 Resolve build failure and Patch HF pytorch neuronx inference image
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, authorized

#4709 Add Llama fine tuning and hosting using DLCs
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/README.md
Labels: Size:XS, authorized

#4713 [lmi] add release definition for lmi v15
  release_images_inference.yml
Labels: Size:XS, authorized

#4712 force_release hf pt inference neuronx
  release_images_inference.yml
Labels: Size:XS, authorized

#4718 [lmi] patch release for djl-lmi 0.31.0
  release_images_inference.yml
Labels: Size:XS, authorized

#4719 Cleanup: remove TE skip test fixture
  test/dlc_tests/ec2/test_transformerengine.py
Labels: test, ec2, Size:XS, authorized

#4720 [lmi] fix python version in lmi 0.31.0 release definition
  release_images_inference.yml
Labels: Size:XS, authorized

#4722 removing audio
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S, authorized

#4708 testing build-tag-override
  pytorch/inference/buildspec-2-6-ec2.yml
  src/image_builder.py
Labels: src, build, test, pytorch, sanity, Size:XS, Size:S, authorized

#4729 disable Graviton/ARM64 release
  release_images_patches.yml
Labels: Size:S, authorized

#4727 Deprecate G3 Instances
  test/dlc_tests/benchmark/ec2/pytorch/training/test_performance_pytorch_training.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/mxnet/training/test_mxnet_training.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/ecs/tensorflow/training/test_ecs_tensorflow_training.py
  test/dlc_tests/sanity/test_health_check.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
Labels: test, ecs, ec2, benchmark, sanity, Size:S, authorized

#4730 Add tar files for Fine Tuning Llama 3.2
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/patch-aws-do-eks.tar.gz
Labels: Size:XS, Size:S, authorized

#4721 Telemetry S3 Bucket Modification
  src/deep_learning_container.py
  test/dlc_tests/ec2/test_telemetry.py
  test/test_utils/__init__.py
Labels: src, build, test, pytorch, ec2, Size:S, authorized

#4737 Deprecating PT 2.3
  available_images.md
Labels: Size:XS, authorized

#4738 Fix efa test failure with instance deprecate
  pytorch/training/buildspec-2-6-ec2.yml
  tensorflow/training/buildspec-2-18-ec2.yml
  test/dlc_tests/container_tests/bin/efa/testEFA
  test/test_utils/ec2.py
Labels: build, test, pytorch, tensorflow, ec2, Size:XS, Size:S, authorized

#4747 Remove qemu for arm64/graviton release
  release_buildspec.yml
Labels: Size:XS, authorized

#4746 Filter out G4 for EFA
  test/test_utils/ec2.py
Labels: Size:XS, authorized

#4751 Remove NEURON_UBUNTU_18_BASE_DLAMI_US_WEST_2
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/sanity/test_pre_release.py
  test/test_utils/__init__.py
Labels: test, ec2, sanity, Size:S, authorized

#4752 Enable one arm64 release pipeline to verify infra change
  release_images_patches.yml
Labels: Size:S, authorized

#4753 check CVE
  data/common-ecr-scan-allowlist.json
  data/common-safety-ignorelist.json
  pytorch/training/buildspec-2-4-ec2.yml
Labels: build, pytorch, Size:XS, Size:S, authorized

#4744 [huggingface_pytorch] update for Transformers to 4.53.1 - pytorch 2.6 - inference
  huggingface/pytorch/inference/buildspec.yml
  huggingface/pytorch/inference/docker/2.6/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.6/py3/cu124/Dockerfile.gpu
  test/sagemaker_tests/huggingface/inference/conftest.py
Labels: build, test, huggingface, Size:S, sagemaker_tests, authorized

#4763 Enable arm64 release pipeline and remove PT2.3
  release_images_patches.yml
Labels: Size:S, authorized

#4764 Add libxml2 to allowlist which is already the latest version
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S, authorized

#4765 Allowlist libxml2 as not remidation provided
  data/common-ecr-scan-allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S, authorized

#4769 Fix NO_G5_REGION list
  test/sagemaker_tests/__init__.py
  test/sagemaker_tests/huggingface/inference/conftest.py
  test/sagemaker_tests/pytorch/__init__.py
  test/sagemaker_tests/tensorflow/__init__.py
Labels: test, Size:XS, sagemaker_tests, authorized
