Repository aws/deep-learning-containers, pull requests merged in 2025-03, with the labels that each got.

#4604 remove whitespace
  release_images_patches.yml
Labels: Size:XS

#4610 [djl] patch release for 0.32.0 LMI DLC, update available_images.md
  available_images.md
  release_images_inference.yml
Labels: Size:S

#4606 Use pipeline execution id instead of source version
  generate_dlc_image_release_information.py
Labels: Size:XS, authorized

#4612 [djl] patch release for 0.32.0 TRT-LLM DLC, update available_images.md
  available_images.md
  release_images_inference.yml
Labels: Size:XS, authorized

#4613 [fix][djl] Add cuda_version to TRT-LLM patch release
  release_images_inference.yml
Labels: Size:XS, authorized

#4556 [PyTorch][Training][EC2][SageMaker]PyTorch 2.6.0 Currency Release
  pytorch/training/buildspec-2-6-ec2.yml
  pytorch/training/buildspec-2-6-sm.yml
  pytorch/training/buildspec.yml
  pytorch/training/docker/2.6/py3/Dockerfile.cpu
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.gpu
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/build_artifacts/dockerd_entrypoint.sh
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/pytorch_tests/installOSSPyTorch
  test/dlc_tests/container_tests/bin/pytorch_tests/setupPyTorchBackendTest
  test/dlc_tests/container_tests/bin/pytorch_tests/test_pt_dlc_telemetry_test.py
  test/dlc_tests/container_tests/bin/transformerengine/testPTTransformerEngine
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_6.py
  test/sagemaker_tests/pytorch/training/conftest.py
  test/sagemaker_tests/pytorch/training/integration/local/test_single_machine_training.py
  test/sagemaker_tests/pytorch/training/integration/sagemaker/test_distributed_operations.py
Labels: build, test, pytorch, ec2, sanity, Size:S, sagemaker_tests, authorized

#4607 fix: remove emacs, upgrade certifi to address cve
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:XS, Size:S, authorized

#4587 Onboard PT 2.6 ARM64 Inference images to autopatch
  pytorch/inference/buildspec-arm64-2-6-ec2.yml
  pytorch/inference/buildspec-arm64-2-6-sm.yml
  pytorch/inference/docker/2.6/py3/Dockerfile.ec2.arm64.cpu.core_packages.json
  pytorch/inference/docker/2.6/py3/Dockerfile.sagemaker.arm64.cpu.core_packages.json
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.arm64.gpu
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.ec2.arm64.gpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#4618 Add PT2.6 Training to Release
  release_images_patches.yml
Labels: Size:S, authorized

#4617 chore: patch emacs and libc vulnerabilities for HF pytorch training
  huggingface/pytorch/training/docker/2.3/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S, authorized

#4624 hotfix for canary failures
  test/test_utils/__init__.py
Labels: Size:XS, authorized

#4621 Onboard PT 2.6 ARM64 Inference EC2 to autopatch
  pytorch/inference/buildspec-arm64-2-6-ec2.yml
  test/test_utils/__init__.py
Labels: build, pytorch, Size:XS, authorized

#4608 Deprecated Tensorflow 2.16
  available_images.md
Labels: Size:XS, authorized

#4625 Add py312 to sagemaker tests
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: test, Size:XS, sagemaker_tests, authorized

#4626 update requirements
  src/requirements.txt
Labels: src, Size:XS, authorized

#4630 Add PT2.6 Training to Available Images
  available_images.md
Labels: Size:XS, authorized

#4629 Replace single framework Neuron DLAMI with base Neuron DLAMI
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/test_utils/__init__.py
Labels: test, ec2, Size:S, authorized

#4632 Upgrade Neuron Base DLAMI from UL20 to UL22
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/test_utils/__init__.py
Labels: test, ec2, Size:XS, Size:S, authorized

#4631 chore: patch cves related to emacs, certifi, and and golang
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: build, huggingface, Size:S, authorized

#4633 chore: restore unnecessary changes to HF Pytorch Neuronx Training Image, patch git-lfs for HF Pytorch GPU Training image
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
  huggingface/pytorch/training/docker/2.3/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:S, authorized

#4619 [pytorch][sagemaker] Add SMDDP binary to PyTorch 2.5 Dockerfile
  pytorch/training/buildspec-2-5-sm.yml
  pytorch/training/docker/2.5/py3/Dockerfile.cpu
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/sagemaker_tests/pytorch/training/conftest.py
Labels: build, test, pytorch, Size:XS, Size:S, sagemaker_tests, authorized

#4641 [djl-serving] 0.32.0 lmi image patch release
  release_images_inference.yml
Labels: Size:XS, authorized

#4642 [djl-serving] 0.32.0 lmi image patch release fix os version
  release_images_inference.yml
Labels: Size:XS, authorized

#4643 [djl-serving] 0.32.0 lmi image patch release fix python version
  release_images_inference.yml
Labels: Size:XS, authorized

#4648 Re-enable autopatch for 2.5 SM Training
  pytorch/training/buildspec-2-5-sm.yml
Labels: build, pytorch, Size:XS, authorized

#4650 Fix critical CVE for go/lib
  pytorch/training/docker/2.3/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  src/patch_helper.py
Labels: src, build, pytorch, Size:S, authorized

#4651 Fix CVE for PT 2.3 training EC2 and PT 2.5 Training SM autopatch version specifier
  pytorch/training/docker/2.3/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#4620 Benchmark ARM64 PyTorch Inference
  src/benchmark_metrics.py
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/benchmark/run_pytorch_inference_performance.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
Labels: src, build, test, pytorch, benchmark, Size:S, authorized

#4645 Onboard PT2.6 Training to Autopatch
  pytorch/training/buildspec-2-5-ec2.yml
  pytorch/training/buildspec-2-6-ec2.yml
  pytorch/training/buildspec-2-6-sm.yml
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S, authorized

#4657 Patch PT 2.5 DLC
  pytorch/inference/docker/2.5/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#4661 Patch CVE for go/stdlib, torch, cross-spawn and golang.org/x/crypto
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, tensorflow, Size:S, authorized

#4666 patch release for lmi trt container
  release_images_inference.yml
Labels: Size:XS, authorized

#4663 Enable TF 2.18 SM autopatch
  tensorflow/training/buildspec-2-18-sm.yml
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, tensorflow, Size:XS, Size:S, authorized

#4664 Patch CVE for parrow, torch and enable auto-patch for TF2.18 sm training
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/inference/docker/2.3/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.3/py3/cu121/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, tensorflow, Size:S, authorized

#4672 lmi v14 patch
  release_images_inference.yml
Labels: Size:XS, authorized

#4673 Patch go
  data/common-ecr-scan-allowlist.json
  dlc_developer_config.toml
Labels: build, pytorch, Size:S, authorized
