Repository aws/deep-learning-containers, pull requests merged in 2025-07, with the labels that each got.

#4976 Patch PyTorch 2.7 sagemaker package
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.py_scan_allowlist.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.sagemaker.gpu.py_scan_allowlist.json
Labels: build, pytorch, Size:XS, authorized

#4983 Onboarding Tensorflow 2.19 Inference onto autopatch
  dlc_developer_config.toml
  tensorflow/inference/buildspec-2-19-sm.yml
  tensorflow/inference/docker/2.19/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.19/py3/cu122/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S, authorized

#4789 [TensorFlow][Training][Sagemaker] TensorFlow 2.19.0 Currency Release
  tensorflow/training/buildspec-2-19-sm.yml
  tensorflow/training/buildspec.yml
  tensorflow/training/docker/2.19/py3/Dockerfile.cpu
  tensorflow/training/docker/2.19/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.19/py3/cu125/Dockerfile.gpu
  tensorflow/training/docker/2.19/py3/cu125/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_smppy_local.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/local/test_training.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_smppy.py
Labels: src, build, test, tensorflow, ec2, sanity, Size:S, sagemaker_tests, authorized

#4979 TF2.19 ARM64 currency
  tensorflow/inference/buildspec-arm64-2-19-sm.yml
  tensorflow/inference/buildspec-arm64.yml
  tensorflow/inference/docker/2.19/py3/Dockerfile.arm64.cpu
  test/dlc_tests/ec2/test_telemetry.py
Labels: build, test, tensorflow, ec2, Size:S, authorized

#4991 Tensorflow_Training_2.19 Available images update
  available_images.md
Labels: Size:XS, authorized

#5003 update to v0.9.2
  vllm/buildspec.yml
  vllm/x86_64/gpu/Dockerfile
Labels: Size:XS, authorized

#4993 Tag build_tag_override rename
  pytorch/inference/buildspec-2-2-ec2.yml
  pytorch/inference/buildspec-2-2-sm.yml
  pytorch/inference/buildspec-2-3-ec2.yml
  pytorch/inference/buildspec-2-3-sm.yml
  pytorch/inference/buildspec-2-4-ec2.yml
  pytorch/inference/buildspec-2-4-sm.yml
  pytorch/inference/buildspec-2-5-ec2.yml
  pytorch/inference/buildspec-2-5-sm.yml
  pytorch/inference/buildspec-2-6-ec2.yml
  pytorch/inference/buildspec-2-6-sm.yml
  pytorch/inference/buildspec-arm64-2-5-ec2.yml
  pytorch/inference/buildspec-arm64-2-5-sm.yml
  pytorch/inference/buildspec-arm64-2-6-ec2.yml
  pytorch/inference/buildspec-arm64-2-6-sm.yml
  pytorch/inference/buildspec-graviton-2-2.yml
  pytorch/inference/buildspec-graviton-2-3.yml
  pytorch/inference/buildspec-graviton-2-4-ec2.yml
  pytorch/inference/buildspec-graviton-2-4-sm.yml
  pytorch/training/buildspec-1-13-ec2.yml
  pytorch/training/buildspec-1-13-sm.yml
  pytorch/training/buildspec-2-1-ec2.yml
  pytorch/training/buildspec-2-1-sm.yml
  pytorch/training/buildspec-2-2-ec2.yml
  pytorch/training/buildspec-2-2-sm.yml
  pytorch/training/buildspec-2-3-ec2.yml
  pytorch/training/buildspec-2-3-sm.yml
  pytorch/training/buildspec-2-4-ec2.yml
  pytorch/training/buildspec-2-4-sm.yml
  pytorch/training/buildspec-2-5-ec2.yml
  pytorch/training/buildspec-2-5-sm.yml
  pytorch/training/buildspec-2-6-ec2.yml
  pytorch/training/buildspec-2-6-sm.yml
  pytorch/training/buildspec-2-7-ec2.yml
  pytorch/training/buildspec-2-7-sm.yml
  pytorch/training/buildspec-arm64-2-7-ec2.yml
  src/image_builder.py
  src/prepare_dlc_dev_environment.py
  tensorflow/inference/buildspec-2-14-ec2.yml
  tensorflow/inference/buildspec-2-14-graviton.yml
  tensorflow/inference/buildspec-2-14-sm.yml
  tensorflow/inference/buildspec-2-16-ec2.yml
  tensorflow/inference/buildspec-2-16-graviton.yml
  tensorflow/inference/buildspec-2-18-ec2.yml
  tensorflow/inference/buildspec-arm64-2-18-ec2.yml
  tensorflow/inference/buildspec-arm64-2-18-sm.yml
  tensorflow/training/buildspec-2-14-ec2.yml
  tensorflow/training/buildspec-2-16-ec2.yml
  tensorflow/training/buildspec-2-16-sm.yml
  tensorflow/training/buildspec-2-18-ec2.yml
  tensorflow/training/buildspec-2-18-sm.yml
  test/dlc_tests/sanity/quick_checks/test_buildspecs.py
Labels: build, pytorch, Size:S, authorized

#5005 vllm 0.9.2 release
  release_images_general.yml
Labels: Size:XS, authorized

#5013 Onboard images to public registry release
  release_images_general.yml
  release_images_patches.yml
Labels: Size:S, authorized

#5017 [PATCH] PyTorch Inference Images CVE Patch
  pytorch/inference/buildspec-2-5-ec2.yml
  pytorch/inference/buildspec-2-5-sm.yml
  pytorch/inference/buildspec-2-6-ec2.yml
  pytorch/inference/buildspec-2-6-sm.yml
  pytorch/inference/docker/2.5/py3/Dockerfile.cpu
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.gpu
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.gpu
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/test_nvjpeg.py
  test/test_utils/__init__.py
  test/test_utils/test_reporting.py
Labels: build, test, pytorch, tensorflow, ec2, Size:S, authorized

#5020 Fix gpu build
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.gpu
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.gpu
Labels: build, pytorch, Size:XS, authorized

#5023 Add TF2.19_ARM to release_image_patches
  release_images_patches.yml
Labels: Size:XS, authorized

#5026 fix security test failure
  pytorch/training/docker/2.5/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#5029 address Pt2.7 security test
  pytorch/training/docker/2.7/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:XS, authorized

#5006 Update EFA to 1.42 in ARM64 PyTorch 2.7
  pytorch/training/buildspec-arm64-2-7-ec2.yml
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.arm64.gpu
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.ec2.arm64.gpu.core_packages.json
Labels: build, pytorch, Size:XS, Size:S, authorized

#5036 test PT2.5 heavy
  pytorch/training/buildspec-2-5-ec2.yml
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu
Labels: build, pytorch, Size:XS, authorized

#5035 [PATCH] Tensorflow Training 2.19 SM CVE Patch
  tensorflow/training/docker/2.19/py3/cu125/Dockerfile.gpu
Labels: build, tensorflow, Size:XS, Size:S, authorized

#5047 add vLLM 0.9.2 changelog
  vllm/CHANGELOG.md
Labels: Size:XS, authorized

#5051 Fix Pytorch 2.7 GPU Dockerfile nccl path
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.gpu
Labels: build, pytorch, Size:XS, authorized

#5052 fix pytest pin
  test/sagemaker_tests/huggingface_pytorch/training/requirements.txt
Labels: test, Size:XS, sagemaker_tests, authorized

#5055 [djl] patch release for 0.32.0 TRT-LLM DLC
  release_images_inference.yml
Labels: Size:XS, authorized

#5068 Onboard PT INF to autopatch
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/inference/buildspec-2-5-ec2.yml
  pytorch/inference/buildspec-2-5-sm.yml
  pytorch/inference/buildspec-2-6-ec2.yml
  pytorch/inference/buildspec-2-6-sm.yml
  pytorch/inference/docker/2.5/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/inference/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
  pytorch/inference/docker/2.6/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#5076 Add --ignore-installed to lmi v2 pipdeptree install
  release/dlc_release_information.py
Labels: Size:XS, authorized

#5048 update EFA version for pytorch 2.4 training
  dlc_developer_config.toml
  pytorch/training/buildspec-2-4-ec2.yml
  pytorch/training/docker/2.4/py3/Dockerfile.cpu
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.gpu
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  release_images_patches.yml
  release_images_training.yml
Labels: build, pytorch, Size:S, authorized

#5071 Onboard PT TR to autopatch
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/training/buildspec-2-5-ec2.yml
  pytorch/training/buildspec-2-5-sm.yml
  pytorch/training/buildspec-2-6-ec2.yml
  pytorch/training/buildspec-2-6-sm.yml
  pytorch/training/buildspec-2-7-ec2.yml
  pytorch/training/buildspec-2-7-sm.yml
  pytorch/training/docker/2.5/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.7/py3/Dockerfile.sagemaker.cpu.core_packages.json
Labels: build, pytorch, Size:S, authorized

#5016 Add EKS test for vLLM
  eks_infrastructure/build_param.json
  eks_infrastructure/create_cluster.sh
  eks_infrastructure/helper.sh
  eks_infrastructure/namespace.yaml
  eks_infrastructure/rbac.yaml
  test/testrunner.py
  test/vllm/eks/eks_test.py
  test/vllm/eks/test_artifacts/eks-cluster.yaml
  test/vllm/eks/test_artifacts/fsx-lustre-pv.yaml
  test/vllm/eks/test_artifacts/fsx-lustre-pvc.yaml
  test/vllm/eks/test_artifacts/fsx-storage-class.yaml
  test/vllm/eks/test_artifacts/large-model-nodegroup.yaml
  test/vllm/eks/test_artifacts/vllm-deepseek-32b-lws-ingress.yaml
  test/vllm/eks/test_artifacts/vllm-deepseek-32b-lws.yaml
  test/vllm/trigger_test.py
  vllm/buildspec.yml
Labels: Size:S, authorized
