Repository aws/deep-learning-containers, pull requests merged in 2025-05, with the labels that each got.

#4762 chore: release tgi 2.6
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S, authorized

#4755 Patch 2025 04 28
  data/ignore_ids_safety_scan.json
  huggingface/pytorch/training/docker/2.5/py3/cu124/Dockerfile.gpu
  test/sagemaker_tests/huggingface_pytorch/training/conftest.py
Labels: build, test, huggingface, Size:XS, Size:S, sagemaker_tests, authorized

#4742 Upgrad from UL20 to AL2023 DLAMIs in DLC testing infra
  test/dlc_tests/benchmark/ec2/mxnet/test_performance_mxnet_inference.py
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/mxnet/inference/test_mxnet_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference_inductor.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/test_telemetry.py
  test/dlc_tests/sanity/quick_checks/test_generate_coverage_doc.py
  test/dlc_tests/sanity/test_pre_release.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
  test/test_utils/sagemaker.py
  test/test_utils/security.py
Labels: test, ec2, benchmark, sanity, Size:S, sagemaker_tests, authorized

#4779 remove eu-west-1 from test regions
  test/sagemaker_tests/huggingface_pytorch/training/conftest.py
Labels: test, Size:XS, sagemaker_tests, authorized

#4770 add SeeAct patches
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/SeeAct.md
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/patch-seeact.patch
Labels: Size:S, authorized

#4787 chore: patch neuronx images
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
  huggingface/pytorch/inference/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx.py_scan_allowlist.json
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx.py_scan_allowlist.json
Labels: build, huggingface, Size:XS, Size:S, authorized

#4784 Install OpenSSH to PT inference images
  miscellaneous_scripts/dockerfile_patch_script.sh
  test/dlc_tests/benchmark/ec2/pytorch/inference/test_performance_pytorch_inference.py
  test/dlc_tests/conftest.py
  test/dlc_tests/sanity/test_safety_check.py
  test/dlc_tests/sanity/test_utility_installation.py
  test/test_utils/__init__.py
  test/test_utils/ec2.py
Labels: build, test, pytorch, benchmark, sanity, Size:S, authorized

#4793 Add new patch for LLama
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/patch-aws-do-eks.tar.gz
Labels: Size:XS, authorized

#4792 Add new regions to telemetry and update with autopatch
  miscellaneous_dockerfiles/Dockerfile.autopatch
  src/deep_learning_container.py
  src/patch_helper.py
  test/dlc_tests/ec2/test_telemetry.py
  test/test_utils/__init__.py
Labels: src, test, ec2, benchmark, sanity, Size:S, authorized

#4798 [AutoGluon] Fix vulnerability for AutoGluon v1.3
  autogluon/inference/docker/1.3/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/inference/docker/1.3/py3/cu124/Dockerfile.gpu.py_scan_allowlist.json
  autogluon/training/docker/1.3/py3/Dockerfile.cpu.py_scan_allowlist.json
  autogluon/training/docker/1.3/py3/cu124/Dockerfile.gpu.py_scan_allowlist.json
Labels: build, Size:XS, autogluon, authorized

#4757 [PyTorch][ARM64][Training][EC2] PT 2.7.0 Release
  pytorch/training/buildspec-arm64-2-7-ec2.yml
  pytorch/training/buildspec-arm64.yml
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.arm64.gpu
  test/dlc_tests/conftest.py
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_1_13.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_1.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_2.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_3.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_4.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_5.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_6.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_arm64_2_7.py
  test/dlc_tests/ec2/test_curand.py
  test/test_utils/__init__.py
  test/test_utils/sagemaker.py
Labels: build, test, pytorch, ec2, Size:S, authorized

#4796 [AutoGluon] Release AutoGluon 1.3
  release_images_inference.yml
  release_images_training.yml
Labels: Size:S, authorized

#4804 Skip gdrcopy tests for PT2.4-2.6 training
  test/dlc_tests/ec2/test_gdrcopy.py
  test/test_utils/__init__.py
Labels: test, ec2, Size:S, authorized

#4805 [PyTorch][ARM64][Training] Fix gdrcopy version
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.arm64.gpu
Labels: build, pytorch, Size:XS, authorized

#4809 skip gdrcopy test for pt training
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_4.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_5.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_6.py
Labels: test, ec2, Size:XS, authorized

#4811 Release PT 2.7 arm64 training
  release_images_patches.yml
Labels: Size:S, authorized

#4815 Add PT 2.7 arm64 training to available_images
  available_images.md
Labels: Size:XS, authorized

#4810 Specify transfer bucket region in efa tests
  test/dlc_tests/conftest.py
  test/dlc_tests/ecs/conftest.py
  test/test_utils/__init__.py
Labels: test, ecs, Size:XS, Size:S, authorized

#4821 Fix "No Space left on device" issue in sagemaker_local_test
  test/dlc_tests/conftest.py
  test/test_utils/ec2.py
Labels: Size:XS, Size:S, authorized

#4827 fix common stage build
  src/image_builder.py
Labels: src, Size:XS, authorized

#4830 fix to_build logic
  src/image.py
Labels: src, Size:XS, authorized

#4833 update base buildspec path
  base/buildspec.yml
Labels: Size:XS, authorized

#4831 Update Available Images for Neuron SDK 2.23 Release
  available_images.md
Labels: Size:XS, authorized

#4834 Add dummy vllm buildspec file
  vllm/buildspec.yml
Labels: Size:XS, authorized

#4837 remove cache_from_tag
  src/image.py
  src/image_builder.py
Labels: src, Size:XS, authorized

#4838 Fix Base DLC Build
  base/x86_64/gpu/cu128/Dockerfile
  src/image.py
Labels: src, Size:XS, authorized

#4839 vLLM DLC
  data/common-ecr-scan-allowlist.json
  dlc_developer_config.toml
  scripts/install_efa.sh
  src/image_builder.py
  test/dlc_tests/sanity/test_pre_release.py
  test/dlc_tests/sanity/test_safety_report_file.py
  test/test_utils/__init__.py
  test/test_utils/security.py
  vllm/buildspec.yml
  vllm/x86_64/gpu/cu124/Dockerfile
Labels: src, test, sanity, Size:S, authorized

#4773 Add bash file and modify docker
  miscellaneous_scripts/bash_telemetry.sh
  pytorch/inference/docker/build_artifacts/torchserve-ec2-entrypoint.py
  pytorch/inference/docker/build_artifacts/torchserve-entrypoint.py
  pytorch/training/buildspec-2-5-ec2.yml
  pytorch/training/docker/build_artifacts/dockerd_entrypoint.sh
  pytorch/training/docker/build_artifacts/start_with_right_hostname.sh
  src/image_builder.py
  src/utils.py
  tensorflow/inference/buildspec-2-18-ec2.yml
  tensorflow/inference/buildspec-arm64-2-18-ec2.yml
  tensorflow/inference/docker/build_artifacts/dockerd_entrypoint.sh
  tensorflow/training/buildspec-2-18-ec2.yml
  tensorflow/training/buildspec-2-18-sm.yml
  tensorflow/training/docker/build_artifacts/dockerd-entrypoint.py
  tensorflow/training/docker/build_artifacts/dockerd_ec2_entrypoint.sh
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/pytorch_tests/test_pt_dlc_telemetry_test
  test/dlc_tests/container_tests/bin/pytorch_tests/test_pt_dlc_telemetry_test.py
  test/dlc_tests/container_tests/bin/testTelemetry
  test/dlc_tests/container_tests/bin/testTelemetry.py
  test/dlc_tests/container_tests/bin/test_tf_dlc_telemetry_test
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/pytorch/training/common_cases.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_4.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_5.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_6.py
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_arm64_2_7.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/dlc_tests/ec2/tensorflow/training/test_tensorflow_training.py
  test/test_utils/ec2.py
Labels: src, build, test, pytorch, tensorflow, ec2, Size:S, authorized

#4844 update telemetry for base and vllm, remove unused web_scraper
  base/x86_64/gpu/cu128/Dockerfile
  src/deep_learning_container.py
  src/image_builder.py
  test/dlc_tests/sanity/test_ecr_scan.py
  test/requirements.txt
  test/test_utils/ecr.py
  test/test_utils/security.py
  vllm/x86_64/gpu/cu124/Dockerfile
  web_scraper/README.md
  web_scraper/scraper_runner.py
  web_scraper/scrapy.cfg
  web_scraper/web_scraper/__init__.py
  web_scraper/web_scraper/items.py
  web_scraper/web_scraper/middlewares.py
  web_scraper/web_scraper/pipelines.py
  web_scraper/web_scraper/settings.py
  web_scraper/web_scraper/spiders/__init__.py
  web_scraper/web_scraper/spiders/cve_spiders.py
Labels: src, test, sanity, Size:XS, Size:S, authorized

#4847 skip non sanity/security mainline test for vllm/base image
  test/testrunner.py
Labels: Size:XS, authorized

#4853 Check cross-spawn allowlist
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.core_packages.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, test, pytorch, tensorflow, sanity, Size:XS, Size:S, authorized

#4866 Allowlist new torch CVE(same CVE, but different cvss score)
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.ec2.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/Dockerfile.sagemaker.graviton.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.ec2.graviton.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S, authorized

#4869 add release_images_general.yml
  release_images_general.yml
Labels: Size:S, authorized
