Repository aws/deep-learning-containers, pull requests merged in 2025-06, with the labels that each got.

#4876 Add telemetry to vllm entrypoint
  vllm/buildspec.yml
  vllm/x86_64/build_artifacts/dockerd_entrypoint.sh
  vllm/x86_64/gpu/cu124/Dockerfile
Labels: Size:XS, authorized

#4877 Allowlist torch for PT2.5 arm64
  pytorch/inference/docker/2.5/py3/Dockerfile.ec2.arm64.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/Dockerfile.sagemaker.arm64.cpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.ec2.arm64.gpu.os_scan_allowlist.json
  pytorch/inference/docker/2.5/py3/cu124/Dockerfile.sagemaker.arm64.gpu.os_scan_allowlist.json
Labels: build, pytorch, Size:S, authorized

#4885 fix typo
  available_images.md
Labels: Size:XS, authorized

#4886 Skip ap-northeast-2 for TF tests due to instability
  test/sagemaker_tests/__init__.py
Labels: test, Size:XS, sagemaker_tests, authorized

#4889 Fix core packages file
  pytorch/training/docker/2.7/py3/cu128/Dockerfile.ec2.arm64.gpu.core_packages.json
Labels: build, pytorch, Size:XS, authorized

#4890 Add license file content test
  miscellaneous_scripts/dockerfile_patch_script.sh
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.os_scan_allowlist.json
  test/dlc_tests/sanity/test_pre_release.py
Labels: build, test, pytorch, sanity, Size:S, authorized

#4898 update EFA to 1.41.0 vllm to 0.9.0.1
  base/x86_64/gpu/cu128/Dockerfile
  release_images_general.yml
  scripts/install_cuda.sh
  scripts/install_efa.sh
  test/dlc_tests/sanity/test_pre_release.py
  vllm/buildspec.yml
  vllm/x86_64/gpu/Dockerfile
Labels: test, sanity, Size:S, authorized

#4905 [djl-serving] 0.32.0 and 0.33.0 lmi image patch release
  release_images_inference.yml
Labels: Size:XS, Size:S, authorized

#4893 Fix EFA test to unblock BuildRCPipeline
  test/dlc_tests/container_tests/bin/efa/testEFA
Labels: build, pytorch, Size:XS, Size:S, authorized

#4883 [TensorFlow][Inference][Sagemaker] TensorFlow 2.19.0 Currency Release
  tensorflow/inference/buildspec-2-19-sm.yml
  tensorflow/inference/buildspec.yml
  tensorflow/inference/docker/2.19/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.19/py3/cu122/Dockerfile.gpu
  tensorflow/inference/docker/2.19/py3/cu122/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/conftest.py
Labels: build, test, pytorch, tensorflow, ec2, sanity, Size:S, sagemaker_tests, authorized

#4907 update available_images.md for vllm version
  available_images.md
Labels: Size:XS, authorized

#4871 [test][ec2] Add IPv6 EFA NCCL Test
  dlc_developer_config.toml
  src/config.py
  src/start_testbuilds.py
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/efa/testEFA
  test/dlc_tests/ec2/test_efa.py
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
  test/test_utils/ec2.py
  test/testrunner.py
Labels: src, build, test, pytorch, ec2, sanity, Size:S, authorized

#4922 add changelog file for vllm dlc
  vllm/CHANGELOG.md
Labels: Size:S, authorized

#4941 Increase instance type size for graviton/arm64 cpu deep canaries
  test/dlc_tests/ec2/pytorch/inference/test_pytorch_inference.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
Labels: test, ec2, Size:XS, authorized

#4919 [pytorch] [build] [training] [ec2, sagemaker] Upgrade pytorch 2.6 gdrcopy to 2.5 and add telemetry
  pytorch/training/buildspec-2-6-ec2.yml
  pytorch/training/buildspec-2-6-sm.yml
  pytorch/training/docker/2.6/py3/Dockerfile.cpu
  pytorch/training/docker/2.6/py3/Dockerfile.ec2.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/Dockerfile.sagemaker.cpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.ec2.gpu.core_packages.json
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.gpu
  pytorch/training/docker/2.6/py3/cu126/Dockerfile.sagemaker.gpu.core_packages.json
  test/dlc_tests/ec2/pytorch/training/test_pytorch_training_2_6.py
Labels: build, test, pytorch, ec2, Size:XS, Size:S, authorized

#4806 Add aws-do-eks logic to use latest master scripts for Llama
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/patch-aws-do-eks.tar.gz
  examples/dlc-llama-3-finetuning-and-hosting-with-agent/patch-llama-cookbook.tar.gz
Labels: Size:XS, no-pr-activity, authorized

#4946 patch efa 1.42.0
  scripts/install_efa.sh
  vllm/x86_64/gpu/Dockerfile
Labels: Size:XS, Size:S, authorized

#4957 [trtllm-0.33.0] Update release_images_inference.yml with trtllm version for djl-serving 0.33.0 release
  release_images_inference.yml
Labels: Size:XS, authorized

#4961 [trtllm] Update release_images_inference.yml to remove rc1 from TensorRT version
  release_images_inference.yml
Labels: Size:XS, authorized

#4962 Patch jupyter allowlist
  pytorch/training/docker/2.4/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.4/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.ec2.gpu.os_scan_allowlist.json
  pytorch/training/docker/2.5/py3/cu124/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
Labels: build, pytorch, tensorflow, Size:S, authorized

#4971 Post release process for TF2.19_inference_SM
  available_images.md
Labels: Size:XS, authorized

#4977 Fix autogluon license test
  test/dlc_tests/sanity/test_pre_release.py
Labels: test, sanity, Size:XS, authorized

#4972 Fix TF entrypoint and clean up patch script
  miscellaneous_dockerfiles/Dockerfile.autopatch
  miscellaneous_scripts/dockerfile_patch_script.sh
  src/patch_helper.py
  test/dlc_tests/sanity/test_anaconda.py
Labels: src, build, test, tensorflow, sanity, Size:S, authorized
