Repository aws/deep-learning-containers, pull requests merged in 2025-01, with the labels that each got.

#4481 dummy commit
  release_images_inference.yml
Labels: Size:XS

#4480 Update python dependencies for neuronx 2.1.2
  huggingface/pytorch/training/docker/2.1/py3/sdk2.20.0/Dockerfile.neuronx
Labels: src, build, huggingface, Size:XS, Size:S

#4483 [djl] patch releases for djl-lmi container v28-v31
  release_images_inference.yml
Labels: Size:S

#4484 Update available images markdown
  available_images.md
Labels: Size:XS

#4487 Remove mxnet builds from dev config
  dlc_developer_config.toml
  test/dlc_tests/sanity/quick_checks/test_dlc_developer_config.py
Labels: test, sanity, Size:XS, Size:S

#4488 add dummy buildspec for PT arm64 training
  pytorch/training/buildspec-arm64.yml
Labels: build, pytorch, Size:XS

#4489 [djl] neuronx patch releases for 0.28.0, 0.29.0,0.30.0
  release_images_inference.yml
Labels: Size:S

#4492 [djl] cpu patches for 0.28.0 - 0.31.0
  release_images_inference.yml
Labels: Size:XS

#4486 Add python sitecustomize file
  miscellaneous_scripts/dlc_template.py
  pytorch/inference/docker/2.4/py3/Dockerfile.cpu
  pytorch/inference/docker/2.4/py3/cu124/Dockerfile.gpu
  src/image_builder.py
  src/utils.py
  test/dlc_tests/container_tests/bin/pytorch_tests/test_pt_dlc_telemetry_test.py
  test/dlc_tests/container_tests/bin/test_tf_dlc_telemetry_test.py
Labels: src, build, pytorch, Size:S

#4491 Add a tag for the latest released image SHA for autopatch images
  src/patch_helper.py
Labels: src, Size:XS, Size:S

#4497 [huggingface_pytorch] [inference] [2.3] Update libmysofa1
  huggingface/pytorch/inference/docker/2.3/py3/Dockerfile.cpu
Labels: build, huggingface, Size:XS, Size:S

#4495 [Bug fix] Add new lastsha tag to front of list instead of last + downgrade boto3
  src/patch_helper.py
Labels: src, Size:XS, Size:S

#4493 [TensorFlow][Inference][EC2][SageMaker] TensorFlow 2.18.0 Currency Release
  dlc_developer_config.toml
  tensorflow/inference/buildspec-2-18-ec2.yml
  tensorflow/inference/buildspec-2-18-sm.yml
  tensorflow/inference/buildspec-arm64.yml
  tensorflow/inference/buildspec.yml
  tensorflow/inference/docker/2.18/py3/Dockerfile.cpu
  tensorflow/inference/docker/2.18/py3/Dockerfile.ec2.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.18/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.18/py3/cu122/Dockerfile.ec2.gpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.18/py3/cu122/Dockerfile.gpu
  tensorflow/inference/docker/2.18/py3/cu122/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/conftest.py
  test/dlc_tests/container_tests/bin/tensorflow_serving/example/create_tensorrt_model.py
  test/dlc_tests/ec2/tensorflow/inference/test_tensorflow_inference.py
  test/sagemaker_tests/tensorflow/inference/test/integration/local/test_pre_post_processing_mme4.py
Labels: build, test, tensorflow, ec2, Size:S, sagemaker_tests

#4499 [TensorFlow][Inference][EC2][SageMaker][Arm64] TensorFlow 2.18.0 Currency Release
  tensorflow/inference/buildspec-arm64-2-18-ec2.yml
  tensorflow/inference/buildspec-arm64-2-18-sm.yml
  tensorflow/inference/buildspec-arm64.yml
  tensorflow/inference/docker/2.18/py3/Dockerfile.arm64.cpu
  tensorflow/inference/docker/2.18/py3/Dockerfile.ec2.arm64.cpu.os_scan_allowlist.json
  tensorflow/inference/docker/2.18/py3/Dockerfile.sagemaker.arm64.cpu.os_scan_allowlist.json
Labels: build, test, tensorflow, Size:S, sagemaker_tests

#4505 [djl][tensorrt] patch releases for 0.29.0 and 0.31.0
  release_images_inference.yml
Labels: Size:S

#4506 Comment out arm64/graviton entries from release_images_patches
  release_images_patches.yml
Labels: Size:S

#4507 Add x86 TFS 2.18 inference images to release
  release_images_patches.yml
Labels: Size:S

#4498 Tf 216 bug
  tensorflow/training/docker/2.16/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.16/py3/cu123/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:XS

#4503 [TensorFlow][Training][SageMaker] TensorFlow 2.18.0 Currency Release
  tensorflow/training/buildspec-2-18-sm.yml
  tensorflow/training/buildspec.yml
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.os_scan_allowlist.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.os_scan_allowlist.json
  test/dlc_tests/sanity/test_pre_release.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/conftest.py
  test/sagemaker_tests/tensorflow/tensorflow2_training/integration/sagemaker/test_mnist.py
Labels: build, test, tensorflow, sanity, Size:S, sagemaker_tests

#4504 Check tf218 training efa test
  test/dlc_tests/container_tests/bin/efa/testEFA
  test/dlc_tests/ec2/test_efa.py
  test/test_utils/ec2.py
Labels: test, ec2, Size:XS, Size:S

#4511 [fix][djl][tensorrt] add missing cuda_version parameter to djl trt im…
  release_images_inference.yml
Labels: Size:XS

#4510 Add tf2.18 training images to release
  release_images_patches.yml
Labels: Size:S

#4512 Add tf2.18 to available images
  available_images.md
Labels: Size:S

#4513 [djl][lmi] patch release of 0.29.0
  release_images_inference.yml
Labels: Size:XS

#4501 Patch 2025 01 22
  huggingface/pytorch/inference/buildspec.yml
  huggingface/pytorch/inference/docker/2.3/py3/Dockerfile.cpu
  huggingface/pytorch/inference/docker/2.3/py3/cu121/Dockerfile.gpu
Labels: build, huggingface, Size:XS, Size:S

#4509 Revert temp boto3 fix and pin awscli/boto3
  src/patch_helper.py
  src/requirements.txt
  test/requirements.txt
Labels: src, Size:XS, Size:S

#4514 Add TF 2.18 Inf to Autopatch
  tensorflow/inference/buildspec-2-18-ec2.yml
  tensorflow/inference/buildspec-2-18-sm.yml
  tensorflow/inference/docker/2.18/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/inference/docker/2.18/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/inference/docker/2.18/py3/cu122/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/inference/docker/2.18/py3/cu122/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S

#4516 Add TF2.18 Training Images to Autopatch
  tensorflow/training/buildspec-2-18-ec2.yml
  tensorflow/training/buildspec-2-18-sm.yml
  tensorflow/training/docker/2.18/py3/Dockerfile.ec2.cpu.core_packages.json
  tensorflow/training/docker/2.18/py3/Dockerfile.sagemaker.cpu.core_packages.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.ec2.gpu.core_packages.json
  tensorflow/training/docker/2.18/py3/cu125/Dockerfile.sagemaker.gpu.core_packages.json
Labels: build, tensorflow, Size:S

#4524 bump version of transformers and ubuntu for huggingface-pytorch-infer…
  release_images_inference.yml
Labels: Size:XS
